{% extends "base.html" %}

{% block title %} {% if form_operation == "update" %}Edit an existing scheduled execution flow{% else %}Create a new scheduled execution flow{% endif %} {% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'switch.css' %}" />

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
	<script src="{% static 'mermaid/mermaid.min.js' %}"></script>


    <script>
        $(document).ready(function () {
            $( '#icon_question_cron_expression' ).tooltip({
                content: $('#t_cron_expression').html(),
                open: function (event, ui) {
                    ui.tooltip.css("max-width", "900px");
                }
            });

            refreshNextRun();
        });

        $("#id_cron_expression").blur(function() {
            refreshNextRun();
        });

        function refreshNextRun() {
            var cron = $("#id_cron_expression").val();
            if (cron){
                // getting the CSRF token (see https://docs.djangoproject.com/en/1.11/ref/csrf/)
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                $.ajax({
                    type: 'POST',
                    url: '{% url "scheduler_get_next_run" %}',
                    data: {'cron':cron},
                    timeout: 20000,
                    accepts: {
                        text: "application/json"
                    },
                    success: function (_date, text) {
                        $("#l_next_run").text(_date);
                    },
                    error: function (request, status, error) {
                        $("#l_next_run").text("Warning! The server cannot be called! " + request.status + "(" + request.statusText + ")  " + request.responseText);
                    }
                });
            }
        }

    </script>

    <div class="heading1">Scheduler administration - {% if form_operation == "update" %}Edit{% else %}Create{% endif %}</div>

    <div class="container" style="padding-top: 30px;">
        <form method="post">
            {% csrf_token %}
			{{ form.non_field_errors }}

            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Name :</label> <span class="glyphicon glyphicon-asterisk"></span>
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ form.cron_expression.id_for_label }}">Cron expression:</label> <span class="glyphicon glyphicon-asterisk"></span> <span id="icon_question_cron_expression" class="glyphicon glyphicon-question-sign" title=""></span>
                        {{ form.cron_expression }}
                        {{ form.cron_expression.errors }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ form.execution_flow.id_for_label }}">Execution flow:</label> <span class="glyphicon glyphicon-asterisk"></span>
                        {{ form.execution_flow }}
                        {{ form.execution_flow.errors }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label >The description of the interpreted cron expression:</label>
                {{ cron_expression_description }}
            </div>
            <div class="form-group">
                <label>The next possible run of the flow:</label>
                <label id="l_next_run" style="font-weight: normal; font-style: italic;"></label>
            </div>
            <div class="form-group">
                <label for="{{ form.reason.id_for_label }}">Reason:</label>
                {{ form.reason }}
                {{ form.reason.errors }}
            </div>

            <input type="submit" value="Save" class="btn btn-primary"/>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Cancel</a>
        </form>

    </div>

<!-- TOOLTIP for cron expression -->
<div id="t_cron_expression"  style="width: 990px;display:none">
<pre><b>* * * * * *</b>
| | | | | |
| | | | | +-- Day of week       (range: 0-7 (0 or 7 is Sun, or use names))
| | | | +---- Month             (range: 1-12 (or names))
| | | +------ Day of month      (range: 1-31)
| | +-------- Hour              (range: 0-23)
| +---------- Minute            (range: 0-59)
+------------ Second            (range: 0-59)</pre>
<p>A field may be an asterisk (*), which always stands for <i>first-last</i>.</p>
<p>Ranges of numbers are allowed.  Ranges are two numbers separated with a
hyphen.  The specified range is inclusive.  For example, 8-11 for an
<i>hours</i> entry specifies execution at hours 8, 9, 10 and 11.</p>
<p>Lists are allowed.  A list is a set of numbers (or ranges) separated by
commas.  Examples: <i>1,2,5,9</i>, <i>0-4,8-12</i>.</p>
<p>Step values can be used in conjunction with ranges.  Following a range
with `<i>number</i> specifies skips of the number's value through the
range.  For example, <i>0-23/2</i> can be used in the hours field to specify
command execution every other hour (the alternative in the V7 standard is
<i>0,2,4,6,8,10,12,14,16,18,20,22</i>).  Steps are also permitted after an
asterisk, so if you want to say <i>every two hours</i>, just use <i>*/2</i>.</p>

</div>
{% endblock %}