{% extends "base.html" %}

{% block title %}Scheduler administration{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>

    <script>
        $(document).ready(function () {
            // displaying an error dialog if error occurred during the REST call
            {% if successful %}
                $("#l_error_message").html('{{errorMessage}}');
                $("#d_error").removeClass("hide");
                $("#d_error").dialog( "open" )
            {% endif %}
        });
    </script>

    <!-------------------------------------- MAIN CONTENT -------------------------------------------->
    <div class="heading1">Scheduler administration</div>

    <div class="container">
        <table class="data_table table-hover">
            <tr>
                <th class="data_table_header">
                    <a href="?{% url_replace order='name' filter_name=filter_name filter_reason=filter_reason filter_cron_expression=filter_cron_expression filter_execution_flow__name=filter_execution_flow__name filter_scheduled_already=filter_scheduled_already %}">Name</a>
                    {% autoescape off %}{% table_header_sort_icon 'name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='reason' filter_name=filter_name filter_reason=filter_reason filter_cron_expression=filter_cron_expression filter_execution_flow__name=filter_execution_flow__name filter_scheduled_already=filter_scheduled_already %}">Reason</a>
                    {% autoescape off %}{% table_header_sort_icon 'reason' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='cron_expression' filter_name=filter_name filter_reason=filter_reason filter_cron_expression=filter_cron_expression filter_execution_flow__name=filter_execution_flow__name filter_scheduled_already=filter_scheduled_already %}">Cron expression</a>
                    {% autoescape off %}{% table_header_sort_icon 'cron_expression' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='execution_flow__name' filter_name=filter_name filter_reason=filter_reason filter_cron_expression=filter_cron_expression filter_execution_flow__name=filter_execution_flow__name filter_scheduled_already=filter_scheduled_already %}">Execution flow</a>
                    {% autoescape off %}{% table_header_sort_icon 'execution_flow__name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='scheduled_already' filter_name=filter_name filter_reason=filter_reason filter_cron_expression=filter_cron_expression filter_execution_flow__name=filter_execution_flow__name filter_scheduled_already=filter_scheduled_already %}">Already scheduled?</a>
                    {% autoescape off %}{% table_header_sort_icon 'scheduled_already' %}{% endautoescape %}
                </th>
                <th class="data_table_header">Error at last run</th>

                <th colspan="3"/>
            </tr>
            <tr>
                <form method="get" action="{% url 'scheduler_list' %}">

                <td>
                    <input type="text" value="{{filter_name}}" name="filter_name" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_reason}}" name="filter_reason" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_cron_expression}}" name="filter_cron_expression" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_execution_flow__name}}" name="filter_execution_flow__name" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_scheduled_already}}" name="filter_scheduled_already" style="width: 100%;"/>
                </td>
                <td/>
                <td colspan="3" style="width: 110px;">
                    <input type="submit" name="submit" value="Filter!" class="btn btn-info"/>
                </td>
                </form>
            </tr>
        {% for scheduled_execution_flow in object_list %}
            <tr class="{% cycle 'data_table_event_odd' 'data_table_even_line' %}">
                <td>{{ scheduled_execution_flow.name }}</td>
                <td title="{{scheduled_execution_flow.reason}}">{{ scheduled_execution_flow.reason|truncatechars:40 }}</td>
                <td>{{ scheduled_execution_flow.cron_expression }}</td>
                <td title="{{scheduled_execution_flow.execution_flow}}">{{ scheduled_execution_flow.execution_flow.name|truncatechars:40 }}</td>
                <td {% if scheduled_execution_flow.scheduled_already %}style="color:green"{% else %}style="color:red"{% endif %}>{{ scheduled_execution_flow.scheduled_already }}</td>
                <td title="{{ scheduled_execution_flow.error_at_last_run|default_if_none:""|truncatechars:600 }}">{{ scheduled_execution_flow.error_at_last_run|default_if_none:""|truncatechars:30 }}</td>
                <td style="width: 60px;">
                    <a href="{% url 'scheduler_update' pk=scheduled_execution_flow.id %}">Edit</a>
                </td>
                <td style="width: 60px;">
                    <a href="{% url 'scheduler_delete' pk=scheduled_execution_flow.id %}" onclick="return confirm('Are you sure to delete the scheduled execution flow?')">Delete</a>
                </td>
                <td>
                    {% if scheduled_execution_flow.scheduled_already == False %}
                        <a href="{% url 'scheduler_start' pk=scheduled_execution_flow.id %}" onclick="return confirm('Are you sure to start to schedule of the execution flow?')" title="Schedule it!"> <span class="glyphicon glyphicon-time"></span> </a>
                    {% else %}
                        <a href="{% url 'scheduler_stop' pk=scheduled_execution_flow.id %}" onclick="return confirm('Are you sure to deschedule the scheduled execution flow?')" title="Deschedule it!"> <span class="glyphicon glyphicon-minus-sign"></span> </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
            <tr>
                {# .... **Now the pagination section** .... #}
                <td colspan="9">
                {% if is_paginated %}
                    <span class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="?{% url_replace page=page_obj.previous_page_number %}" class="btn btn-info">&#60;&#60; Previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?{% url_replace page=page_obj.next_page_number %}" class="btn btn-info">Next &#62;&#62;</a>
                            {% endif %}
                        </span>
                    </span>
                {% endif %}
                </td>
            </tr>
            {# .... **the Create,... buttons** .... #}
            <tr>
                <td colspan="9">
                    <a href="{% url 'scheduler_create'%}" class="btn btn-primary">Create</a>
                </td>
            </tr>
        </table>

    </div>

{% endblock %}