/*@import url('https://fonts.googleapis.com/css?family=Work+Sans');*/
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    /*font-family: Work Sans;*/
    font-family: Bookman;
    font-size: 160%;
}

a {
	cursor:pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 35px;
    background-color: #f5f5f5;
}

.footer_separator {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0px;
    margin: 0px;
}

.content {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 39px;
    padding-right: 0px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}


/* fixed header
-------------------------------------------------- */
.header {
    height: 35px;
    background: #555;
    color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header_separator {
    display: block;
    height: 0px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 0px 0;
    padding: 0;
    margin-top: 35px;
}

.brand_name {
    font-size: 200%
    font-weight: bolder;
    padding: 5px 5px 5px 40px;
    display: inline-block;
}

.header_icon {
    display: inline-block;
    padding-top: 5px;
}

.header_icon a {
    padding-left: 10px;
    font-size: 20px;
    color: white;
}

.header_icon a:hover {
    color: #bababa;
}


/* Data table CSS
-------------------------------------------------- */
.data_table {
    border-collapse: collapse;
    margin: 30px auto;
    width: 100%;
}

.data_table td {
    border-spacing: 0px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    border-right: solid 1px #ddd;
}

.data_table th {
    text-align: center;
    padding: 3px;
}

.data_table th a {
    color: white;
}

.data_table_header {
    background-color: #808080;
    padding: 2px;
    border: 1px solid #ddd;
}

.data_table_even_line {
    background-color: #f5f5f5
}

.data_table_event_odd {
    background-color: white;
}


/* Event source tree CSS
-------------------------------------------------- */
.tree ul {
    list-style: none outside none;
}
.tree li a {
    line-height: 25px;
}
.tree > ul > li > a {
    #display: block;
    position: relative;
    text-decoration: none;
}
.tree li.parent > a {
    padding: 0 0 0 28px;
}
.tree li.parent > a:before {
    background-image: url('images/plus_minus_icons.png');
    background-position: 25px center;
    content: "";
    display: block;
    height: 21px;
    left: 0;
    position: absolute;
    top: 2px;
    vertical-align: middle;
    width: 23px;
}
.tree ul li.active > a:before {
    background-position: 0 center;
}
.tree ul li ul {
    border-left: 1px solid #D9DADB;
    display: none;
    margin: 0 0 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}
.tree ul li ul li {
    position: relative;
}
.tree ul li ul li:before {
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}

.tree_node_group {
    font-style: normal;
}
.tree_node_item {
    font-weight: bold;
}

.event-source-tree-element-tooltip {
    background: white;
    border: 2px solid grey;
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    box-shadow: 0 0 7px black;
    width: 1200px !important;
    max-width: 1200px !important;
    overflow:auto !important;
}


/* Mermaid
-------------------------------------------------- */
.mermaid-container {
    background-color: #f7f7f7;
    width: 100%;
    overflow-x: auto;
}

/* menu
-------------------------------------------------- */
.sidenav {
    height: 100%;
    width: 39px;
    position: fixed;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    z-index: 1;
}

.sidenav-icon {
    cursor: pointer;
    z-index: 0;
    /*padding: 2px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.sidenav-icon a span {
    font-size: 25px;
}

.sidenav-icon a {
    color: white;
}

.sidenav-icon a:hover {
    color: #bababa;
}


.sidenav-bar1, .sidenav-bar2, .sidenav-bar3 {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 1;
}

.sidenav-change .sidenav-bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.sidenav-change .sidenav-bar2 {
    opacity: 0;
}

.sidenav-change .sidenav-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*.menu-icon {
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
    color: white;
}*/

.menunav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 39px;
    background-color: #303030;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    z-index: 1;
}

.menunav a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menunav a:hover {
    color: #f1f1f1;
}

.menunav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-sub-item {
    padding-left: 25px;
    color: white;
}

.menu-item a {
    font-size: 100%;
    padding: 5px 0px 0px 10px;
}
.menu-item a > span {
    font-size: 100%;
    padding-right: 7px;
}

.menu_h1 {
    font-size: 100%;
    color: white;
    padding: 10px 0px 0px 10px;
}

/* loader
-------------------------------------------------- */
.loader {
    border: 26px solid #f3f3f3; /* Light grey */
    border-top: 26px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
}

.loader_small {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loadingDiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
    text-align:center;
    vertical-align:middle;
    line-height:90px;
}

.loadingDivPanel {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
    text-align:center;
    vertical-align:middle;
    /*line-height: 90px;*/
}


/* Dashboard
-------------------------------------------------- */

.dashboard_square_parent {
    padding: 10px;
    padding: 0.8vw;
}

.dashboard_square {
    border-radius: 6px;
    width: 100%;
    max-width: 500px;
    /*max-width: 20vw;*/
    height: 44%;
    max-height: 450px;
    display: inline-block;
    padding: 40px;
}

.dashboard_square_non_empty {
    width: 100%;
    height: 100%;
    display:none;
    position:absolute;
    top:0;
    left:0;
}

.dashboard_square_empty {
    display:none;
    position:absolute;
    top:0;
    left:0;
    cursor: pointer;
}

.dashboard_square_empty_label {
    color: #e6e6e6;
    font-size: 28px;
    font-size: 1.7vw;
    padding: 20px 10px 10px 10px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.dashboard_p2_flowname {
    color: #e6e6e6;
    font-size: 14px;
    font-size: calc(7px + 0.68vw);
    padding: 8px 8px 0px 8px;
    text-overflow: ellipsis;
    /* the following 3 lines make the 'text-overflow: ellipsis;' work after the 3rd line but only in Chrome at the moment */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 88%;
    line-height: calc(5px + 0.7vw);
    height: calc(21px + 2.1vw);
}

.dashboard_p2_flowname:hover {
    color: #e6e6e6;
}

.dashboard_p2_flowcount {
    color: white;
    font-size: 20px;
    font-size: 1.4vw;
    padding-right: 7px;
}

.dashboard_p1_label {
    font-size: 14px;
    font-size: calc(7px + 0.5vw);
    color: gray;
}

.dashboard_p1_value {
    font-size: 14px;
    font-size: calc(7px + 0.5vw);
}

.dashboard_p1_data {
    padding: 5px 5px 5px 25px;
}

.dashboard_p2_total_inc_label {
    color:#e6e6e6;
    font-size: 10px;
    font-size: calc(7px + 0.4vw);
    padding: 0px;
}

.dashboard_p2_total_inc_label a {
    color:#e6e6e6;
}

.dashboard_square_separator_div {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 14px;
    padding-left: 14px;
}

.dashboard_markers_top_icon {
    font-size: 35px;
    padding: 7px;
}

.dashboard_markers_top_value {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    color: black;
}

.dashboard_markers_top_container {
    background-color: #f5f5f5;
    display: inline-block;
    padding: 10px; 10px; 10px; 10px;
    margin: 10px 10px 20px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/* Others
-------------------------------------------------- */
.path_at_event_source {
    margin: 20px auto 0px;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
}

.del_ifelse_warning {
    color: red;
    font-weight: bold;
}

.log_header_pattern_textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 250px;
    resize: vertical;
}

.log_header_pattern_this_is tr td {
    padding-top: 15px;
    padding-left: 5px;
}

.future_event {
    font-style: italic;
    font-weight: bold;
}

.hide {
    display: none;
}

.errorlist {
    font-weight: bold;
    color: red;
}

/*.heading1 {
    margin: 1em 0 0.5em 0;
    color: #343434;
	font-weight: normal;
	font-size: 30px;
	line-height: 42px;
	text-transform: capitalize;
	text-shadow: 0 1px white, 0 2px #777;
	text-align: center;
}*/
.heading1 {
    width: 100%;
    height: 45px;
    background-color: #82b0ff;
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
}

.ed_step_text {
    font-size: 20px;
    font-weight: bold;
    color: #a8a8a8;
    text-align: center;
}

.ed_step_nr {
    font-size: 35px;
    font-weight: bolder;
    color: #a8a8a8;
    text-align: center;
}

.ed_step {
    padding-top: 12px;
    padding-bottom: 12px;
}

.ed_step_header {
    padding-top: 3px;
    padding-bottom: 10px;
}

.make_it_disappear {
    display: none !important;
}

.loop_separator_textfield {
    width: 8% !important;
}

.loop_separator_label {
    width: 95px !important;
}

.loop_separator_placeholder_var_label {
    width: 227px !important;
}

.loop_separator_placeholder_var_textfield {
    width: 20% !important;
}

.loop_req_encryption_label {
    width: 190px !important;
}

.loop_req_encryption_checkbox {
    width: 20px !important;
}

.hr-loop-value-list {
    margin: 7px 20px 7px 20px;
}

.nodelabel i:not(.fa-sync){
    display: block;
    margin-bottom: 5px;
}

.table-hover tbody tr:hover td {
    background: #d6e0f5;
}

.monitoring-loop-filter {
    padding-bottom: 15px;
    padding-top: 10px;
}
.monitoring-loop-filter select {
    margin-right: 15px;
    max-width: 25vw;
}

div.ui-tooltip {
    max-width: 900px;
}