{% extends "base.html" %}

{% block title %}{% if form_operation == "update" %}Edit an existing error detector{% else %}Create a new error detector{% endif %}{% endblock %}

{% block content %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'switch.css' %}" />

    <script src="{% static 'js/building_identifiers.js' %}"></script>

    <script>
        var urlForRebuildIdentifiers = "{% url 'admin_errordetector_event_source' pk='43957793052297467' %}";
        var eventSourceToEventSourceType = JSON.parse("{{ event_source_to_event_source_type|default_if_none:"{}"|escapejs }}");
        var ifContainsReactionWorker = JSON.parse("{{ if_contains_reaction_worker|default_if_none:"{}"|escapejs }}");

        $(document).ready(function() {
            buildIdentifiers(JSON.parse("{{object.identifiers|default_if_none:"{}"|escapejs}}"), {{object.event_source.pk}});
        });

        function escapeMessagePattern() {
            var pattern = $("#id_message_pattern").val();
            $("#id_message_pattern").val( pattern.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, '\\$&') );
            $("#b_escape").prop('disabled', true);
        }

        function loadIdentifierTable(identifiers, path_to_identifiers) {
            $("#div_identifiers").show();
            $("#table_identifiers").find("tr:gt(0)").remove();
            numRows = 1;
            for(let i=0; i<path_to_identifiers.length; i++) {
                addRowToIdentifiers(path_to_identifiers[i], identifiers, true);
            }
        }

        function rebuildIdentifiers() {
            let event_source_id = $("#id_event_source").val();
            buildIdentifiers({}, event_source_id);
        }

        function buildIdentifiers(identifiers, event_source_id) {
            $("#div_step_3").hide();
            $("[id^='identifiers_name_']").remove();
            $("[id^='identifiers_value_']").remove();
            $("#div_message_pattern").hide();
            $("#id_message_pattern").prop('required',false);
            if (ifContainsReactionWorker[event_source_id]) {
                $("#div_step_3").show();
                $("#div_message_pattern").show();
                $("#id_message_pattern").prop('required',true);
            }
            $("#div_identifiers").hide();
            if (eventSourceToEventSourceType[event_source_id] && eventSourceToEventSourceType[event_source_id].length) {
                $("#div_step_3").show();
                loadIdentifierTable(identifiers, eventSourceToEventSourceType[event_source_id]);
            }
        }

        function removeRelatedEvents() {
            if (confirm('!!!! WARNING !!!!\nAre you sure that you want to remove the full history (i.e. all the events) of this error detector?')) {
                $("#loadingDiv").show();
                link = '{% url 'admin_errordetector_remove_history' pk=object.id %}';
                window.location = link;
            }
        }
    </script>

    <div class="heading1">Error Detector administration - {% if form_operation == "update" %}Edit{% else %}Create{% endif %}</div>

    <div class="container" style="padding-top: 30px;">
		<form method="post" id="f_error_detector_update" onsubmit="return convertIdentifiersToJSON(document.forms.f_error_detector_update)">
			{% csrf_token %}
			{{ form.non_field_errors }}

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-2">
                    <label for="{{ form.name.id_for_label }}" style="padding-top: 8px;">Name :</label> <span class="glyphicon glyphicon-asterisk"></span>
                </div>
                <div class="col-md-10">
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
            </div>

            <div class="row ed_step">
                <div class="col-md-1">
                    <div class="ed_step_text">Step</div>
                    <div class="ed_step_nr">1</div>
                </div>
                <div class="col-md-11">
                    <div class="ed_step_header">Please specify <b>WHERE</b> to investigate (select an event source to be observed)!</div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="{{ form.event_source.id_for_label }}" style="padding-top: 8px;">Event source:</label>
                            <span class="glyphicon glyphicon-asterisk"></span>
                            <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Those GROUP event sources that don't have at least one ITEM child event source will be ignored in this list!&#10;Only the valid event sources are used to populate this list."></span>
                        </div>
                        <div class="col-md-10">
                            {{ form.event_source }}
                            {{ form.event_source.errors }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ed_step">
                <div class="col-md-1">
                    <div class="ed_step_text">Step</div>
                    <div class="ed_step_nr">2</div>
                </div>
                <div class="col-md-11">
                    <div class="ed_step_header">Please specify <b>HOW</b> to resolve the incident (select a flow that will remedy the problem)!</div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="{{ form.execution_flow.id_for_label }}" style="padding-top: 8px;">Execution flow:</label> <span class="glyphicon glyphicon-asterisk"></span>
                        </div>
                        <div class="col-md-10">
                            {{ form.execution_flow }}
                            {{ form.execution_flow.errors }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ed_step" id="div_step_3">
                <div class="col-md-1">
                    <div class="ed_step_text">Step</div>
                    <div class="ed_step_nr">3</div>
                </div>
                <div class="col-md-11">
                    <div class="ed_step_header">Please specify <b>WHAT</b> to investigate (define a pattern that will be monitored by Reaction Worker and/or identifiers that can come from event source types (external monitoring application) )!
                    <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="All the identifiers are enlisted here which belong to the selected event source or to one of its descendant! When the event message arrives then the corresponding event source is chosen and only that/those identifier(s) will be used."></span></div>
                    <div class="row">
                        <div class="row" id="div_identifiers">
                            <div class="col-md-12">
                                <label style="padding-top: 8px;">Identifiers</label>
                                <span class="glyphicon glyphicon-question-sign" title="The following identifiers come from event source type(s) which determine(s) what to observer in the incoming event message sent by 3rd part monitoring solution."></span>
                            </div>
                            <div class="col-md-12">
                                <table class="data_table" id="table_identifiers" style="margin-top: 10px; margin-bottom: 10px;">
                                    <tr>
                                        <th class="data_table_header">Name</th>
                                        <th class="data_table_header">Source</th>
                                        <th class="data_table_header">Value
                                            <span class="glyphicon glyphicon-asterisk"></span>
                                            <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Regular expression can be defined. Please be aware that the following characters have to be escaped (if they are not part of the regular expression)!&#10;. $ ^ { [ ( | ) * + ? \&#10;For example: 'filter :{}' -> 'filter :\{\},'"></span>
                                        </th>
                                        <th class="data_table_header">Event source type</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="div_message_pattern" style="padding-top: 7px">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="{{ form.message_pattern.id_for_label }}" style="padding-top: 8px;">Message pattern</label>
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The message pattern belongs to Reaction Worker event source type only.&#10;Regular expression can be defined. Please be aware that the following characters have to be escaped (if they are not part of the regular expression)!&#10;. $ ^ { [ ( | ) * + ? \&#10;For example: 'filter :{}' -> 'filter :\{\},'"></span>
                                    <span class="glyphicon glyphicon-asterisk">
                                </div>
                            </div>
                            <div class="row" style="padding-top: 7px">
                                <div class="col-md-10">
                                    {{ form.message_pattern }}
                                    {{ form.message_pattern.errors }}
                                </div>
                                <div class="col-md-2">
                                    <input type="button" id="b_escape" value="Escape the reserved characters" onclick="escapeMessagePattern()"
                                           class="btn btn-primary" style="padding-left: 12px;"
                                           title="Escaping the reserved characters in the message pattern textfield.&#10;All the reserved characters will be escaped even if they are part of a valid regular expression! I.e. [a-z]*  ->  \[a\-z\]\*"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-md-4">
                    <label for="{{ form.multiple_events_cnt.id_for_label }}" style="padding-top: 8px;">The number of events needed to start the flow:<span class="glyphicon glyphicon-question-sign" title="If more errors (i.e. NullPointerExceptions in the log file) are needed to start the execution flow then the number of the errors can be specified here. It can contain only positive integer higher than 1. If only one error can start the flow then please empty the text field."></span> </label>
                </div>
                <div class="col-md-2">
                    {{ form.multiple_events_cnt }}
                    {{ form.multiple_events_cnt.errors }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.multiple_events_timefr.id_for_label }}" style="padding-top: 8px;">Timeframe while the events have to arrive (sec):<span class="glyphicon glyphicon-question-sign" title="If more errors (i.e. NullPointerExceptions in the log file) can start the execution flow then the time frame of the errors can be specified here (i.e. 3 NullPointerExceptions have to arrive in 10 minutes)."></span> </label>
                </div>
                <div class="col-md-2">
                    {{ form.multiple_events_timefr }}
                    {{ form.multiple_events_timefr.errors }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                        <label for="{{ form.activated.id_for_label }}">Activated :</label>
                        No
                        <label class="switch" style="margin-left: 9px; margin-right: 9px; position: relative; top: 15px;">
                            {{ form.activated }}
                            <div class="slider"></div>
                        </label>
                        Yes
                        {{ form.activated.errors }}
                    </div>
                <div class="col-md-4">
                        <label for="{{ form.confirmation_needed.id_for_label }}">Confirmation needed: <span class="glyphicon glyphicon-question-sign" title="The flow to be executed has to be approved manually first. It will be only applied for events initiated by the log file (i.e. if a flow is executed manually or by the scheduler then it doesn't have to be confirmed)."></span> </label>
                        No
                        <label class="switch" style="margin-left: 9px; margin-right: 9px; position: relative; top: 15px;">
                            {{ form.confirmation_needed }}
                            <div class="slider"></div>
                        </label>
                        Yes
                        {{ form.confirmation_needed.errors }}
                </div>
            </div>

            <br>
            <input type="submit" value="Save" class="btn btn-primary"/>
            <a href="{% url 'admin_errordetector_list' %}" class="btn btn-primary">Cancel</a>
            <a href="#" class="btn btn-danger pull-right" onclick="removeRelatedEvents()" title="All the events will be deleted that are connected to this error detector.">Remove all related events!</a>
		</form>
	</div>

{% endblock %}