{% extends "base.html" %}

{% block title %}Error Detector administration{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>

    <script>
        $(document).ready(function () {
            // ---------------------- jQuery for configuring the new exec flow dialog ----------------------
            $("#d_show_url").dialog({
                autoOpen: false,
                height: $(window).height()*0.9,
                width: $(window).width()*0.9,
                modal: true,
                position: { my: 'top', at: 'top+10' },
                buttons: {
                    Close: function() {
                        $("#d_show_url").dialog("close");
                    }
                }
            });
        });

        function showEngineURL(errorDetectorId, errorDetectorName) {
            $("#loadingDiv").show();
            var url = '{% url "admin_errordetector_get_endpoint" pk="437876562214243890211235368765488856" %}';
            $.ajax({
                type: 'GET',
                url: url = url.replace('437876562214243890211235368765488856', errorDetectorId),
                timeout: 20000,
                accepts: {
                    text: "application/json"
                },
                success: function (response, result) {
                    $("#loadingDiv").hide();
                    $("#d_show_url").dialog( "open" );
                    $("#d_show_url").removeClass("hide");
                    $("#accordion").empty();

                    for(let ind in response) {
                        let accordionDiv = $("#to_be_cloned").clone();
                        accordionDiv[0].classList.remove("hide");
                        accordionDiv[0].id = "accordiondiv" + ind;
                        $("#accordion").append("<h3>Event source: <b>" + response[ind]['name'] + "</b></h3>").append(accordionDiv[0]);

                        try {
                            if (response[ind]['is_reaction_worker']) {
                                $("#accordiondiv" + ind).empty();
                                $("#accordiondiv" + ind).append("<label>This event source doesn't use an external monitoring application but the Reaction Worker so no URL is provided.</label>");
                            } else {
                                $("#accordiondiv"+ind+" .s_engine_url").text(response[ind]['url']);

                                $("#accordiondiv"+ind+" .tb_query_param_values")[0].id = "tb_query_param_values_"+ind;
                                buildPatternTable(response[ind]['query_parameters_pattern_list'], 'tb_query_param_values_'+ind);

                                $("#accordiondiv"+ind+" .tb_payload_values")[0].id = "tb_payload_values_"+ind;
                                buildPatternTable(response[ind]['payload_pattern_list'], 'tb_payload_values_'+ind);
                            }
                        } catch(err) {
                            $("#accordiondiv" + ind).empty();
                            $("#accordiondiv" + ind).append("<label style='color: red;'>Error occurred when tried to show the URL! Please check the browser's console log for more information.</label>");
                            console.log(err);
                            console.log("Response: " + JSON.stringify(response[ind]));
                        }
                    }
                    $( "#s_ed_name" ).text(errorDetectorName);

                    $( "#accordion" ).accordion({
                        collapsible: true,
                        active: false,
                        heightStyle: "content"
                    });
                    $( "#accordion" ).accordion("refresh");
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
            });
        }


        function buildPatternTable(patternList, tableBodyText) {
            $("#"+tableBodyText).empty();
            const tableBody = $("#"+tableBodyText)[0]; // document.getElementById(tableBodyText);
            for(let ind in patternList) {
                let i=0;
                let queryParametersPattern = patternList[ind]
                let row = tableBody.insertRow();

                var questionMarkSpan = document.createElement('span');
                questionMarkSpan.setAttribute('class', 'glyphicon glyphicon-question-sign');
                questionMarkSpan.setAttribute('title', queryParametersPattern['desc']);
                questionMarkSpan.setAttribute('style', 'padding-left: 10px');

                if (queryParametersPattern['name']) {
                    let name = row.insertCell(i++);
                    name.innerHTML = queryParametersPattern['name'];
                    name.appendChild(questionMarkSpan);
                }

                let path = row.insertCell(i++);
                path.innerHTML = queryParametersPattern['path'];
                if (!queryParametersPattern['name']) {
                    path.appendChild(questionMarkSpan);
                }

                let output = row.insertCell(i++);
                output.innerHTML = queryParametersPattern['output'];

                let value = row.insertCell(i++);
                value.innerHTML = queryParametersPattern['value'];
            }
        }


        function copyToClipboard(button) {
            navigator.clipboard.writeText( $(button).prev().text() );
        }
    </script>

    <!-------------------------------------- MAIN CONTENT -------------------------------------------->
    <div class="heading1">Error Detector administration</div>

    <div class="container-fluid main-content">
        <p></p>

        <table class="data_table table-hover">
            <tr>
                <th class="data_table_header">
                    <a href="?{% url_replace order='name' filter_name=filter_name filter_activated=filter_activated filter_confirmation_needed=filter_confirmation_needed filter_execution_flow__name=filter_execution_flow__name filter_event_source__name=filter_event_source__name %}">Name</a>
                    {% autoescape off %}{% table_header_sort_icon 'name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='activated' filter_name=filter_name filter_activated=filter_activated filter_confirmation_needed=filter_confirmation_needed filter_execution_flow__name=filter_execution_flow__name filter_event_source__name=filter_event_source__name %}">Activated</a>
                    {% autoescape off %}{% table_header_sort_icon 'activated' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='confirmation_needed' filter_name=filter_name filter_activated=filter_activated filter_confirmation_needed=filter_confirmation_needed filter_execution_flow__name=filter_execution_flow__name filter_event_source__name=filter_event_source__name %}">Confirmation needed</a>
                    {% autoescape off %}{% table_header_sort_icon 'confirmation_needed' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='execution_flow__name' filter_name=filter_name filter_activated=filter_activated filter_confirmation_needed=filter_confirmation_needed filter_execution_flow__name=filter_execution_flow__name filter_event_source__name=filter_event_source__name %}">Execution flow</a>
                    {% autoescape off %}{% table_header_sort_icon 'execution_flow__name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='event_source__name' filter_name=filter_name filter_activated=filter_activated filter_confirmation_needed=filter_confirmation_needed filter_execution_flow__name=filter_execution_flow__name filter_event_source__name=filter_event_source__name %}">Event source</a>
                    {% autoescape off %}{% table_header_sort_icon 'event_source__name' %}{% endautoescape %}
                </th>
                <th colspan="2"/>
            </tr>
            <tr>
                <form method="get" action="{% url 'admin_errordetector_list' %}">

                <td>
                    <input type="text" value="{{filter_name}}" name="filter_name" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_activated}}" name="filter_activated" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_confirmation_needed}}" name="filter_confirmation_needed" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_execution_flow__name}}" name="filter_execution_flow__name" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_event_source__name}}" name="filter_event_source__name" style="width: 100%;"/>
                </td>
                <td colspan="2">
                    <input type="submit" name="submit" value="Filter!" class="btn btn-info"/>
                </td>
                </form>
            </tr>
        {% for errorDetector in object_list %}
            <tr class="{% cycle 'data_table_event_odd' 'data_table_even_line' %}">
                <td title="{{errorDetector.name}}">{{ errorDetector.name|truncatechars:80 }}</td>
                <td {% if errorDetector.activated %}style="color:green"{% else %}style="color:grey"{% endif %}>{{ errorDetector.activated }}</td>
                <td {% if errorDetector.confirmation_needed %}style="color:green"{% else %}style="color:grey"{% endif %}>{{ errorDetector.confirmation_needed }}</td>
                <td>
                    <a href="{% url 'admin_execution_flow_update' pk=errorDetector.execution_flow.pk %}" target="_blank" rel="noopener noreferrer">{{ errorDetector.execution_flow.name|truncatechars:45 }}</a>
                    {% ifequal errorDetector.execution_flow.status 'INVALID' %}<span class="glyphicon glyphicon-exclamation-sign" style="color:red;" data-toggle="tooltip" title="The execution flow is invalid."></span>{% endifequal %}
                </td>
                <td>
                    <a href="{% url 'admin_event_source_update' pk=errorDetector.event_source.pk %}" target="_blank" rel="noopener noreferrer">{{ errorDetector.event_source.name|truncatechars:45 }}</a>
                    {% ifequal errorDetector.event_source.status 'INVALID' %}<span class="glyphicon glyphicon-exclamation-sign" style="color:red;" data-toggle="tooltip" title="The event source is invalid."></span>{% endifequal %}
                </td>
                <td style="text-align: center"><a href="{% url 'admin_errordetector_update' pk=errorDetector.id %}"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a></td>
                <td style="text-align: center">
                    <a href="{% url 'admin_errordetector_delete' pk=errorDetector.id %}" onclick="return confirm('Are you sure to delete the error detector?')"><span class="glyphicon glyphicon-trash" title="Delete"></span></a>
                </td>
                <td>
                    <a href="#" onclick="showEngineURL({{errorDetector.id}}, '{{errorDetector.name}}')"><span class="glyphicon glyphicon-screenshot" title="Get Reaction Engine's endpoint"></span></a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                {# .... **Now the pagination section** .... #}
                <td colspan="8">
                {% if is_paginated %}
                    <span class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="?{% url_replace page=page_obj.previous_page_number %}" class="btn btn-info">&#60;&#60; Previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?{% url_replace page=page_obj.next_page_number %}" class="btn btn-info">Next &#62;&#62;</a>
                            {% endif %}
                        </span>
                    </span>
                {% endif %}
                </td>
            </tr>
            {# .... **the Create,... buttons** .... #}
            <tr>
                <td colspan="8">
                    <a href="{% url 'admin_errordetector_create'%}" class="btn btn-primary">Create</a>
                </td>
            </tr>
        </table>

    </div>


    <!-------------------------------------------- the div element for displaying the dialog to specify the name of the new execution flow -------------------------------------------->
    <div id="d_show_url" title="Displaying the Reaction Engine's URL(s)" class="hide">
        <div style="padding: 20px;">
            <div class="form-horizontal">
                <div>
                    <label style="padding-right: 10px;">Error detector:</label>
                    <span id="s_ed_name"></span>
                </div>
                <div>The following ITEM event sources belong to the event source which is assigned to the error detector.</div>
                <div style="padding-bottom: 15px;">The reason why the ITEM event sources are enlisted here is that only an ITEM event source can be used in the external monitoring application (i.e. its endpoint can be added to the app)
                    otherwise the Engine won't find the corresponding error detector!</div>
                <div id="accordion">
                </div>

            </div>
        </div>
    </div>

                    <div id="to_be_cloned" class="hide">
                        <div class="form-group">The following URL has to be added to the 3rd party monitoring system. The query parameters (if they exist) in the URL have to be populated when the Engine is called (please replace the <i>XXXXX</i> values in the URL with real values!).</div>
                        <div class="form-group" >
                            <label style="padding-right: 10px;">URL:</label>
                            <span class="s_engine_url" style="color: green; font-weight: bold; font-size: 120%;"></span>
                            <button onclick="copyToClipboard(this)" class="btn btn-default btn-sm" title="Copy to clipboard" style="margin-left: 15px;"><span class="glyphicon glyphicon-copy"></span></button>
                        </div>
                        <div class="form-group">
                            <div>The values of the query parameters have to match the following patterns.</div>
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Output</th>
                                        <th>Pattern value</th>
                                    </tr>
                                </thead>
                                <tbody class="tb_query_param_values"></tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <div>Just a reminder: the following payload patterns will be used to select the event source (which application sends the error) and determine the error detector
                            (what to do (i.e. which execution flow has to be started) when the event source sends a specific error). The value in the request from the <em>Path</em> attribute will be extracted and this value will be compared against the
                            <em>Value</em> attribute.</div>
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Path</th>
                                        <th>Output</th>
                                        <th>Pattern value</th>
                                    </tr>
                                </thead>
                                <tbody class="tb_payload_values"></tbody>
                            </table>
                        </div>
                    </div>

{% endblock %}