{% extends "base.html" %}

{% block title %}Please log in!{% endblock %}

{% block content %}

    <div class="container-fluid" style="width: 30%; padding-top: 50px;">
        <form method="post" action="{% url 'login' %}">

            {% csrf_token %}

            {% if form.errors %}
                <p class="form-signin-heading" style="color:red;">Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <h4 class="form-signin-heading">Your account doesn't have access to this page.<br>To proceed, please login with an account that has access.</h4>
                {% else %}
                    <h4 class="form-signin-heading">Please login to see this page.</h4>
                {% endif %}
            {% endif %}

            <div>
                <input type="text" id="id_username" name="username" class="form-control" placeholder="User name" required="" autofocus="" style="margin-bottom:10px;">
            </div>
            <div>
                <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required="" style="margin-bottom:20px;">
            </div>

            <div>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="login" style="width:150px; height:42px;"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>


{% endblock %}