{% extends "base.html" %}

{% block title %}Please log in!{% endblock %}

{% block content %}

    <h1>The password has been changed!</h1>
    <p><a href="{% url 'login' %}">log in again?</a></p>

{% endblock %}