{% extends "base.html" %}

{% block title %}{% if form_operation == "update" %}Edit an existing {% else %}Create a new {% endif %}event source type{% endblock %}

{% block content %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'switch.css' %}" />
    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />

    <style>
        #d_set_secret {
            display: none;
        }
    </style>

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
    <script src="{% static 'js/event_source_type_form.js' %}"></script>

    <div class="heading1">Event source type administration - {% if form_operation == "update" %}Edit{% else %}Create{% endif %}</div>

    <div class="container" style="padding-top: 30px;">
		<form method="post" id="form_identifiers" onsubmit="return buildPathToIdentifiers()">
			{% csrf_token %}
			{{ form.non_field_errors }}

            <input type="hidden" id="h_form_user" name="user" value="" />
            <input type="hidden" id="h_form_secret" name="secret" value="" />
            <input type="hidden" id="h_form_confirmed_to_save" name="confirmed_to_save" value="false" />

            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Name : <span class="glyphicon glyphicon-asterisk"></span></label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="{{ form.code.id_for_label }}">
                            Code :
                            <span class="glyphicon glyphicon-asterisk"></span>
                            <span class="glyphicon glyphicon-question-sign" title="This value will be used in the URL of the external monitoring event source to call the Reaction Engine. For example if you set 'splunk8' here then the URL in Splunk (that will point back to Reaction Engine) will be something like 'https://acme.net.uk/reaction-engine/notification/event/splunk8'. I'd recommend to specify a value here that doesn't have to be URL encoded."></span>
                        </label>
                        {{ form.code }}
                        {{ form.code.errors }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="{{ form.data_type.id_for_label }}">
                            Payload type:
                            <span class="glyphicon glyphicon-question-sign" title="The payload type of the message that is sent from the monitoring event source when there is an event that might start an execution flown in Reaction Engine."></span>
                        </label>
                        {{ form.data_type }}
                        {{ form.data_type.errors }}
                    </div>
                </div>
            </div>

            <div id="div_namespaces" class="form-group{% if object.data_type != 'XML' %} make_it_disappear{% endif %}">
                <label for="{{ form.name.id_for_label }}">Namespaces: <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Specify the namespace with the prefix as they look look like in the XML without the 'xmlns:' text separated by new line! For example:&#10;soap=&quot;http://www.w3.org/2003/05/soap-envelope/&quot;&#10;acme=&quot;http://acme.com/ric/flair/&quot;"></span></label>
                {{ form.namespaces }}
                {{ form.namespaces.errors }}
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-12">
                    <label style="padding-top: 8px;">Identifiers</label>
                    <hr style="margin:0px;">
                </div>
                <div class="col-md-12">
                    <table class="data_table" id="table_identifiers">
                        <tr>
                            <th class="data_table_header">
                                Name
                                <span class="glyphicon glyphicon-asterisk"></span>
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The name 'secret' cannot be used as query parameter name."></span>
                            </th>
                            <th class="data_table_header">Description</th>
                            <th class="data_table_header">
                                Identifier source
                                <span class="glyphicon glyphicon-asterisk"></span>
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Define whether the identifier will be fetched from the request payload or from URL parameter."></span>
                            </th>
                            <th class="data_table_header">
                                Identifier output
                                <span class="glyphicon glyphicon-asterisk"></span>
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Define whether the identifier will be used in the event source or in the error detector (the identifier has to be displayed in the event source admin to specify an event source or in the error detector admin to identify an error detector). "></span>
                            </th>
                            <th class="data_table_header">
                                Path
                                <span class="glyphicon glyphicon-asterisk"></span>
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Define how the identifier can be extracted from the request that the Engine can examine. Use XPath for XML and JSONPath (https://github.com/json-path/JsonPath) for JSON."></span>
                                <a href="https://github.com/json-path/JsonPath" title="Jumping to https://github.com/json-path/JsonPath" class="glyphicon glyphicon-arrow-right" style="text-decoration: none; color: #333;" target="_blank" ></a>
                            </th>
                        </tr>
                    </table>
                    {{ form.path_to_identifiers.errors }}
                    <button type="button" class="btn btn-secondary" onclick="addRowToIdentifiers()">Add a new row</button>
                    <button type="button" class="btn btn-secondary" onclick="openTestIdentifiersDialog()">Test the identifiers</button>
                    <div>
                        <label id="l_identifiers_errors" style="color:red;"></label>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-12">
                    <label style="padding-top: 8px;">Security</label>
                    <hr style="margin:0px;">
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label>Enforce SSL</label>
                        {{ form.enforce_ssl }}
                    </div>
                    <div class="col-md-9">
                        <label>Authentication</label>
                        {{ form.authentication_type }}
                        {{ form.authentication_type.errors }}
                    </div>
                </div>
            </div>

            <div class="hide">
                {{ form.save_confirmation_json }}
                {{ form.save_confirmation_json.errors }}
            </div>

            <br>
            <input type="submit" value="Save" class="btn btn-primary"/>
            <a href="{% url 'admin_event_source_type_list' %}" class="btn btn-primary">Cancel</a>
		</form>
	</div>


    <!-- the div element for displaying the dialog to set the secret for SECRET auth type -->
    <div id="d_set_secret" title="Set the secret for SECRET authentication type">
        <div class="col-md-12">
            <div class="form-group">
                <label>Please specify the secret value for authentication!</label>
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign dashboard_markers_top_icon vcenter" style="color:red;"></span>
                    Please make a note of the password as only the hashed value of the password will be stored in the database!
                </div>
                <div class="form-group">
                    <label>Secret: <span class="glyphicon glyphicon-asterisk"></span></label>
                    <input id="i_auth_secret" type="text" style="width: 100%;"/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <input id="b_set_secret_ok" type="submit" value="Ok" class="btn btn-info pull-right" disabled="disabled">
        </div>
    </div>

    <!-- the div element for displaying the dialog to set the user+pwd for BASIC_AUTH auth type -->
    <div id="d_set_credentials" title="Set the user+password for BASIC_AUTH authentication type">
        <div class="col-md-12">
            <div class="form-group">
                <label>Please specify the user+password values for authentication!</label>
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign dashboard_markers_top_icon vcenter" style="color:red;"></span>
                    Please make a note of the password as only the hashed value of the password will be stored in the database!
                </div>
                <div class="form-group">
                    <label>User: <span class="glyphicon glyphicon-asterisk"></span></label>
                    <input id="i_auth_user" type="text" style="width: 100%;"/>
                </div>
                <div class="form-group">
                    <label>Password: <span class="glyphicon glyphicon-asterisk"></span></label>
                    <input id="i_auth_password" type="text" style="width: 100%;"/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <input id="b_set_credentials_ok" type="submit" value="Ok" class="btn btn-info pull-right" disabled="disabled">
        </div>
    </div>

    <!-- the div element for displaying the dialog to test the identifiers -->
    <div id="d_test_identifiers" title="Test the identifiers">
        <div class="col-md-12">
            <div class="form-group" style="height: 40vh">
                <label>Message:</label>
                <div>
                    <textarea type="text" id="ta_test_message" class="form-control" style="height:90%; overflow-y: scroll;overflow: auto; resize: vertical;"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <input id="b_test_ok" type="submit" value="Ok" onclick="sendIdentifiersToBeTested()" class="btn btn-info pull-right" disabled="disabled">
            </div>
            <div class="form-group">
                <label>The specified identifiers</label>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Path</th>
                                <th>Extracted value</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_test_identfiers"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- the div element for displaying the confirm-to-save dialog -->
    <div id="d_confirm_to_save" title="Confirm to save">
        <div style="padding-bottom:10px;">The changes in this event source type will</div>
        <div>- deactivate the following error detectors:</div>
        <div id="d_deactivated_error_detectors"></div>
        <div>- invalidate the following event sources:</div>
        <div id="d_invalidated_event_sources"></div>
        <div style="padding-top:15px;">
            <label>Please confirm if you still want to save the changes on this event source type!</label>
        </div>
    </div>


    <script>
        $(document).ready(function() {
            // ---------------------- handling the change event on the data type drop-down ----------------------
            $("#id_data_type").change(function() {
                if ($( "#id_data_type option:selected" ).text() != 'XML') {
                    $("#div_namespaces").addClass("make_it_disappear");
                } else {
                    $("#div_namespaces").removeClass("make_it_disappear");
                }
            });

            $('input:radio[name="authentication_type"]').change(
                function() {
                    if ($(this).is(':checked') ) {
                        whenAuthTypeRadioButtonIsChanged();
                    }
                }
            );

            $("#b_set_secret_ok").click(function (e) {
                $("#h_form_secret").val( $("#i_auth_secret").val() );
                $("#d_set_secret").dialog("close");
            });

            $("#b_set_credentials_ok").click(function (e) {
                $("#h_form_user").val( $("#i_auth_user").val() );
                $("#h_form_secret").val( $("#i_auth_password").val() );
                $("#d_set_credentials").dialog("close");
            });

            $("#d_set_secret").dialog({
                autoOpen: false,
                height: 360,
                width: 930,
                modal: true
            });

            $("#d_set_credentials").dialog({
                autoOpen: false,
                height: 360,
                width: 900,
                modal: true
            });

            $("#d_test_identifiers").dialog({
                autoOpen: false,
                height: $(window).height()*0.6,
                width: $(window).width()*0.85,
                modal: true
            });

            $("#d_confirm_to_save").dialog({
                autoOpen: false,
                height: $(window).height()*0.5,
                width: $(window).width()*0.4,
                modal: true,


                buttons: {
                    "Confirm to save": function() {
                        $("#h_form_confirmed_to_save").val("true");
                        buildPathToIdentifiers();
                        document.forms.form_identifiers.submit();
                    },
                    Cancel: function() {
                        $("#d_confirm_to_save").dialog("close");
                    }
                }


            });

            loadIdentifierTable({% autoescape off %} {{object.path_to_identifiers}} {% endautoescape %});
            whenAuthTypeRadioButtonIsChanged();
            setAuthDialogOkButtonDisablingRule();
            setTestIdentifiersDialogOkButtonDisablingRule();
            user = '{{ object.user|default_if_none:"" }}';

            // if the change in event source type would invalidate error detectors then a confirmation dialog has to be displayed
            li_error = $("#id_save_confirmation_json").parent().find("ul > li");
            if (li_error.length) {
                try {
                    invalidated_resources = JSON.parse(li_error.text());
                    displayInvalidResource(invalidated_resources.invalid_error_detectors, 'd_deactivated_error_detectors', '{% url 'admin_errordetector_update' pk=1 %}');
                    displayInvalidResource(invalidated_resources.invalid_event_sources, 'd_invalidated_event_sources', '{% url 'admin_event_source_update' pk=1 %}');
                    $("#d_confirm_to_save").dialog("open");
                } catch(e) {
                    alert('Error occurred when trying to parse the incoming text to JSON! See console log for more information.');
                    console.log('Error occurred when trying to parse the following text to JSON!');
                    console.log('Exception: ' + e);
                    console.log('The text to be parsed but failed is: ' + li_error.text());
                }
            }
        });

        function displayInvalidResource(resourceList, divId, url) {
            let div = document.getElementById(divId);
            $("#"+divId).prev().removeClass("hide");
            div.classList.remove("hide");
            div.setAttribute('style', 'padding-left: 20px;');
            if (resourceList && resourceList.length) {
                resourceList.forEach(function (resource, index) {
                    let a = document.createElement('a');
                    a.href = url.slice(0, -8) + resource[0] + '/update';
                    a.innerText = resource[1];
                    a.setAttribute('target', '_blank');
                    a.setAttribute('style', 'font-weight: bold');
                    div.appendChild(a);
                    div.appendChild(document.createElement('br'));
                });
            } else {
                $("#"+divId).prev().addClass("hide");
            }
        }

        function sendIdentifiersToBeTested(eventLifeId, what) {
            // displaying the loading DIV
            $("#loadingDiv").show();
            // sending the identifiers
            let form = document.forms.form_identifiers;
            let formData = new FormData(form);
            let identifiers = [];
            for(let i=1; i <= numRows; i++) {
                if (formData.has('identifiers_name_'+i)) {
                    identifiers.push( formData.get('identifiers_path_'+i) );
                }
            }
            let payload = {'dataType': $("#id_data_type").val(),
                           'namespaces': $("#id_namespaces").val(),
                           'identifiers[]': identifiers,
                           'message':  btoa($("#ta_test_message").val())};
            // getting the CSRF token (see https://docs.djangoproject.com/en/1.11/ref/csrf/)
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            let url = '{% url "send_identifiers_to_be_tested" %}';
            $.ajax({
                type: 'POST',
                url: url,
                data: payload,
                timeout: 20000,
                accepts: {
                    text: "application/json"
                },
                success: function (valuesText, result) {
                    $("#loadingDiv").hide();
                    let values = JSON.parse(valuesText);
                    for (i = 0; i < values.length; i++) {
                        $("#l_test_extr_val_" + (i+1)).html(values[i]);
                    }
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
            });
        }

    </script>
{% endblock %}