{% extends "base.html" %}

{% block title %}Event source type administration{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" />
    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>


    <!-- only for hidden the div of the dialog -->
    <style>
        ul li:after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            margin: 1px;
        }
    </style>


    <script>
        $(document).ready(function() {
            {% for event_source_type in object_list %}
                $("#{{event_source_type.id}}ss").dialog({
                    autoOpen: false,
                    height: 600,
                    width: 800,
                    modal: true
                });
            {% endfor %}

            {% for event_source_type in object_list %}
                $("#b_invalid_identifiers_{{event_source_type.id}}").on( "click", function(e) {
                    $("#{{event_source_type.id}}ss").removeClass("hide");
                    $("#{{event_source_type.id}}ss").dialog().dialog( "open" );
                });
            {% endfor %}
        });
    </script>

    <!-------------------------------------- MAIN CONTENT -------------------------------------------->
    <div class="heading1">Event source type administration</div>

    <div class="container" style="padding-top: 30px;">

        <table class="data_table table-hover">
            <tr>
                <th class="data_table_header">
                    <a href="?{% url_replace order='name' filter_name=filter_name filter_code=filter_code filter_data_type=filter_data_type filter_authentication_type=filter_authentication_type %}">Name</a>
                    {% autoescape off %}{% table_header_sort_icon 'name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='code' filter_name=filter_name filter_code=filter_code filter_data_type=filter_data_type filter_authentication_type=filter_authentication_type %}">Code</a>
                    {% autoescape off %}{% table_header_sort_icon 'code' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='data_type' filter_name=filter_name filter_code=filter_code filter_data_type=filter_data_type filter_authentication_type=filter_authentication_type %}">Data type</a>
                    {% autoescape off %}{% table_header_sort_icon 'data_type' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='authentication_type' filter_name=filter_name filter_code=filter_code filter_data_type=filter_data_type filter_authentication_type=filter_authentication_type %}">Authentication type</a>
                    {% autoescape off %}{% table_header_sort_icon 'authentication_type' %}{% endautoescape %}
                </th>
                <th colspan="2"/>
            </tr>
            <tr>
                <form method="get" action="{% url 'admin_event_source_type_list' %}">

                <td>
                    <input type="text" value="{{filter_name}}" name="filter_name" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_code}}" name="filter_code" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_data_type}}" name="filter_data_type" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_authentication_type}}" name="filter_authentication_type" style="width: 100%;"/>
                </td>
                <td colspan="3">
                    <input type="submit" name="submit" value="Filter!" class="btn btn-info"/>
                </td>
                </form>
            </tr>
        {% for event_source_type in object_list %}
            <tr class="{% cycle 'data_table_event_odd' 'data_table_even_line' %}">
                <td>{{ event_source_type.name|truncatechars:55 }}</td>
                <td>{{ event_source_type.code }}</td>
                <td>{{ event_source_type.data_type|default_if_none:"" }}</td>
                <td>{{ event_source_type.authentication_type|default_if_none:"" }}</td>
                <td style="text-align: center"><a href="{% url 'admin_event_source_type_update' pk=event_source_type.id %}"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a></td>
                <td style="text-align: center">
                    <a href="{% url 'admin_event_source_type_delete' pk=event_source_type.id %}" onclick="return confirm('Are you sure to delete the event source type?')"><span class="glyphicon glyphicon-trash" title="Delete"></span></a>
                </td>
                <td style="text-align: center">
                    {% if event_source_type.invalid_event_sources %}
                    <span class="glyphicon glyphicon-exclamation-sign" style="color: red;" title="There are event sources / error detectors that contain invalid identifier(s)! CLick on the 'View' button to view them."></span>
                    <button id="b_invalid_identifiers_{{event_source_type.id}}" class="btn btn-info btn-sm" >View</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if is_paginated %}
            <tr>
                {# .... **Now the pagination section** .... #}
                <td colspan="6">
                    <span class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="?{% url_replace page=page_obj.previous_page_number %}" class="btn btn-info">&#60;&#60; Previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?{% url_replace page=page_obj.next_page_number %}" class="btn btn-info">Next &#62;&#62;</a>
                            {% endif %}
                        </span>
                    </span>
                </td>
            </tr>
        {% endif %}
        </table>
        {# .... **the Create,... buttons** .... #}
        <a href="{% url 'admin_event_source_type_create'%}" class="btn btn-primary">Create</a>
    </div>


{% for event_source_type in object_list %}
<div id="{{ event_source_type.id }}ss" title="Event sources / error detectors with invalid identifiers" class="hide">
    <div>The following event sources / error detectors contain identifiers that were removed / modified in the event source type or a new identifier was added (and it doesn't have value specified) so they became invalid.</div>
    <br>
    <hr>
    <label>Event source(s)</label>
    {% for invalid_event_source in event_source_type.invalid_event_sources %}
    <div>
        <a href="{% url 'admin_event_source_update' pk=invalid_event_source.0 %}">{{invalid_event_source.1}}</a>
    </div>
    {% endfor %}
    <br>
    <hr>
    <label>Error detector(s)</label>
    {% for invalid_error_detector in event_source_type.invalid_error_detectors %}
    <div>
        <a href="{% url 'admin_errordetector_update' pk=invalid_error_detector.0 %}">{{invalid_error_detector.1}}</a>
    </div>
    {% endfor %}
</div>
{% endfor %}


{% endblock %}
