
<script>
    var {{ dashboard_square_id }}_color= "{{ background_color }}";
</script>

<div style="position:relative; background-color: {{ background_color }}; border: 2px solid {{ background_color }};" class="dashboard_square">
    <div id="{{ dashboard_square_id }}" class="dashboard_square_non_empty">
        <div class="row" style="padding-right: 0px; padding-left: 0px;">
            <div class="col-md-12">
                <a href="#" id="{{ dashboard_square_id }}_name" class="pull-left vertical-align dashboard_p2_flowname" ></a>
                <a onclick="openRemoveDialog( '{{dashboard_square_id}}', '{{resource_name}}' )" style="display: inline;"><span class="pull-right vertical-align glyphicon glyphicon-remove" style="padding: 3px;"></span></a>
            </div>
        </div>
        <div class="row dashboard_square_separator_div">
            <hr size="4" style="border-color: {{ background_color }}; background-color: {{ background_color }}; color: {{ background_color }}; filter: brightness(85%); margin-top: 8px; margin-bottom: 0px;"/>
        </div>
        <div class="row">
            <div class="col-md-5" style="padding-right: 0px; padding-left: 0px;">
                <label class="vertical-align dashboard_p2_total_inc_label" style="padding-left: 25px;">Total events:</label>
                <br>
                <label id="{{ dashboard_square_id }}_count" class="vertical-align dashboard_p2_flowcount" style="padding-left: 25px;"></label>
            </div>
            <div class="col-md-7" style="padding-right: 0px; padding-left: 0px;">
                <div>
                    <p class="dashboard_p2_total_inc_label" style="margin: 0px 0px 0px 10px;">
                        <a href="#" id="{{ dashboard_square_id }}_failed">FAILED: <label id="{{ dashboard_square_id }}_count_FAILED"></label></a>
                    </p>
                    <p class="dashboard_p2_total_inc_label" style="margin: -8px 0px 0px 10px;">
                        <a href="#" id="{{ dashboard_square_id }}_finished">FINISHED: <label id="{{ dashboard_square_id }}_count_FINISHED"></label></a>
                    </p>
                    <p class="dashboard_p2_total_inc_label" style="margin: -8px 0px 0px 10px;">
                        <a href="#" id="{{ dashboard_square_id }}_ignored">IGNORED: <label id="{{ dashboard_square_id }}_count_IGNORED"></label></a>
                    </p>
                    <p class="dashboard_p2_total_inc_label" style="margin: -8px 0px 0px 10px;">
                        <a href="#" id="{{ dashboard_square_id }}_rejected">REJECTED: <label id="{{ dashboard_square_id }}_count_REJECTED"></label></a>
                    </p>
                </div>
            </div>
        </div>
        <!--div class="row dashboard_square_separator_div">
            <hr size="4" style="border-color: {{ background_color }}; background-color: {{ background_color }}; color: {{ background_color }}; filter: brightness(90%); margin-top: 8px; margin-bottom: 0px;"/>
        </div-->
        <div class="row" style="padding-right: 0px; padding-left: 0px; height: 100%; width: 100%;">
            <canvas id="{{ dashboard_square_id }}_graph" style="padding: 15px; position: absolute;  bottom: 0;"></canvas>
        </div>
    </div>
    <div id="{{ dashboard_square_id }}_{{resource_name}}_selection" class="dashboard_square_empty"
            onclick="clickOnEmptyDashboardSquare('{{ dashboard_square_id }}')">
        <label class="dashboard_square_empty_label">Please click here to select a {% if resource_name == 'event_source' %}event source{% else %}{{resource_name}}{%endif%}!</label>
    </div>
</div>