{% extends "base.html" %}

{% block title %}Statistics (by flow){% endblock %}

{% block content %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'select2/select2.min.css' %}" />

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
    <script src="{% static 'datetimepicker/jquery.datetimepicker.full.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'googlechart/loader.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'select2/select2.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            // ---------------------- adding the select2 to support status ----------------------
            // the filtered_statuses contains the previously chosen statuses
            var filtered_statuses = [{% for f in selected_status %}'{{f}}',{% endfor %}];
            // all the statuses that have to be displayed
            var statuses = [{
                id: 'CANCELLED',
                text: "CANCELLED"
            }, {
                id: 'CONFIRMATION_NEEDED',
                text: "CONFIRMATION_NEEDED"
            }, {
                id: 'FAILED',
                text: "FAILED"
            }, {
                id: 'FINISHED',
                text: "FINISHED"
            }, {
                id: 'IGNORED',
                text: "IGNORED"
            }, {
                id: 'REJECTED',
                text: "REJECTED"
            }, {
                id: 'SCHEDULED',
                text: "SCHEDULED"
            }, {
                id: 'STARTED',
                text: "STARTED"
            }, {
                id: 'WAITING_FOR_OTHERS',
                text: "WAITING_FOR_OTHERS"
            }, {
            }];
            // building the select2 drop down
            buildSelect2(filtered_statuses, statuses, 'selected_status');
            // building the graph
            buildGraph();
        });

        function buildSelect2(filtered, all, componentId) {
            // building the select2 drop down
            $('#'+componentId).select2({
                closeOnSelect: false,
                data: all,
                dropdownAutoWidth : true,
                placeholder: "Click..."
            });
            // adding the previously chosen entries
            if (filtered.length > 0) {
                $('#'+componentId).val(filtered).trigger('change');
            }
        }

        function buildGraph() {
            var graphLabel = {{graph_label|safe}};
            var graphData = {{graph_data|safe}};
            var dateFormat = '{{graph_date_format|safe}}';
            // make graph disappear if there is no data
            if (graphData.length == 0) {
                $("#chart_div").hide();
            } else {
                $('#loadingDiv').show();
            }
            // the configuration of the graph
            var config = {
                type: 'line',
                data: {
                    labels: graphLabel,
                    datasets: graphData
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        position: 'nearest',
                        intersect: false,
                        yPadding: 15,
                        xPadding: 15    ,
                        caretSize: 8,
                        borderColor: 'rgba(0,0,0,1)',
                        borderWidth: 2,
                        titleFontSize: 16,
                        bodyFontSize: 15,
                        footerFontSize: 15

                    },
                    legend: {
                        display: true
                    },
                    animation : {
                        onComplete : function(){
                            var url_base64 = document.getElementById('stat_graph').toDataURL('image/png');
                            document.getElementById("a_save_chart").href=url_base64;
                            $('#loadingDiv').hide();
                        }
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            type: 'time',
                            distribution: 'series',
                            time: {
                                displayFormats: {
                                    'millisecond': dateFormat,
                                    'second': dateFormat,
                                    'minute': dateFormat,
                                    'hour': dateFormat,
                                    'day': dateFormat,
                                    'week': dateFormat,
                                    'month': dateFormat,
                                    'quarter': dateFormat,
                                    'year': dateFormat,
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function(value) {if (value % 1 === 0) {return value;}}
                            }
                        }]
                    },
                }
            };

            // building the chart
            var ctx = document.getElementById("stat_graph").getContext("2d");
            new Chart(ctx, config);
        }

    </script>


    <div class="heading1">Statistics - incidents by {{resource_name}}</div>

    <div class="container" style="padding-top: 30px;">
        <form method="post" action="{% if resource_name == 'event_source'%} {% url 'stat_by_event_source' %} {% else %} {% url 'stat_by_flow' %} {% endif %}" id="form_stat"
              onsubmit="$('#loadingDiv').show()">
            {% csrf_token %}
            <div class="row" style="padding-bottom:13px;">
                Show the statistics of the {{resource_name}}
                <select id="s_resource" name="resource_id" class="form-control" style="width: 100%;display: inline;">
                    {% for resource in resources %}
                    <option value="{{ resource.id }}" {% if resource.id == selected_resource_id|add:0 %}selected="selected"{% endif %}>{{ resource.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row" style="padding-bottom:13px;">
                between
                <span id="sp_date_period">
                    <input id="dtp_start_date" name="start_date" value="{{start_date}}" type="text" required="required">
                    and
                    <input id="dtp_end_date" name="end_date" value="{{end_date}}" type="text" required="required">
                </span>
                {% if resource_name != 'event_source'%}
                initiated
                <select id="s_initiator" name="initiator" class="form-control" style="width: auto;display: inline;">
                    {% for i in initiators %}
                    <option value="{{ i }}" {% if i == initiator %}selected="selected"{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                on the time scale
                <select id="s_time_scale" name="time_scale" >
                    <option value="minute" {% if 'minute' == selected_time_scale %}selected="selected"{% endif %}>minute</option>
                    <option value="hour" {% if 'hour' == selected_time_scale %}selected="selected"{% endif %}>hour</option>
                    <option value="day" {% if 'day' == selected_time_scale %}selected="selected"{% endif %}>day</option>
                    <option value="month" {% if 'month' == selected_time_scale %}selected="selected"{% endif %}>month</option>
                </select>
                <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="If 'minute' resolution is selected and the date period is wide then the report generation will be slow!"></span>
            </div>
            <div class="row" style="padding-bottom:13px;">
                with the statuses <select value="{{selected_status}}" name="selected_status" id="selected_status" class="js-example-basic-multiple" multiple="multiple" required="required" style="width: 100%;"></select>
            </div>
            <div class="row" style="padding-bottom:13px;">
                <input id="b_do_it" type="submit" name="operation" value="Do it!" class="btn btn-info">
            </div>
        </form>
    </div>

    <div class="container-fluid" id="chart_div">
        <div class="row" style="padding: 10px 100px 10px 100px;">
            <a id="a_save_chart" class="btn btn-warning pull-right" download="reaction-chart.jpg">Save as jpg</a>
            <canvas id="stat_graph"></canvas>
        </div>
    </div>


    <script type="text/javascript">
        $.datetimepicker.setLocale('en');

        $('#dtp_start_date').datetimepicker({
            format:'Y.m.d H:i:s',
            lang:'en'
        });
        $('#dtp_end_date').datetimepicker({
            format:'Y.m.d H:i:s',
            lang:'en'
        });
    </script>

{% endblock %}