<footer>
<div class="footer">
    <div class="row">
        <div class="col-md-4">
            <h3>Learn more</h3>
        </div>
        <div class="col-md-4">
            <h3>Get in touch</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="documentation.html">Documentation</a>
        </div>
        <div class="col-md-4">
            <a href="https://bitbucket.org/ric_flair_wcw/reaction">Github</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="installation.html">Installation</a>
        </div>
        <div class="col-md-4">
            <a href="ttps://bitbucket.org/ric_flair_wcw/reaction/issues">Submit a bug</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="quick-setup.html">Quick set-up</a>
        </div>
        <div class="col-md-4">
            <a href="contact.html#send-message">Send a message</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="use-case.html">Use case</a>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="http://reactionisourfriend.blogspot.hu">Reaction blog</a>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="try-it-out.html">Try it out!</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</footer>