@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Anton);


body {
    font-family: 'PT Sans', sans-serif;
}

/* ------------------------------------ parallax ------------------------------------ */
.parallax {
    background-repeat: no-repeat;
    height: 100vh;
    /*background: url(http://webmadewell.com/wp-content/uploads/2018/01/img-bg-sample-parallax-header.jpg);*/
    background: url(images/Winter_sunrise_in_the_mountains.jpg);
  background-size: cover;
}

.parallax h1 {
    margin: 0;
    font-size: calc(10px + 3vh);
    letter-spacing: 15px;
    color: black;
    padding-top: 35vh;
    padding-bottom: 5vh;
    font-family: 'Anton', sans-serif;
}

.parallax label {
    margin: 0;
    font-size: calc(8px + 1vh);
    letter-spacing: 3px;
    color: black;
    padding-top: 15px;
}

.parallax a {
    margin: 0;
    font-size: calc(8px + 1vh);
    letter-spacing: 2px;
    color: black;
    margin-top: 15px;
}

.getting-started-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #7f9ac6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 50vh;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.getting-started-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.getting-started-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.getting-started-button:hover span {
      padding-right: 25px;
}
.getting-started-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* ------------------------------------ body-left ------------------------------------ */
.body-left {
    padding-top: calc(20px + 4vh);
    padding-left: 15vw;
    padding-right: 6vw;
    padding-bottom: calc(20px + 4vh);
}

.body-left h3 {
    padding-bottom: 4vh;
}

.body-left label {
    display: block;
}

.body-left div {
    padding-bottom: calc(10px + 1vh);
}

.body-left div div div label {
    font-size: 90%;
}

.body-left div div {
    padding-bottom: calc(10px + 1vh);
}

.body-left-icon {
    margin-top: 2px;
    margin-right: 15px;
    font-size: 20px; 
    color: Dodgerblue;    
}

.body-left iframe {
    float:middle; 
    width: 45vw; 
    height: 60vh; 
    margin-top: calc(10px + 2vh);
    /*margin-bottom: 50px;*/
}

/* ------------------------------------ body-right ------------------------------------ */
.body-right {
    padding-top: 10vh;
    padding-bottom: 10vh;    
}

.body-right-section {
    padding-top: calc(25px + 1vh);
    padding-bottom: calc(25px + 1vh);
    padding-left: 2vw;
    padding-right: 10vw;
}

.body-right-section-no-button{
    padding-left: 2vw;
    padding-right: 10vw;
    padding-bottom: calc(25px + 1vh);
}

.body-right-section a {
    display: block;
    padding-bottom: 1vh;
}

.body-right-section-no-button a {
    display: block;
}

.body-right-section label {
    display: block;
    padding-bottom: 1.2vh;
}

/* ------------------------------------ getting-started ------------------------------------ */
.getting-started-div div {
    padding-top: calc(10px + 2vh);
    padding-bottom: calc(10px + 2vh);
}

.getting-started-div h3 {
    padding-bottom: calc(20px + 2vh);
}

.getting-started-div h5 {
    padding-bottom: calc(7px + 1vh);
}

.getting-started-div label {
    display: block;
}

/* ------------------------------------ use-case ------------------------------------ */
.use-case-div div {
    padding-top: calc(10px + 2vh);
}

.use-case-div h3 {
    padding-bottom: calc(20px + 2vh);
}

/* ------------------------------------ try-out ------------------------------------ */
.try-out-div div {
    padding-top: calc(10px + 2vh);
}

.try-out-div h3 {
    padding-bottom: calc(20px + 2vh);
}

/* ------------------------------------ contact ------------------------------------ */
.contact-div div {
    padding-top: calc(10px + 2vh);
    padding-bottom: calc(10px + 2vh);
}

.contact-div h3 {
    padding-bottom: calc(20px + 2vh);
}

.contact-div label {
    display: block;
}

/* ------------------------------------ release-notes ------------------------------------ */
.release-notes-div div {
    padding-top: calc(10px + 2vh);
    padding-bottom: calc(10px + 2vh);
}

.release-notes-div h3 {
    padding-bottom: calc(20px + 2vh);
}

.release-notes-div label {
    display: block;
}

/* ------------------------------------ download ------------------------------------ */
.download-div > div {
    padding-top: 30px;
    /*padding-bottom: 3vh;*/
}

.download-div h3 {
    /*padding-bottom: 4vh;*/
}

.download-div label {
    display: block;
    padding-bottom: 0px;
}

.download-label-div {
    font-style: italic;
    /*padding-bottom: 3vh;*/
}

/* ------------------------------------ installation ------------------------------------ */
.installation-div div {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.installation-div h3 {
    padding-bottom: 4vh;
}

.installation-div label {
    display: block;
}

/* ------------------------------------ header ------------------------------------ */
.header-background-color {
    /*background-image: linear-gradient(to right,#73BC97 0,#4B8166 100%);
    background-color: #4B8166;*/
    /*background-image: linear-gradient(to right,#6B9DB4 0,#508097 100%);*/
    background-image: linear-gradient(to right,#A9D0DF 0,#508097 100%);
    background-color: #508097;
    
}

.header-brand {
    font-family: 'Anton', sans-serif;
    color: black;
}

.header label {
    color: white;
}

.header a {
    color: white !important;
}

/* ------------------------------------ footer ------------------------------------ */
.footer {
    background-color: #508097;
    /*position: absolute;
    bottom: 0;
    left: 0;*/
    width: 100%; 
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 3vh;
    padding-bottom: 6vh;
    color: white;
}

.footer a {
    color: white;
}


/* ------------------------------------ quick setup ------------------------------------ */
.quicksetup-div div {
    padding-top: calc(10px + 2vh);
    padding-bottom: calc(10px + 2vh);
}

.quicksetup-div h3 {
    padding-bottom: calc(20px + 2vh);
}

.quicksetup-div h4 {
    padding-bottom: calc(10px + 1vh);
}

.quicksetup-div h5 {
    padding-top: calc(10px + 1vh);
}

.quicksetup-divlabel {
    display: block;
}

/* ------------------------------------ scroll down ------------------------------------ */
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: calc(20px + 1vw);
    height: calc(20px + 1vw);
    border: 3px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* ------------------------------------ others ------------------------------------ */
.site-div {
    padding-top: calc(10vh + 40px);
    padding-bottom: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    padding: 8px;
    display: block;
    word-wrap: break-word;
}