{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'chartjs/Chart.bundle.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />

    <!-- displaying pointer when hovering over the slices of donut chart -->
    <style>
        #d-panel1 path {cursor:pointer;}
        #d-panel1 path ~ text {cursor:pointer;}
    </style>

    <script>
        var squareCharts = [];
        squareCharts['execution_flow'] = [];
        squareCharts['event_source'] = [];
        var intervalForRefresh = null;

        $(document).ready(function() {
            $("#select_flow_p2_dialog").dialog({
                autoOpen: false,
                height: 200,
                width: 700,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons: {
                    "Select the flow": selectFlow,
                    Cancel: function() {
                        $("#select_flow_p2_dialog").dialog("close");
                    }
                }
            });

            $("#remove_flow_dialog").dialog({
                autoOpen: false,
                height: 175,
                width: 550,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons: {
                    "Yes": removeFlowFromSquare,
                    Cancel: function() {
                        $("#remove_flow_dialog").dialog("close");
                    }
                }
            });

            $("#select_event_source_p3_dialog").dialog({
                autoOpen: false,
                height: 180,
                width: 700,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons: {
                    "Select the event source": selectEventSource,
                    Cancel: function() {
                        $("#select_event_source_p3_dialog").dialog("close");
                    }
                }
            });

            $("#remove_event_source_dialog").dialog({
                autoOpen: false,
                height: 160,
                width: 440,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons: {
                    "Yes": removeEventSourceFromSquare,
                    Cancel: function() {
                        $("#remove_event_source_dialog").dialog("close");
                    }
                }
            });

            // loading the initial data and pass the function to build the dashboard
            var url = "{% url 'dashboard_initial_data' %}";
            serviceCall(url, handleInitialData, 'loadingDiv', 'GET');
        });


        function handleInitialData(initialData) {
            // if auto refresh is needed then use the setInterval();
            if (initialData.autoRefresh && initialData.autoRefresh != 'OFF') {
                buildDashboard();
                intervalForRefresh = setInterval(
                    function(){
                        buildDashboard();
                    }, initialData.autoRefresh * 1000);
            }
            // otherwise run it only once
            else {
                buildDashboard();
            }
            // set the auto refresh dropdown
            if (initialData.autoRefresh) {
                $("#s_auto_refresh").val(initialData.autoRefresh);
            } else {
                $("#s_auto_refresh").val("OFF");
            }
            // set the date period components
            setDatePeriodDropdown("s_tp_p1", initialData.dateperiod.p1);
            setDatePeriodDropdown("s_tp_p2", initialData.dateperiod.p2);
            setDatePeriodDropdown("s_tp_p3", initialData.dateperiod.p3);
        }


        function setDatePeriodDropdown(compId, value) {
            if (value) {
                $("#" + compId).val(value);
            } else {
                $("#" + compId).val("STARTED_LAST_1HOUR");
            }
        }


        function buildDashboard() {
            // call REST & build the top markers
            url = "{% url 'dashboard_top_markers' %}";
            serviceCall(url, buildTopMarkers, null, 'GET');

            // call REST & build the panel 1 (top right)
            url = "{% url 'dashboard_p1' %}";
            serviceCall(url, buildTopRightPanel, 'loadingDivP1', 'GET');

            // call REST & build the panel 2 (top left)
            url = "{% url 'dashboard_p2' %}";
            serviceCall(url, buildTopLeftPanel, 'loadingDivP2', 'GET');

            // call REST & build the panel 3 (bottom left)
            url = "{% url 'dashboard_p3' %}";
            serviceCall(url, buildBottomLeftPanel, 'loadingDivP3', 'GET');
        }


        //  *****************************************************************************************************
        //  ********************************************* top markers *******************************************
        function buildTopMarkers(response) {
            $("#top_marker_failed").text(response.FAILED);
            $("#top_marker_finished").text(response.FINISHED);
            $("#top_marker_started").text(response.STARTED);
            $("#top_marker_ignored").text(response.IGNORED);
            $("#top_marker_confirmation_needed").text(response.CONFIRMATION_NEEDED);
            var now = new Date();
            $("#top_markers_date").text(now.toLocaleDateString('en-GB') + ' ' + now.toLocaleTimeString('en-GB'));
        }


        //  *****************************************************************************************************
        //  ******************************************** specific flows *****************************************
        function buildTopLeftPanel(response) {
            for (var i=0; i < 4; i++) {
                // if the flow is not empty then show the name, cnt and the graph
                if (!jQuery.isEmptyObject(response.execution_flows[i])) {
                    buildGraph(i, response.execution_flows[i], 'execution_flow', response.date_format);
                }
                // if the flow is empty then show the flow selection component
                else {
                    $("#d_panel2_" + i + "_flow_selection").show();
                }
            }
        }


        //  *****************************************************************************************************
        //  ******************************************** specific event_sources *****************************************
        function buildBottomLeftPanel(response) {
            for (var i=0; i < 4; i++) {
                // if the event source is not empty then show the name, cnt and the graph
                if (!jQuery.isEmptyObject(response.event_sources[i])) {
                    buildGraph(i, response.event_sources[i], 'event_source', response.date_format);
                }
                // if the event source is empty then show the event source selection component
                else {
                    $("#d_panel3_" + i + "_event_source_selection").show();
                }
            }
        }


        //  *****************************************************************************************************
        //  ********************************* tree of STATUS, HOST and INITIATED BY (general info) **************
        function buildTopRightPanel(response) {
            buildBadger(response.status, "filter_status", "dashboard_p1_status", "(NO STATUS)");
            buildBadger(response.initiated_by, "filter_initiated_by", "dashboard_p1_initiated_by", "(NO INITIATOR)");
            buildBadger(response.host, "filter_hosts", "dashboard_p1_host", "(NO HOSTNAME)");

        }


        function buildGraph(i, resource, resourceName, dateFormat) {
            //  - displaying the flow/event_source name and count
            //  - building the chart
            var panelId = "d_panel2_" + i;
            if (resourceName == 'event_source') {
                panelId = "d_panel3_" + i;
            }
            // show the graph inside the square
            $("#" + panelId).show();
            var labels = Array.from( resource.graph_FINISHED, x => new Date(parseInt( x[0] )) );
            var data_FAILED = Array.from( resource.graph_FAILED, x => parseInt( x[1] ));
            var data_FINISHED = Array.from( resource.graph_FINISHED, x => parseInt( x[1] ));
            // the configuration of the graph
            var config = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'FAILED',
                        data: data_FAILED,
                        borderColor: 'red',
                    }, {
                        label: 'FINISHED',
                        data: data_FINISHED,
                        borderColor: 'green',
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        position: 'nearest',
                        intersect: false,
                        yPadding: 15,
                        xPadding: 15    ,
                        caretSize: 8,
                        borderColor: 'rgba(0,0,0,1)',
                        borderWidth: 2,
                        titleFontSize: 16,
                        bodyFontSize: 15,
                        footerFontSize: 15

                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: false,
                            type: 'time',
                            distribution: 'series',
                            time: {
                                displayFormats: {
                                    'millisecond': dateFormat,
                                    'second': dateFormat,
                                    'minute': dateFormat,
                                    'hour': dateFormat,
                                    'day': dateFormat,
                                    'week': dateFormat,
                                    'month': dateFormat,
                                    'quarter': dateFormat,
                                    'year': dateFormat,
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function(value) {if (value % 1 === 0) {return value;}}
                            }
                        }]
                    },
                }
            };

            // displaying the resource name and count
            var url = "{% url 'monitoring_list'%}?by_date=" + $('#s_tp_p2').val() + "&filter_" + resourceName + "__name=" + resource.name;
            $("#" + panelId + "_name").text(resource.name);
            $("#" + panelId + "_name").attr('href', url);
            $("#" + panelId + "_name").attr('title', resource.name);
            url = "{% url 'monitoring_list'%}?by_date=" + $('#s_tp_p2').val() + "&filter_status=FAILED&filter_" + resourceName + "__name=" + resource.name;
            $("#" + panelId + "_failed").attr('href', url);
            url = "{% url 'monitoring_list'%}?by_date=" + $('#s_tp_p2').val() + "&filter_status=FINISHED&filter_" + resourceName + "__name=" + resource.name;
            $("#" + panelId + "_finished").attr('href', url);
            url = "{% url 'monitoring_list'%}?by_date=" + $('#s_tp_p2').val() + "&filter_status=IGNORED&filter_" + resourceName + "__name=" + resource.name;
            $("#" + panelId + "_ignored").attr('href', url);
            url = "{% url 'monitoring_list'%}?by_date=" + $('#s_tp_p2').val() + "&filter_status=REJECTED&filter_" + resourceName + "__name=" + resource.name;
            $("#" + panelId + "_rejected").attr('href', url);
            $("#" + panelId + "_count").text(resource.count);
            $("#" + panelId + "_count_IGNORED").text(resource.count_IGNORED);
            $("#" + panelId + "_count_REJECTED").text(resource.count_REJECTED);
            $("#" + panelId + "_count_FINISHED").text(resource.count_FINISHED);
            $("#" + panelId + "_count_FAILED").text(resource.count_FAILED);

            // building the chart
            var ctx = document.getElementById(panelId + "_graph").getContext("2d");
            if (squareCharts[resourceName][i] != null) {
                squareCharts[resourceName][i].destroy();
            }
            squareCharts[resourceName][i] = new Chart(ctx, config);
        }


        function buildBadger(data, filterText, elementId, emptyValue) {
            $("#" + elementId).html("");
            color = {'CANCELLED': '#337ab7', 'CONFIRMATION_NEEDED': 'black','FAILED': 'red', 'FINISHED': 'green', 'IGNORED': 'gray','REJECTED': '#337ab7','SCHEDULED': '#337ab7','STARTED': 'blue','WAITING_FOR_OTHERS': '#337ab7'}
            // if the data is not empty then show the text and the numbers
            if (!jQuery.isEmptyObject(data)) {
                var html = '<table>';
                for (var i=0; i < data.length; i++) {
                    var rec = data[i];
                    var url = "{% url 'monitoring_list'%}?by_date=" + $('#s_tp_p1').val() + "&" + filterText + "=" + rec[0];
                    if (rec[0] == null || rec[0] == "") {
                        html = html + '<div style="padding-bottom: 5px;"><label class="dashboard_p1_value" style="color:gray; font-weight: bold;">' + emptyValue + ' <span class="badge" style="margin-left: 15px;">' + rec[1] + '</span></label></div>';
                    } else {
                        html = html + '<div style="padding-bottom: 5px;"><a class="dashboard_p1_value" style="color:' + color[rec[0]] + '; font-weight: bold;" href="' + url + '">' + rec[0] + ' <span class="badge" style="margin-left: 15px;">' + rec[1] + '</span></a></div>';
                    }
                }
                $("#" + elementId).html(html + '</table>');
            }
        }


        // --------------------------------------- GET / POST / DELETE --------------------------------------
        function serviceCall(url, buildFunc, idLoadingDiv, verb) {
            // displaying the loading DIV
            if (idLoadingDiv != null) {
                $("#" + idLoadingDiv).show();
            }
            // getting the CSRF token (see https://docs.djangoproject.com/en/1.11/ref/csrf/)
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            // calling the server to get the data for donut chart (top right)
            $.ajax({
                type: verb,
                url: url,
                timeout: 20000,
                accepts: {
                    text: 'application/json'
                },
                success: function(response) {
                    // hiding the loading DIV
                    if (idLoadingDiv != null) {
                        $("#" + idLoadingDiv).hide();
                    }
                    buildFunc(response);
                },
                error: function(request, status, error) {
                    // hiding the loading DIV
                    if (idLoadingDiv != null) {
                        $("#" + idLoadingDiv).hide();
                    }
                    handleError(request, status, error);
                }
            });
        }

        function servicePOSTCall(url, value, buildFunc, idLoadingDiv) {
            // displaying the loading DIV
            $("#"+idLoadingDiv).show();
            // getting the CSRF token (see https://docs.djangoproject.com/en/1.11/ref/csrf/)
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            // calling the server to get the data for donut chart (top right)
            $.ajax({
                type: 'POST',
                url: url,
                data: value,
                timeout: 20000,
                accepts: {
                    text: 'application/json'
                },
                success: function(response) {
                    // hiding the loading DIV
                    $("#" + idLoadingDiv).hide();
                    buildFunc(response);
                },
                error: function(request, status, error) {
                    // hiding the loading DIV
                    $("#" + idLoadingDiv).hide();
                    handleError(request, status, error);
                }
            });
        }


        function saveDatePeriodPanel(panelNumber) {
            // call REST to save the time period
            var url = "{% url 'dashboard_dateperiod' %}";
            var value = new Object();
            value.panel = "p" + panelNumber;
            value.dateperiod = $("#s_tp_p" + panelNumber).val();
            var builPanelUrl = "{% url 'dashboard_p1' %}";
            var buildFunction = buildTopRightPanel;
            if (panelNumber == 2) {
                builPanelUrl = "{% url 'dashboard_p2' %}";
                buildFunction = buildTopLeftPanel;
            } else if (panelNumber == 3) {
                builPanelUrl = "{% url 'dashboard_p3' %}";
                buildFunction = buildBottomLeftPanel;
            }
            servicePOSTCall(url,
                            value,
                            function() {  serviceCall(builPanelUrl, buildFunction, 'loadingDivP' + panelNumber, 'GET');  },
                            "loadingDivP" + panelNumber);
        }


        function makeGraphData(responseGraphData) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Incidents');
            //for(var index in responseGraphData) {
            for (var i=0; i < responseGraphData.length; i++) {
                data.addRow([ new Date(parseInt(responseGraphData[i][0])),
                              parseInt(responseGraphData[i][1]) ]);
            }

            return data;
        }


        function clickOnEmptyDashboardSquare(squareDivId) {
            // displaying the loading DIV
            $("#loadingDiv").show();
            // setting the resource-dependant (event_source or execution flow) variables
            var url = '{% url "admin_execution_flow" %}';
            var selectDialogId = "select_flow_p2_dialog";
            var dropDownId = 's_p2_flows';
            var hiddenParamDivId = 'square_flow_div_id';
            if (squareDivId.startsWith('d_panel3')) {
                url = '{% url "admin_event_source" %}';
                selectDialogId = "select_event_source_p3_dialog";
                dropDownId = 's_p3_event_sources';
                hiddenParamDivId = 'square_event_source_div_id';
            }
            // getting the resource
            $.ajax({
                type: 'GET',
                url: url,
                timeout: 20000,
                accepts: {
                    text: "application/json"
                },
                success: function (result) {
                    // hiding the loading DIV
                    $("#loadingDiv").hide();
                    // opening the dialog
                    $( "#" + selectDialogId ).dialog( "open" );
                    $( "#" + selectDialogId ).removeClass("hide");
                    // empty the drop-down
                    $("#" + dropDownId).empty();
                    var options = '';
                    for (var i = 0; i < result.length; i++) {
                        options += '<option value="'+ result[i].id + '">' + result[i].name + '</option>';
                    }
                    $("#" + dropDownId).append(options);
                    $("#" + hiddenParamDivId).val(squareDivId);
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
            });
        }


        function selectFlow() {
            var squareDivId = $("#square_flow_div_id").val();
            // save the selected flow to panel2
            value = {'squareNumber': squareDivId.replace('d_panel2_',''),
                     'executionFlowId': $("#s_p2_flows").val()}
            servicePOSTCall('{% url "dashboard_p2_select_flow" %}',
                            value,
                            function() {
                                $("#" + squareDivId + "_flow_selection").hide();
                                serviceCall("{% url 'dashboard_p2' %}", buildTopLeftPanel, 'loadingDivP2', 'GET');
                            },
                            'loadingDivP2');
            // close the dialog
            $("#select_flow_p2_dialog").dialog("close");
        }


        function selectEventSource() {
            var squareDivId = $("#square_event_source_div_id").val();
            // save the selected event_source to panel3
            value = {'squareNumber': squareDivId.replace('d_panel3_',''),
                     'eventSourceId': $("#s_p3_event_sources").val()}
            servicePOSTCall('{% url "dashboard_p3_select_event_source" %}',
                            value,
                            function() {
                                $("#" + squareDivId + "_event_source_selection").hide();
                                serviceCall("{% url 'dashboard_p3' %}", buildBottomLeftPanel, 'loadingDivP3', 'GET');
                            },
                            'loadingDivP3');
            // close the dialog
            $("#select_event_source_p3_dialog").dialog("close");
        }


        function changeAutoRefresh() {
            var autoRefresh = $("#s_auto_refresh").val();
            // save the selected auto refresh value
            value = {'autoRefresh': autoRefresh};
            servicePOSTCall('{% url "dashboard_save_auto_refresh" %}',
                            value,
                            function() {
                                if (autoRefresh != 'OFF') {
                                    intervalForRefresh = setInterval( function(){ buildDashboard(); }, autoRefresh * 1000);
                                } else {
                                    clearInterval(intervalForRefresh);
                                }
                            },
                            'loadingDiv');
        }


        function openRemoveDialog(squareDivId, resourceName) {
            if (resourceName == 'event_source') {
                // opening the dialog
                $( "#remove_event_source_dialog" ).dialog( "open" );
                $( "#remove_event_source_dialog" ).removeClass("hide");
                $( "#event_source_to_be_removed_id").val(squareDivId);
            } else {
                // opening the dialog
                $( "#remove_flow_dialog" ).dialog( "open" );
                $( "#remove_flow_dialog" ).removeClass("hide");
                $("#flow_to_be_removed_id").val(squareDivId);
            }
        }


        function removeFlowFromSquare() {
            var squareDivId = $("#flow_to_be_removed_id").val();
            // building the url
            var url = '{% url "dashboard_p2_remove_flow" squareNr="34398774428521225956856329237" %}';
            url = url.replace('34398774428521225956856329237', squareDivId.replace('d_panel2_',''));
            // call the DELETE REST service
            serviceCall(url,
                        function() {
                            $('#remove_flow_dialog').dialog("close");
                            $('#' + squareDivId).hide();
                            serviceCall("{% url 'dashboard_p2' %}", buildTopLeftPanel, 'loadingDivP2', 'GET');
                        },
                        'loadingDivP2',
                        'DELETE');
        }


        function removeEventSourceFromSquare() {
            var squareDivId = $("#event_source_to_be_removed_id").val();
            // building the url
            var url = '{% url "dashboard_p3_remove_event_source" squareNr="312785387994477545762387764387" %}';
            url = url.replace('312785387994477545762387764387', squareDivId.replace('d_panel3_',''));
            // call the DELETE REST service
            serviceCall(url,
                        function() {
                            $('#remove_event_source_dialog').dialog("close");
                            $('#' + squareDivId).hide();
                            serviceCall("{% url 'dashboard_p3' %}", buildBottomLeftPanel, 'loadingDivP3', 'GET');
                        },
                        'loadingDivP3',
                        'DELETE');
        }
    </script>


    <div class="heading1">Dashboard</div>

    <div class="container-fluid" style="padding-top: 30px;">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-8" style="padding-left: 40px; padding-bottom: 3px;">
                <span style="padding-left: 10px; font-weight: bold;">Started in the last hour</span>
                <span style="padding-left: 10px;">(current date is <span id="top_markers_date"></span>) :</span>
                <div>
                    <span class="dashboard_markers_top_container">
                        <div>Failed events</div>
                        <div>
                            <span class="glyphicon glyphicon-exclamation-sign dashboard_markers_top_icon vcenter" style="color:red;"></span>
                            <a id="top_marker_failed" class="dashboard_markers_top_value vcenter" href="{% url 'monitoring_list'%}?by_date=STARTED_LAST_1HOUR&filter_status=FAILED"></a>
                        </div>
                    </span>
                    <span class="dashboard_markers_top_container">
                        <div>Finished events</div>
                        <div>
                            <span class="glyphicon glyphicon-ok-sign dashboard_markers_top_icon vcenter" style="color:green;"></span>
                            <a id="top_marker_finished" class="dashboard_markers_top_value vcenter" href="{% url 'monitoring_list'%}?by_date=STARTED_LAST_1HOUR&filter_status=FINISHED"></a>
                        </div>
                    </span>
                    <span class="dashboard_markers_top_container">
                        <div>Started events</div>
                        <div>
                            <span class="glyphicon glyphicon-plus-sign dashboard_markers_top_icon vcenter" style="color:blue;"></span>
                            <a id="top_marker_started" class="dashboard_markers_top_value vcenter" href="{% url 'monitoring_list'%}?by_date=STARTED_LAST_1HOUR&filter_status=STARTED"></a>
                        </div>
                    </span>
                    <span class="dashboard_markers_top_container">
                        <div>Events to be confirmed</div>
                        <div>
                            <span class="glyphicon glyphicon-question-sign dashboard_markers_top_icon vcenter" style="color:black;"></span>
                            <a id="top_marker_confirmation_needed" class="dashboard_markers_top_value vcenter" href="{% url 'monitoring_list'%}?by_date=STARTED_LAST_1HOUR&filter_status=CONFIRMATION_NEEDED"></a>
                        </div>
                    </span>
                    <span class="dashboard_markers_top_container">
                        <div>Ignored events</div>
                        <div>
                            <span class="glyphicon glyphicon-remove-sign dashboard_markers_top_icon vcenter" style="color:gray;"></span>
                            <a id="top_marker_ignored" class="dashboard_markers_top_value vcenter" href="{% url 'monitoring_list'%}?by_date=STARTED_LAST_1HOUR&filter_status=IGNORED"></a>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-md-4" style="padding-right:0px;">
                <div class="pull-right" style="padding-bottom:10px; padding-right: 7px;">
                    <label style="padding-right: 5px;">Auto refresh:</label>
                    <select id="s_auto_refresh" class="form-control-static" onchange="changeAutoRefresh()">
                       <option value="OFF">off</option>
                       <option value="10">every 10 sec</option>
                       <option value="30">every 30 sec</option>
                       <option value="60">every 1 min</option>
                       <option value="300">every 5 min</option>
                       <option value="600">every 10 min</option>
                        <option value="1800">every 30 min</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <!-- ----------------------- Panel 2 ----------------------- -->
                    <div class="col-md-12" style="padding-right: 7px; padding-left: 7px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">Panel 2 - Information about selected execution flows</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="pull-right" style="padding-bottom: 5px; padding-right: 10px;">
                                        {% autoescape off %}{% dashboard_dateperiod_combobox 's_tp_p2' 'saveDatePeriodPanel(2)' %}{% endautoescape %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="position:relative; margin: 10px;">
                                        <div class="col-md-3 dashboard_square_parent">
                                            {% dashboard_square 'd_panel2_0' '#1BC98E' 'flow' %}
                                        </div>
                                        <div class="col-md-3 dashboard_square_parent">
                                            {% dashboard_square 'd_panel2_1' '#E64759' 'flow' %}
                                        </div>
                                        <div class="col-md-3 dashboard_square_parent">
                                            {% dashboard_square 'd_panel2_2' '#9F86FF' 'flow' %}
                                        </div>
                                        <div class="col-md-3 dashboard_square_parent">
                                            {% dashboard_square 'd_panel2_3' '#cabe1c' 'flow' %}
                                        </div>
                                    </div>
                                    <div id="loadingDivP2" class="loadingDivPanel" style="display:none; height: 97%; padding: 10px;">
                                        <div style="padding-top: 50px;"></div>
                                        <div class="loader_small center-block"></div>
                                        <h1 style="color:black;">Please wait...</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-right: 7px; padding-left: 7px;">
                        <!-- ----------------------- Panel 3 ----------------------- -->
                        <div class="panel panel-default">
                            <div class="panel-heading">Panel 3 - Information about selected event sources</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="pull-right" style="padding-bottom: 5px; padding-right: 10px;">
                                        {% autoescape off %}{% dashboard_dateperiod_combobox 's_tp_p3' 'saveDatePeriodPanel(3)' %}{% endautoescape %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="position:relative; margin: 10px;">
                                        <div class="col-md-3 dashboard_square_parent">
                                            {% dashboard_square 'd_panel3_0' '#1BC98E' 'event_source' %}
                                        </div>
                                        <div class="col-md-3 dashboard_square_parent">
                                            {% dashboard_square 'd_panel3_1' '#E64759' 'event_source' %}
                                        </div>
                                        <div class="col-md-3 dashboard_square_parent">
                                            {% dashboard_square 'd_panel3_2' '#9F86FF' 'event_source' %}
                                        </div>
                                        <div class="col-md-3 dashboard_square_parent">
                                            {% dashboard_square 'd_panel3_3' '#cabe1c' 'event_source' %}
                                        </div>
                                    </div>
                                    <div id="loadingDivP3" class="loadingDivPanel" style="display:none; height: 97%; padding: 10px;">
                                        <div style="padding-top: 50px;"></div>
                                        <div class="loader_small center-block"></div>
                                        <h1 style="color:black; ">Please wait...</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-right: 7px; padding-left: 7px;">
                <!-- ----------------------- Panel 1 ----------------------- -->
                <div class="panel panel-default">
                    <div class="panel-heading">Panel 1 - General info</div>
                    <div class="panel-body">
                        <div class="row pull-right" style="padding-bottom: 5px; padding-right: 10px;">
                            {% autoescape off %}{% dashboard_dateperiod_combobox 's_tp_p1' 'saveDatePeriodPanel(1)' %}{% endautoescape %}
                        </div>

                        <div class="row">
                            <div style="position:relative;">
                                <div id="d-panel4" class="col-md-12" style="overflow: auto; height: 25w; width: 100%;">
                                    <div class="dashboard_p1_label">STATUS</div>
                                    <div id="dashboard_p1_status" class="dashboard_p1_data"></div>
                                    <div class="dashboard_p1_label">INITIATED BY</div>
                                    <div id="dashboard_p1_initiated_by" class="dashboard_p1_data"></div>
                                    <div class="dashboard_p1_label">HOST <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Please be aware that&#10; 1. the number of counted events can be higher than for STATUS and for INITIATED BY!&#10;    (for example: only one flow exists that runs on host X and host Y, it was started 10 times successfully so the count is twice as high as in the STATUS / FINISHED row -> both host X and host Y is taken into account twice)&#10; 2. only those started flows are counted then make an event life i.e. the following statuses won't be calculated: IGNORED, WAITING_FOR_OTHERS, SCHEDULED (manually)"></span> </div>
                                    <div id="dashboard_p1_host" class="dashboard_p1_data"></div>
                                </div>
                            </div>
                            <div id="loadingDivP1" class="loadingDivPanel" style="display:none;height: 97%; padding: 10px;">
                                <div style="padding-top: 50px;"></div>
                                <div class="loader_small center-block"></div>
                                <h1 style="color:black;">Please wait...</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </div>


    <!-- the div element for displaying a dialog to select a flow -->
    <div id="select_flow_p2_dialog" title="Select a flow!" class="hide">
        Execution flows: <select id="s_p2_flows" class="form-control-static" style="width: 100%;"></select>
        <input type="hidden" id="square_flow_div_id" name="square_flow_div_id" value="" />
    </div>


    <!-- the div element for displaying a dialog to remove the flow from square -->
    <div id="remove_flow_dialog" title="Confirm to remove the flow from the square!" class="hide">
        <input type="hidden" id="flow_to_be_removed_id" name="flow_to_be_removed_id" value="" />
        <div class="form-group">
            <span>Are you sure you want to remove the flow from the square?</span>
        </div>
    </div>

    <!-- the div element for displaying a dialog to select a event_source -->
    <div id="select_event_source_p3_dialog" title="Select a event source!" class="hide">
        Event sources: <select id="s_p3_event_sources" class="form-control-static" style="width: 100%;"></select>
        <input type="hidden" id="square_event_source_div_id" name="square_event_source_div_id" value="" />
    </div>


    <!-- the div element for displaying a dialog to remove the event source from square -->
    <div id="remove_event_source_dialog" title="Confirm to remove the event source from the square!" class="hide">
        <input type="hidden" id="event_source_to_be_removed_id" name="event_source_to_be_removed_id" value="" />
        <div class="form-group">
            <span>Are you sure you want to remove the event source from the square?</span>
        </div>
    </div>

{% endblock %}