{% extends "base.html" %}

{% block title %}Monitoring - event life details{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'switch.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/css/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/css/solid.min.css' %}" />

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
    <script src="{% static 'mermaid/mermaid.min.js' %}"></script>

	<script>
   		// ---------------------- mermaid initialization ----------------------
        var config = {
            startOnLoad: true,
            theme: 'forest',
            logLevel: 4,
            securityLevel: 'loose',
            flowchart: {
                useMaxWidth: false,
                htmlLabels: true
            }
        };

        // building the mermaid flow
        mermaid.initialize(config);

        $(document).ready(function () {
            // the mermaid flow uses sometimes too much space (the height was much bigger than was needed) -> set the height of flow to the DIV container
            $("#mermaidChart0").height( $("#mermaidChart0 > g").height() + 150 );

            buildTooltipForFlowNodes();

            $("#full_text_dialog").dialog({
                autoOpen: false,
                height: 550,
                width: 1000,
                modal: true,
                position: { my: 'top', at: 'top+100' }
            });

            $("#history_dialog").dialog({
                autoOpen: false,
                height: 550,
                width: 1000,
                modal: true,
                position: { my: 'top', at: 'top+100' }
            });

            $("#skip_task_dialog").dialog({
                autoOpen: false,
                height: 250,
                width: 700,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons: {
                    "Skip the task": skipTask,
                    Cancel: function() {
                        $("#skip_task_dialog").dialog("close");
                    }
                }
            });

            // highlighting the tasks in the mermaid flow that were executed
            var executedTaskIds = {{executed_task_ids}};
            $('[id^=flowchart-execution_flow_node_]').css('opacity', '0.4');
            for (i = 0; i < executedTaskIds.length; i++) {
                $('[id^=flowchart-execution_flow_node_'+executedTaskIds[i]+'-]').css('opacity', '1');
            }

            // displaying an error dialog if error occurred during the REST call
            {% if successful %}
                $("#l_error_message").html('{{errorMessage}}');
                $("#d_error").removeClass("hide");
                $("#d_error").dialog( "open" )
            {% endif %}

            // collapsing / expanding the event header based on localStorage
            var monitoring_details_header_panel_collapsed = localStorage.monitoring_details_header_panel_collapsed === undefined ? "false" : localStorage.monitoring_details_header_panel_collapsed;
            if (monitoring_details_header_panel_collapsed == "true") {
                $("#event_header_collapse").removeClass('in');
                $("#event_header_collapse").addClass('collapse');
                $('a[href="#event_header_collapse"] span').removeClass('glyphicon-collapse-down');
                $('a[href="#event_header_collapse"] span').addClass('glyphicon-expand');
            } else {
                $("#event_header_collapse").removeClass('collapse');
                $("#event_header_collapse").addClass('in');
                $('a[href="#event_header_collapse"] span').addClass('glyphicon-collapse-down');
                $('a[href="#event_header_collapse"] span').removeClass('glyphicon-expand');
            }
            // storing if the event header is collapsed / expanded
            $("#event_header_collapse").on('shown.bs.collapse', function () {
                localStorage.monitoring_details_header_panel_collapsed="false";
            });
            $("#event_header_collapse").on('hidden.bs.collapse', function () {
                localStorage.monitoring_details_header_panel_collapsed="true";
            });
            $('a[href="#event_header_collapse"]').click(function(e) {
                if (localStorage.monitoring_details_header_panel_collapsed == "true") {
                    $('a[href="#event_header_collapse"] span').addClass('glyphicon-collapse-down');
                    $('a[href="#event_header_collapse"] span').removeClass('glyphicon-expand');
                } else {
                    $('a[href="#event_header_collapse"] span').removeClass('glyphicon-collapse-down');
                    $('a[href="#event_header_collapse"] span').addClass('glyphicon-expand');
                }
            });

            // event life table -> adding the event handler and storing if it is collapsed
            var defaultHeight = "25vh";
            var div = $("#div-event-life");
            var divHeight = div[0].offsetHeight;
            div.css({"max-height": defaultHeight, "overflow": "hidden"});
            $("#plus-event-life").on("click", function(){
                var newHeight = 0;
                if (div.hasClass("active-event-life")) {
                    newHeight = defaultHeight;
                    div.removeClass("active-event-life");
                    localStorage.monitoring_event_life_table_collapsed = "true";
                    $('#plus-event-life span').removeClass('glyphicon-collapse-down');
                    $('#plus-event-life span').addClass('glyphicon-expand');
                } else {
                    newHeight = divHeight;
                    div.addClass("active-event-life");
                    localStorage.monitoring_event_life_table_collapsed = "false";
                    $('#plus-event-life span').addClass('glyphicon-collapse-down');
                    $('#plus-event-life span').removeClass('glyphicon-expand');
                }
                div.animate({ "max-height": newHeight }, 500);
            });
            // expanding / partly collapsing the event life table
            var monitoring_event_life_table_collapsed = localStorage.monitoring_event_life_table_collapsed === undefined ? "false" : localStorage.monitoring_event_life_table_collapsed;
            if (monitoring_event_life_table_collapsed == "true") {
                div.removeClass("active-event-life");
                div.animate({ "max-height": defaultHeight }, 0);
                $('#plus-event-life span').removeClass('glyphicon-collapse-down');
                $('#plus-event-life span').addClass('glyphicon-expand');
            } else {
                div.addClass("active-event-life");
                div.animate({ "max-height": divHeight }, 0);
                $('#plus-event-life span').addClass('glyphicon-collapse-down');
                $('#plus-event-life span').removeClass('glyphicon-expand');
            }

        });

        function showFull(eventLifeId, what) {
            // displaying the loading DIV
            $("#loadingDiv").show();
            // getting the output / extracted value / error message
            var url = '{% url "monitoring_event_life_full" pk="972563956385638462754838" what="ahfkvbnrzkdbvgeeidmqomyortyxdehf"%}';
            $.ajax({
                type: 'GET',
                url: url = url.replace('972563956385638462754838', eventLifeId).replace('ahfkvbnrzkdbvgeeidmqomyortyxdehf', what),
                timeout: 20000,
                accepts: {
                    text: "application/json"
                },
                success: function (_full, result) {
                    // hiding the loading DIV
                    $("#loadingDiv").hide();
                    // opening the dialog
                    $( "#full_text_dialog" ).dialog( "open" );
                    $( "#full_text_dialog" ).removeClass("hide");
                    $( '#full_text_dialog' ).dialog('option', 'title', "Full "+what);
                    // set the text area
                    $( "#ta_full" ).val(_full);
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
            });
        }

        function openHistoryDialog(eventLifeId) {
            // displaying the loading DIV
            $("#loadingDiv").show();
            // calling the REST to get the history
            var url = '{% url "monitoring_event_life_history" pk="5725739562856368462754838" %}';
            $.ajax({
                type: 'GET',
                url: url = url.replace('5725739562856368462754838', eventLifeId),
                timeout: 20000,
                accepts: {
                    text: "application/json"
                },
                success: function (_historyList, result) {
                    // hiding the loading DIV
                    $("#loadingDiv").hide();
                    // opening the dialog
                    $( "#history_dialog" ).dialog( "open" );
                    $( "#history_dialog" ).removeClass("hide");
                    // build the history table
                    $("#history_table > tbody").html("");
                    $.each(_historyList, function(nr, _history) {
                        var str = "";
                        var clazz = (nr % 2 == 0) ? "data_table_even_line" : "data_table_event_odd";
                        str += "<tr class='"+ clazz + "'>";
                        str += "<td>" + _history.date + "</td>";
                        str += "<td>" + _history.eventStatus + "</td>";
                        str += "</tr>";
                        $("#history_table tbody").append(str);
                    });
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
            });
        }


        function openSkipTaskDialog(eventLifeId) {
            // opening the dialog
            $( "#skip_task_dialog" ).dialog( "open" );
            $( "#skip_task_dialog" ).removeClass("hide");
            $( "#skip_task_dialog" ).data("eventLifeId",eventLifeId);
            // displaying the loading DIV
            $("#loadingDiv").show();
            // calling the REST to check if the next task is an IF-ELSE
            var url = '{% url "monitoring_check_next_task" pk="92364568282897562872346747857772426" %}';
            $.ajax({
                type: 'GET',
                url: url = url.replace('92364568282897562872346747857772426', eventLifeId),
                timeout: 20000,
                accepts: {
                    text: "application/json"
                },
                success: function (nextTask, result) {
                    // hiding the loading DIV
                    $("#loadingDiv").hide();
                    if (nextTask == 'IF_ELSE') {
                        $("#skip_task_dialog").dialog("option", "height", 250);
                        $("#d_next_is_if_else").removeClass("hide");
                        $("#d_next_is_if_else").show();
                    } else {
                        $("#d_next_is_if_else").hide();
                        $("#skip_task_dialog").dialog("option", "height", 180);
                    }
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
            });
        }


        function skipTask() {
            var value = $("#i_value_for_if_else").val();
            var eventLifeId = $( "#skip_task_dialog" ).data("eventLifeId");
            // displaying the loading DIV
            $("#loadingDiv").show();
            // getting the CSRF token (see https://docs.djangoproject.com/en/1.11/ref/csrf/)
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            // calling the REST to skip the task
            var url = '{% url "monitoring_skip_task" pk="1992643124628894745637383876473874" %}';
            $.ajax({
                type: 'POST',
                url: url = url.replace('1992643124628894745637383876473874', eventLifeId ),
                data: {'value':  value},
                timeout: 20000,
                accepts: {
                    text: "application/json"
                },
                success: function (nextTask, result) {
                    location.reload();
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
            });
        }

        var reloading;

        function checkReloading() {
            if (window.location.hash=="#autoreload") {
                reloading=setTimeout("window.location.reload();", 6000);
                document.getElementById("reloadCB").checked=true;
            }
        }

        function toggleAutoRefresh(cb) {
            if (cb.checked) {
                window.location.replace("#autoreload");
                reloading=setTimeout("window.location.reload();", 8000);
            } else {
                window.location.replace("#");
                clearTimeout(reloading);
            }
        }

        window.onload=checkReloading;
    </script>

    {% csrf_token %}

    <div class="heading1">Monitoring - details</div>

    <div class="container-fluid" style="padding-top: 30px;">
        <span style="padding-bottom: 20px">Auto refresh
            <label class="switch" style="margin-left: 9px; margin-right: 9px; position: relative; top: 15px;">
                <input type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB">
                <div class="slider"></div>
            </label>
        </span>

        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary pull-right" style="margin-top:15px; margin-bottom: 5px;">Back</a>
        {% if event.status in 'CONFIRMED, SCHEDULED, WAITING_FOR_OTHERS, STARTED'|slice:',' %}
        <a href="{% url 'monitoring_cancel' pk=event.id %}" onclick="return confirm('Are you sure to stop the flow?')" class="pull-right" title="Cancel the flow! (please be aware the currently running task won't be stopped...)" style="padding: 10px">
            <span class="glyphicon glyphicon-thumbs-down" style="font-size: 40px"/>
        </a>
        {% endif %}


    <div class="panel-group" style="padding-top: 20px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <label>Event header</label>
            <a data-toggle="collapse" href="#event_header_collapse" class="pull-right" style="font-size:135%;"><span class="glyphicon glyphicon-collapse-down" title="Expand/collapse"></span></a>
          </h4>
        </div>
        <div id="event_header_collapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table table-condensed table-striped">
            <tr>
                <td>
                    <label>Identifier:</label>
                    {{ event.identifier }}
                </td>
                <td>
                    <label>Status:</label>
                    {{ event.status }}
                </td>
                <td>
                    <label>Initiated by:</label>
                    {{ event.initiated_by }}
                </td>
                <td>
                    <label>Start date:</label>
                    {{ event.start_date|date:'Y-m-d H:i:s'|default_if_none:"" }}
                </td>
                <td>
                    <label>End date:</label>
                    {{ event.end_date|date:'Y-m-d H:i:s'|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Event source type:</label>
                    {% if event.event_source_type %}
                        {% ifequal event.event_source_type.code 'REACTION-WORKER'%}
                            {{ event.event_source_type.name|default_if_none:""|truncatechars:35 }}
                        {% else %}
                            <a href="{% url 'admin_event_source_type_update' pk=event.event_source_type.pk %}" target="_blank" rel="noopener noreferrer">{{ event.event_source_type.name|default_if_none:"" }}</a>
                        {% endifequal %}
                    {% endif %}
                </td>
                <td>
                    <label>Event source:</label>
                    {% if event.event_source %}
                        <a href="{% url 'admin_event_source_update' pk=event.event_source.pk %}" target="_blank" rel="noopener noreferrer">{{ event.event_source.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
                <td>
                    <label>Execution flow:</label>
                    {% if event.execution_flow %}
                        <a href="{% url 'admin_execution_flow_update' pk=event.execution_flow.pk %}" target="_blank" rel="noopener noreferrer">{{ event.execution_flow.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
                <td colspan="2">
                    <label>Error detector:</label>
                    {% if event.error_detector %}
                        <a href="{% url 'admin_errordetector_update' pk=event.error_detector.pk %}" target="_blank" rel="noopener noreferrer">{{ event.error_detector.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Log level:</label>
                    {{ event.log_level|default_if_none:"" }}
                </td>
                <td>
                    <label>The counter of multiple events:</label>
                    {{ event.multiple_events_counter|default_if_none:"" }}
                </td>
                <td>
                    <label>First event arrived on:</label>
                    {{ event.first_event_arrived|date:'Y-m-d H:i:s'|default_if_none:"" }}
                </td>
                <td colspan="2">
                    <label>Reason:</label>
                    {{ event.reason|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <label>Log entry: <span id="icon_question_os_user" class="glyphicon glyphicon-question-sign" title="The log entry coming from worker that is initialized the event"></span> </label>
                    {{ event.message|default_if_none:"" }}
                </td>
                <td colspan="2">
                    <label>Scheduler:</label>
                    {% if event.scheduled_execution_flow %}
                        <a href="{% url 'admin_execution_flow_update' pk=event.scheduled_execution_flow.pk %}" target="_blank" rel="noopener noreferrer">{{ event.scheduled_execution_flow.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="vertical-align: top; padding: 0px 60px 0px 20px">
                    {% if event.query_parameters %}
                        <div style="padding-bottom: 15px;"><b>Identifier values from the query parameters of URL</b></div>
                        <table class="table table-condensed table-striped" >
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                            {% for query_parameter in query_parameters %}
                            <tr>
                                <td><i>{{ query_parameter.0 }}</i></td>
                                <td>{{ query_parameter.1 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </td>
                <td style="vertical-align: top; padding: 0px 20px 0px 60px;">
                    {% if event.payload_values %}
                        <div style="padding-bottom: 15px;"><b>Identifier values from the payload of the message</b></div>
                        <table class="table table-condensed table-striped" >
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                            {% for payload_value in payload_values %}
                            <tr>
                                <td><i>{{ payload_value.0 }}</i></td>
                                <td>{{ payload_value.1 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </td>
            </tr>
        </table>

     </div>
      </div>
     </div>
    </div>

    <div class="panel-group" style="padding-top: 5px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <label>Event life</label>
            <a class="pull-right" id="plus-event-life" style="font-size:135%;"><span class="glyphicon glyphicon-collapse-down" title="Expand/collapse"></span></a>
          </h4>
        </div>
        <div class="panel-collapse">
      <div class="panel-body" id="div-event-life" style="overflow: auto;">

        {% if loop_value_dict %}
        <label>Filtering by loop values</label>
        <form method="get" action="{% url 'monitoring_details' pk=event.id %}" id="form_monitoring_details_filter">
        <div class="monitoring-loop-filter">
           {% for key, values in loop_value_dict.items %}
            <span style="float:left;">
              <label title="{{key.1}}">{{key.1|truncatechars:25}}:</label>
              <select name="loop_task_{{key.0}}" id="loop_task_{{key.0}}">
              {% for value in values %}
                 <option value="{{forloop.counter0}}" {% monitoring_details_filter_selected key.0 forloop.counter0 %}>{{value}}</option>
              {% endfor %}
              </select>
            </span>
            {% endfor %}
            <input type="submit" name="submit" value="Filter!" class="btn btn-info" onclick="$('#loadingDiv').show(); document.forms['form_monitoring_details_filter'].submit();"/>
            or
            <input type="submit" name="submit" value="Display all!" class="btn btn-info" onclick="$('#loadingDiv').show(); document.forms['form_monitoring_details_filter'].submit();"/>
        </div>
        {% endif %}

        <table class="data_table table-hover" style="margin-top:0px;">
            <tr>
                <th class="data_table_header">Event life date</th>
                <th class="data_table_header">Executed task name</th>
                <th class="data_table_header">Command output</th>
                <th class="data_table_header">Extracted output value</th>
                <th class="data_table_header">Loop index</th>
                <th class="data_table_header">Command successful</th>
                <th class="data_table_header">Status</th>
                <th class="data_table_header">By whom</th>
                <th class="data_table_header">Error message</th>
                <th/>
            </tr>

            {% for event_life in object_list %}
            <tr class="{% cycle 'data_table_event_odd' 'data_table_even_line' %}">
                <td style="white-space: nowrap;">{{ event_life.event_date|date:'Y-m-d H:i:s'|default_if_none:"" }}</td>
                <td>
                    <span style="padding-right:80px;">{{ event_life.task.name|default_if_none:""|truncatechars:30 }} {% if event_life.task %}[{% endif %}{{event_life.task.internal_task}}{% if event_life.task %}]{% endif %}</span>
                </td>
                <td>
                    <table><tr>
                        <td style="border: none;">{{ event_life.output|default_if_none:""|truncatechars:90 }}</td>
                        <td style="border: none;">{% if event_life.output %}<a href="#" style="padding-left: 10px; padding-right:10px;" title="Show the full output" onclick="showFull({{event_life.id}},'output');return false;"><span class="glyphicon glyphicon-fullscreen"></span></a>{% endif %}</td>
                    </tr></table>
                </td>
                <td>
                    <table><tr>
                        <td style="border: none;">{{ event_life.extracted_value|default_if_none:""|truncatechars:30 }}</td>
                        <td style="border: none;">{% if event_life.extracted_value %}<a href="#" style="float: right;padding-left: 10px; padding-right:10px;" title="Show the full extracted value" onclick="showFull({{event_life.id}},'extracted value');return false;"><span class="glyphicon glyphicon-fullscreen"></span></a>{% endif %}</td>
                    </tr></table>
                </td>
                <td {% if event_life.loop_index != None %} title="
{{event_life.task.loop_placeholder_var_1}}: {% get_loop_value event_life.task.loop_value_list_1 event_life.task.loop_separator_1 event_life.loop_index %}
{% if event_life.task.loop_placeholder_var_2 %}{{event_life.task.loop_placeholder_var_2}}: {% get_loop_value event_life.task.loop_value_list_2 event_life.task.loop_separator_2 event_life.loop_index %}{%endif%}
{% if event_life.task.loop_placeholder_var_3 %}{{event_life.task.loop_placeholder_var_3}}: {% get_loop_value event_life.task.loop_value_list_3 event_life.task.loop_separator_3 event_life.loop_index %}{%endif%}
{% if event_life.task.loop_placeholder_var_4 %}{{event_life.task.loop_placeholder_var_4}}: {% get_loop_value event_life.task.loop_value_list_4 event_life.task.loop_separator_4 event_life.loop_index %}{%endif%}" {% endif %}>
                    {{ event_life.loop_index|default_if_none:"" }}
                </td>
                <td {% if event_life.ext_command_successful == True %}style="color:green"{% else %}style="color:red"{% endif %}>{{ event_life.ext_command_successful|default_if_none:"" }}</td>
                <td {% if event_life.status == 'FAILED_AND_RESTARTED' or event_life.status == 'FAILED' or event_life.status == 'FAILED_AND_SKIPPED' %}style="color:red"{% elif event_life.status == 'FINISHED' %}style="color:green"{% endif %}>
                    {{ event_life.status }}
                </td>
                <td>{{ event_life.by_whom|default_if_none:"" }}</td>
                <td>
                    <table><tr>
                        <td style="border: none;">{{ event_life.error_message|default_if_none:""|truncatechars:60 }}</td>
                        <td style="border: none;">{% if event_life.error_message %}<a href="#" style="float: right;" title="Show the full error message" onclick="showFull({{event_life.id}},'error message');return false;"><span class="glyphicon glyphicon-fullscreen"></span></a>{% endif %}</td>
                    </tr></table>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                    {% if event_life.status == 'FAILED' and event_life.task.internal_task != 'IF_ELSE' %}
                        <a href="{% url 'monitoring_restart' pk=event_life.id %}#" style="display:inline;"> <span class="glyphicon glyphicon-repeat" title="Restart the failed task" onclick="return confirm('Are you sure to restart it?')"></span> </a>
                    {% endif %}
                    {% if event_life.status == 'FAILED_AND_RESTARTED' or event_life.status == 'FAILED' %}
                    {% if event_life.task.internal_task != 'IF_ELSE' %}
                        <a onclick="openSkipTaskDialog({{event_life.id}})" style="display:inline;"> <span class="glyphicon glyphicon-step-forward" title="Skip the failed task (i.e. continue with the next task in the flow)."></span> </a>
                    {% endif %}
                    {% endif %}
                    <a onclick="openHistoryDialog({{event_life.id}});return false;" href="#" style="display:inline;"> <span class="glyphicon glyphicon-search" title="View the history of event life"></span> </a>
                    </div>
                </td>
            </tr>
            <label id="hidden-label"> </label>
            {% endfor %}

        </table>
          </div>
        </div>
      </div>

    <div class="panel-group" style="padding-top: 20px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <label>Execution flow</label>
          </h4>
        </div>
        <div class="panel-collapse">
      <div class="panel-body" id="div-exec-flow">
        <div class="mermaid mermaid-container" id="flowDiv">
            {% autoescape off %} {{ mermaid_flow }} {% endautoescape %}
        </div>
          </div>
        </div>
      </div>

    </div>


    <!-- the div element for displaying the full output / extracted value / error message -->
    <div id="full_text_dialog" class="hide">
        <textarea id="ta_full" style="resize: none; width: 100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 100%;"></textarea>
    </div>


    <!-- the div element for displaying the full output / extracted value / error message -->
    <div id="history_dialog" title="The full history of the event life" class="hide">
        <table class="data_table" id="history_table">

            <thead>
            <tr>
                <th class="data_table_header">Date</th>
                <th class="data_table_header">Status</th>
                <th/>
            </tr>
            </thead>

            <tbody>
            </tbody>

        </table>
    </div>


    <!-- the div element for displaying the skip_task_dialog -->
    <div id="skip_task_dialog" title="Confirm to skip the task!" class="hide">
        <div class="form-group">
            <span>Are you sure you want to skip the task?</span>
        </div>
        <div class="form-group" id="d_next_is_if_else" class="hide">
            <label>The following task is an IF-ELSE so please specify a value to evaluate it!</label>
            <input type="text" id="i_value_for_if_else" class="form-control" style="width: 100%">
        </div>
    </div>


{% endblock %}