{% extends "base.html" %}

{% block title %}Monitoring{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'select2/select2.min.css' %}" />

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
    <script src="{% static 'datetimepicker/jquery.datetimepicker.full.js' %}"></script>
    <script src="{% static 'select2/select2.min.js' %}"></script>


    <div class="heading1">Monitoring</div>

    <div class="container-fluid">
        <table class="data_table table-hover">
            <tr>

            <form id="form_monitoring" method="get" action="{% url 'monitoring_list' %}">
            <tr style="background-color: #ddd">
                <td colspan="7">
                    Events
                    <select id="s_filter_date" name="by_date" class="form-control-static">
                        <option value="NULL" {% if by_date == 'NULL' %}selected="true"{% endif %} ></option>
                        <option value="STARTED_LAST_10MINS" {% if by_date == 'STARTED_LAST_10MINS' %}selected="true"{% endif %} >started in the last 10 mins</option>
                        <option value="STARTED_LAST_30MINS" {% if by_date == 'STARTED_LAST_30MINS' %}selected="true"{% endif %} >started in the last 30 mins</option>
                        <option value="STARTED_LAST_1HOUR" {% if by_date == 'STARTED_LAST_1HOUR' %}selected="true"{% endif %} >started in the last 1 hour</option>
                        <option value="STARTED_LAST_4HOURS" {% if by_date == 'STARTED_LAST_4HOURS' %}selected="true"{% endif %} >started in the last 4 hours</option>
                        <option value="STARTED_TODAY" {% if by_date == 'STARTED_TODAY' %}selected="true"{% endif %} >started today</option>
                        <option value="STARTED_YESTERDAY" {% if by_date == 'STARTED_YESTERDAY' %}selected="true"{% endif %} >started yesterday</option>
                        <option value="STARTED_THIS_WEEK" {% if by_date == 'STARTED_THIS_WEEK' %}selected="true"{% endif %} >started this week</option>
                        <option value="STARTED_LAST_WEEK" {% if by_date == 'STARTED_LAST_WEEK' %}selected="true"{% endif %} >started last week</option>
                        <option value="STARTED_THIS_MONTH" {% if by_date == 'STARTED_THIS_MONTH' %}selected="true"{% endif %} >started this month</option>
                        <option value="STARTED_LAST_MONTH" {% if by_date == 'STARTED_LAST_MONTH' %}selected="true"{% endif %} >started last month</option>
                        <option value="STARTED_THIS_YEAR" {% if by_date == 'STARTED_THIS_YEAR' %}selected="true"{% endif %} >started this year</option>
                        <option value="STARTED_BETWEEN" {% if by_date == 'STARTED_BETWEEN' %}selected="true"{% endif %} >started between</option>
                        <option value="IN_STARTED_MORE_THAN_2HOURS" {% if by_date == 'IN_STARTED_MORE_THAN_2HOURS' %}selected="true"{% endif %} >in STARTED status but started more than 2 hours ago</option>
                        <option value="IN_STARTED_MORE_THAN_6HOURS" {% if by_date == 'IN_STARTED_MORE_THAN_6HOURS' %}selected="true"{% endif %} >in STARTED status but started more than 6 hours ago</option>
                        <option value="IN_STARTED_MORE_THAN_24HOURS" {% if by_date == 'IN_STARTED_MORE_THAN_24HOURS' %}selected="true"{% endif %} >in STARTED status but started more than 24 hours ago</option>
                        <option value="IN_STARTED_MORE_THAN_2DAYS" {% if by_date == 'IN_STARTED_MORE_THAN_2DAYS' %}selected="true"{% endif %} >in STARTED status but started more than 2 days ago</option>
                        <option value="IN_STARTED_MORE_THAN_4DAYS" {% if by_date == 'IN_STARTED_MORE_THAN_4DAYS' %}selected="true"{% endif %} >in STARTED status but started more than 4 days ago</option>
                        <option value="IN_STARTED_MORE_THAN_10DAYS" {% if by_date == 'IN_STARTED_MORE_THAN_10DAYS' %}selected="true"{% endif %} >in STARTED status but started more than 10 days ago</option>
                    </select>
                    <span id="sp_date_period" class="hide"><input id="dtp_start_date" name="start_date" value="{{start_date}}" type="text"> and <input id="dtp_end_date" name="end_date" value="{{end_date}}" type="text"></span>
                </td>
                <td colspan="5">
                    <span class="pull-right">
                        <input type="checkbox" name="include_event_life" value="yes" style="margin-right: 5px;">Include event life records
                        <button type="submit" name="submit" value="Export to CVS" class="btn btn-warning"
                                title="Export the filtered events to CVS"
                                onclick="document.forms['form_monitoring'].submit();"><span class="glyphicon glyphicon-floppy-disk"></span>Export</button>
                    </span>
                </td>
            </tr>
            <tr style="background-color: #ddd">
                    <td colspan="2">
                        <select id="s_future_event" name="nr_future_events" class="form-control-static">
                            <option value="NULL" {% if nr_future_events == 'NULL' %}selected="true"{% endif %} ></option>
                            <option value="0" {% if nr_future_events == '0' %}selected="true"{% endif %} >Don't include any future event</option>
                            <option value="2" {% if nr_future_events == '2' %}selected="true"{% endif %} >Include the 2 closest future events</option>
                            <option value="4" {% if nr_future_events == '4' %}selected="true"{% endif %} >Include the 4 closest future events</option>
                            <option value="8" {% if nr_future_events == '8' %}selected="true"{% endif %} >Include the 8 closest future events</option>
                            <option value="12" {% if nr_future_events == '12' %}selected="true"{% endif %} >Include the 12 closest future events</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" value="{{filter_identifier}}" name="filter_identifier" class="form-control" style="width: 100%;"/>
                    </td>
                    <td>
                        <select value="{{filter_event_source_type}}" name="filter_event_source_type" id="filter_event_source_type" class="js-example-basic-multiple" multiple="multiple" style="width: 100%;"></select>
                    </td>
                    <td>
                        <select value="{{filter_status}}" name="filter_status" id="filter_status" class="js-example-basic-multiple" multiple="multiple" style="width: 100%;"></select>
                    </td>
                    <td>
                        <select value="{{filter_initiated_by}}" name="filter_initiated_by" id="filter_initiated_by" class="js-example-basic-multiple" multiple="multiple" style="width: 100%;"></select>
                    </td>
                    <td>
                        <input type="text" value="{{filter_scheduled_execution_flow__name}}" name="filter_scheduled_execution_flow__name" class="form-control" style="width: 100%;"/>
                    </td>
                    <td>
                        <input type="text" value="{{filter_execution_flow__name}}" name="filter_execution_flow__name" class="form-control" style="width: 100%;"/>
                    </td>
                    <td>
                        <input type="text" value="{{filter_error_detector__name}}" name="filter_error_detector__name" class="form-control" style="width: 100%;"/>
                    </td>
                    <td>
                        <input type="text" value="{{filter_event_source__name}}" name="filter_event_source__name" class="form-control" style="width: 100%;"/>
                    </td>
                    <td>
                        <input type="text" value="{{filter_hosts}}" name="filter_hosts" class="form-control" style="width: 100%;"/>
                    </td>
                    <td style="width: 20px;">
                        <input type="submit" name="submit" value="Filter!" class="btn btn-info"
                               onclick="$('#loadingDiv').show(); document.forms['form_monitoring'].submit();"/>
                    </td>
            </tr>
            </form>
            <tr>
                <th class="data_table_header">
                    <a href="?{% url_replace order='start_date' filter_start_date=filter_start_date filter_end_date=filter_end_date filter_identifier=filter_identifier filter_event_source_type=filter_event_source_type filter_status=filter_status filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_initiated_by=filter_initiated_by filter_scheduled_execution_flow__name=filter_scheduled_execution_flow__name filter_hosts=filter_hosts %}">Start date</a>
                    {% autoescape off %}{% table_header_sort_icon 'start_date' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='end_date' filter_start_date=filter_start_date filter_end_date=filter_end_date filter_identifier=filter_identifier filter_event_source_type=filter_event_source_type filter_status=filter_status filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_initiated_by=filter_initiated_by filter_scheduled_execution_flow__name=filter_scheduled_execution_flow__name filter_hosts=filter_hosts %}">End date</a>
                    {% autoescape off %}{% table_header_sort_icon 'end_date' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='identifier' filter_start_date=filter_start_date filter_end_date=filter_end_date filter_identifier=filter_identifier filter_event_source_type=filter_event_source_type filter_status=filter_status filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_initiated_by=filter_initiated_by filter_scheduled_execution_flow__name=filter_scheduled_execution_flow__name filter_hosts=filter_hosts %}">Identifier</a>
                    {% autoescape off %}{% table_header_sort_icon 'identifier' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='event_source_type' filter_start_date=filter_start_date filter_end_date=filter_end_date filter_identifier=filter_identifier filter_event_source_type=filter_event_source_type filter_status=filter_status filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_initiated_by=filter_initiated_by filter_scheduled_execution_flow__name=filter_scheduled_execution_flow__name filter_hosts=filter_hosts %}">Event source type</a>
                    {% autoescape off %}{% table_header_sort_icon 'event_source_type' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='status' filter_start_date=filter_start_date filter_end_date=filter_end_date filter_identifier=filter_identifier filter_event_source_type=filter_event_source_type filter_status=filter_status filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_initiated_by=filter_initiated_by filter_scheduled_execution_flow__name=filter_scheduled_execution_flow__name filter_hosts=filter_hosts %}">Status</a>
                    {% autoescape off %}{% table_header_sort_icon 'status' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='initiated_by' filter_start_date=filter_start_date filter_end_date=filter_end_date filter_identifier=filter_identifier filter_event_source_type=filter_event_source_type filter_status=filter_status filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_initiated_by=filter_initiated_by filter_scheduled_execution_flow__name=filter_scheduled_execution_flow__name filter_hosts=filter_hosts %}">Initiated by</a>
                    {% autoescape off %}{% table_header_sort_icon 'initiated_by' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='scheduled_execution_flow__name' filter_start_date=filter_start_date filter_end_date=filter_end_date filter_identifier=filter_identifier filter_event_source_type=filter_event_source_type filter_status=filter_status filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_initiated_by=filter_initiated_by filter_scheduled_execution_flow__name=filter_scheduled_execution_flow__name filter_hosts=filter_hosts %}">Scheduler</a>
                    {% autoescape off %}{% table_header_sort_icon 'scheduled_execution_flow__name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='execution_flow__name' filter_start_date=filter_start_date filter_end_date=filter_end_date filter_identifier=filter_identifier filter_event_source_type=filter_event_source_type filter_status=filter_status filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_initiated_by=filter_initiated_by filter_scheduled_execution_flow__name=filter_scheduled_execution_flow__name filter_hosts=filter_hosts %}">Execution Flow</a>
                    {% autoescape off %}{% table_header_sort_icon 'execution_flowh class="data_table_header">__name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='error_detector__name' filter_start_date=filter_start_date filter_end_date=filter_end_date filter_identifier=filter_identifier filter_event_source_type=filter_event_source_type filter_status=filter_status filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_initiated_by=filter_initiated_by filter_scheduled_execution_flow__name=filter_scheduled_execution_flow__name filter_hosts=filter_hosts %}">Error Detector</a>
                    {% autoescape off %}{% table_header_sort_icon 'error_detector__name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='event_source__name' filter_start_date=filter_start_date filter_end_date=filter_end_date filter_identifier=filter_identifier filter_event_source_type=filter_event_source_type filter_status=filter_status filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_initiated_by=filter_initiated_by filter_scheduled_execution_flow__name=filter_scheduled_execution_flow__name filter_hosts=filter_hosts %}">Event source</a>
                    {% autoescape off %}{% table_header_sort_icon 'event_source__name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    Hosts
                </th>
                <th/>
            </tr>
        {% for event in object_list %}
            <tr class="{% cycle 'data_table_event_odd' 'data_table_even_line' %} {% if event.is_in_future %}future_event{% endif %}">
                <td style="width: 165px;">{{ event.start_date|date:'Y-m-d H:i:s'|default_if_none:"" }}</td>
                <td style="width: 145px;">{{ event.end_date|date:'Y-m-d H:i:s'|default_if_none:"" }}</td>
                <td>{{ event.identifier }}</td>
                <td>
                    {% if event.event_source_type %}
                        {% ifequal event.event_source_type.code 'REACTION-WORKER'%}
                            {{ event.event_source_type.name|default_if_none:""|truncatechars:35 }}
                        {% else %}
                            <a href="{% url 'admin_event_source_type_update' pk=event.event_source_type.pk %}" target="_blank" rel="noopener noreferrer">{{ event.event_source_type.name|default_if_none:"" }}</a>
                        {% endifequal %}
                    {% endif %}
                </td>
                <td {% if event.status == 'FAILED' %}style="color:red"{% elif event.status == 'FINISHED' %}style="color:green"{% elif event.status == 'CANCELLED' %}style="color:brown"{% elif event.status == 'STARTED' %}style="color:gray"{% elif event.status == 'REJECTED' %}style="color:brown"{% endif %}>
                    {{ event.status }}
                </td>
                <td>{{ event.initiated_by }}</td>
                <td>
                    {% if event.scheduled_execution_flow %}
                        <a href="{% url 'admin_execution_flow_update' pk=event.scheduled_execution_flow.pk %}" target="_blank" rel="noopener noreferrer">{{ event.scheduled_execution_flow.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if event.execution_flow %}
                        <a href="{% url 'admin_execution_flow_update' pk=event.execution_flow.pk %}" target="_blank" rel="noopener noreferrer">{{ event.execution_flow.name|default_if_none:"" }}</a>
                    {% else %}
                        <a href="{% url 'admin_execution_flow_update' pk=event.error_detector.execution_flow.pk %}" target="_blank" rel="noopener noreferrer">{{ event.error_detector.execution_flow.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if event.error_detector %}
                        <a href="{% url 'admin_errordetector_update' pk=event.error_detector.pk %}" target="_blank" rel="noopener noreferrer">{{ event.error_detector.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if event.event_source %}
                        <a href="{% url 'admin_event_source_update' pk=event.event_source.pk %}" target="_blank" rel="noopener noreferrer">{{ event.event_source.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
                <td>{% if event.execution_flow %} {{ event.execution_flow.hosts|default_if_none:"" }} {% else %} {{ event.error_detector.execution_flow.hosts|default_if_none:"" }} {% endif %}</td>
                <td><a href="{% url 'monitoring_details' pk=event.id %}?submit=Display+all%21" onclick='$("#loadingDiv").show(); return true;'>Details</a></td>
            </tr>
        {% endfor %}
            <tr>
                {# .... **Now the pagination section** .... #}
                <td colspan="14">
                {% if is_paginated %}
                    <span class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="?{% url_replace page=page_obj.previous_page_number %}" class="btn btn-info">&#60;&#60; Previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?{% url_replace page=page_obj.next_page_number %}" class="btn btn-info">Next &#62;&#62;</a>
                            {% endif %}
                        </span>
                    </span>
                {% endif %}
                </td>
            </tr>
        </table>

    </div>

    <script>
        $("#loadingDiv").show();
        $.datetimepicker.setLocale('en');

        $('#dtp_start_date').datetimepicker({
            format:'Y.m.d H:i:s',
            lang:'en'
        });
        $('#dtp_end_date').datetimepicker({
            format:'Y.m.d H:i:s',
            lang:'en'
        });


        $(document).ready(function () {
            if ($("#s_filter_date").val() == "STARTED_BETWEEN") {
                $("#sp_date_period").removeClass("hide");
            }

            // ---------------------- handling the change event on the 's_insert_new_task_type' dropdown ----------------------
            $("#s_filter_date").change(function() {
                if ($(this).val() == "STARTED_BETWEEN") {
                    $("#sp_date_period").removeClass("hide");
                } else {
                    $("#sp_date_period").addClass("hide");
                }
            });

            // ---------------------- adding the select2 to support event source type ----------------------
            // the filtered_initiated_by contains the previously chosen initiated_by entries
            var filtered_event_source_types = [{% for f in filter_event_source_type %}'{{f}}',{% endfor %}];
            var event_source_types = {% autoescape off %} {{event_source_types}} {% endautoescape %};
            // building the select2 drop down
            buildSelect2(filtered_event_source_types, event_source_types, 'event_source_type');

            // ---------------------- adding the select2 to support status ----------------------
            // the filtered_statuses contains the previously chosen statuses
            var filtered_statuses = [{% for f in filter_status %}'{{f}}',{% endfor %}];
            // all the statuses that have to be displayed
            var statuses = [{
                id: 'CANCELLED',
                text: "CANCELLED"
            }, {
                id: 'CONFIRMATION_NEEDED',
                text: "CONFIRMATION_NEEDED"
            }, {
                id: 'FAILED',
                text: "FAILED"
            }, {
                id: 'FINISHED',
                text: "FINISHED"
            }, {
                id: 'IGNORED',
                text: "IGNORED"
            }, {
                id: 'REJECTED',
                text: "REJECTED"
            }, {
                id: 'SCHEDULED',
                text: "SCHEDULED"
            }, {
                id: 'STARTED',
                text: "STARTED"
            }, {
                id: 'WAITING_FOR_OTHERS',
                text: "WAITING_FOR_OTHERS"
            }, {
            }];
            // building the select2 drop down
            buildSelect2(filtered_statuses, statuses, 'status');

            // ---------------------- adding the select2 to support initiated_by ----------------------
            // the filtered_initiated_by contains the previously chosen initiated_by entries
            var filtered_initiated_by = [{% for f in filter_initiated_by %}'{{f}}',{% endfor %}];
            // all the initiated_by entries that have to be displayed
            var initiated_by = [{
                id: 'BY_LOG',
                text: "BY_LOG"
            }, {
                id: 'MANUALLY',
                text: "MANUALLY"
            }, {
                id: 'BY_SCHEDULER',
                text: "BY_SCHEDULER"
            }, {
            }];
            // building the select2 drop down
            buildSelect2(filtered_initiated_by, initiated_by, 'initiated_by');

            $("#loadingDiv").hide();
        });


        function buildSelect2(filtered, all, type) {
            // building the select2 drop down
            $('#filter_'+type).select2({
                closeOnSelect: false,
                data: all,
                dropdownAutoWidth : true,
                placeholder: "Click..."
            });
            // adding the previously chosen entries
            if (filtered.length > 0) {
                $('#filter_'+type).val(filtered).trigger('change');
            }
        }
    </script>

{% endblock %}