{% extends "base.html" %}

{% block title %}Executor{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
	<script src="{% static 'mermaid/mermaid.min.js' %}"></script>
    <script src="{% static 'datetimepicker/jquery.datetimepicker.full.js' %}"></script>

    <style>
        .all_children > * {
            margin: 7px;
        }
    </style>

    <div class="heading1">Execute a flow</div>

    <div class="container">
        <br><br>

        <form method="post" action="{% url 'executor' %}" onsubmit="$('#loadingDiv').show()">
            {% csrf_token %}
            <div class="row all_children">
                Start the flow
                <select id="s_execution_flow" onchange="this.form.submit()" name="execution_flow_id" class="form-control" style="width: auto;display: inline;">
                    <option value="" {% if not selected_execution_flow_id %}selected="selected"{% endif %}>---------</option>
                    {% for execution_flow in execution_flows %}
                    <option value="{{ execution_flow.id }}" {% if execution_flow.id == selected_execution_flow_id|add:0 %}selected="selected"{% endif %}>{{ execution_flow.name }}</option>
                    {% endfor %}
                </select>
                <select id="s_when" name="when" class="form-control" style="width: auto;display: inline;">
                    <option value="NOW" {% if when == 'NOW' %}selected="selected"{% endif %}>Now</option>
                    <option value="LATER" {% if when == 'LATER' %}selected="selected"{% endif %}>on the following date</option>
                </select>
                <span id="sp_date" class="hide"><input id="dtp_date" name="date" value="{{date}}" type="text" class="form-control" style="width: auto;display: inline;"></span>
                <input id="b_do_it" type="submit" name="operation" value="Do it!" class="btn btn-info" onclick="return confirm('Are you sure to start/schedule the execution flow?')" style="width: auto;display: inline;">
            </div>
            <div class="row">
                <label>Reason:</label>
                <textarea id="ta_reason" name="reason" class="form-control" style="resize: vertical;"></textarea>
            </div>
            <br><br>
            <div class="row">
                {% if rest_message %}
                    {% if rest_successful %}
                    <label style="color:green">The execution flow was started successfully, the identifier of the started flow is <a href="{{url}}">{{rest_message}}</a> </label>
                    {% else %}
                    <h3 style="color:red">The execution flow DIDN'T start successfully! The error is </h3><br><label style="color:red">{{rest_error_code}} - {{rest_message}}</label>
                    {% endif %}
                {% endif %}
            </div>
        </form>

    </div>

    <div class="container-fluid">

        <b>The tasks of the selected execution flow</b>
        {% if selected_execution_flow_id %}
        <div class="mermaid mermaid-container" id="flowDiv">
            {% autoescape off %} {{ mermaid_flow }} {% endautoescape %}
        </div>
        {% endif %}

    </div>

    <script>
        // initializing the date picker
        $.datetimepicker.setLocale('en');

        $('#dtp_date').datetimepicker({
            format:'Y.m.d H:i:s',
            lang:'en'
        }).on('change', function() {
            enableButton( $(this).val() );
        });

   		// ---------------------- mermaid initialization ----------------------
        var config = {
            startOnLoad: true,
            theme: 'forest',
            logLevel: 4,
            securityLevel: 'loose',
            flowchart: {
                useMaxWidth: false,
                htmlLabels: true
            }
        };

        // building the mermaid flow
        mermaid.initialize(config);

        $(document).ready(function () {
            // the mermaid flow used sometimes too much space (the height was much bigger than was needed) -> set the height of flow to the DIV container
            $("#mermaidChart0").height( $("#mermaidChart0 > g").height() + 150 );

            buildTooltipForFlowNodes();

            // ---------------------- handling the change event on the 's_when' dropdown ----------------------
            $("#s_when").change(function() {
                if ($(this).val() == "LATER") {
                    $("#sp_date").removeClass("hide");
                } else {
                    $("#sp_date").addClass("hide");
                }
                enableButton( );
            });
            if ($("#s_when").val() == "LATER") {
                $("#sp_date").removeClass("hide");
            } else {
                $("#sp_date").addClass("hide");
            }

            // ---------------------- handling the keyup event on the Do it! button ----------------------
            $('#b_do_it').keyup(function() {
                enableButton(  );
            });
            enableButton( );
        });

        function enableButton( ) {
            var chosenDate = $("#dtp_date").val();
            if ($("#s_execution_flow").val() == "") {
                $("#b_do_it").attr("disabled","disabled");
            }
            else if ($("#s_when").val() == "NOW") {
                $("#b_do_it").removeAttr("disabled");
            }
            else if (chosenDate) {
                $("#b_do_it").removeAttr("disabled");
            }
            else {
                $("#b_do_it").attr("disabled","disabled");
            }
        }
    </script>

{% endblock %}