{% extends "base.html" %}

{% block title %}Forbidden (403){% endblock %}

{% block content %}

    {% load static %}


    <div class="heading1"><b>The page is forbidden to display!</b></div>

    <div style="padding: 30px;">
        <h4>Forbidden <em>(403)</em></h4>
        <p>I am sorry but the page (<b>{{path}}</b>) cannot be displayed for the current user (<b>{{user}}</b>).</p>
        <br>
        <a href="{% url 'main'%}" title="Jump to the main page" class="btn btn-info">Main</span></a>

    </div>


{% endblock %}
