{% extends "base.html" %}

{% block title %}Not found (404){% endblock %}

{% block content %}

    {% load static %}


    <div class="heading1"><b>The page cannot be found!</b></div>

    <div style="padding: 30px;">
        <h4>Not Found Error <em>(404)</em></h4>
        <p>I am sorry but the page ({{path}}) cannot be found.</p>
        <p>Please report to the administrators. Thanks for your patience!</p>
        <br>
        <input type=button value="Back" onClick="javascript:history.go(-1);" class="btn btn-info">
    </div>


{% endblock %}
