{% extends "base.html" %}

{% block title %}Server error (500){% endblock %}

{% block content %}

    {% load static %}


    <div class="heading1"><b>Error occurred!</b></div>

    <div style="padding: 30px;">
        <h4>Server Error <em>(500)</em></h4>
        <p>Please report to the administrators. Thanks for your patience!</p>
        <br>
        <div><b>The exception is as follows: </b>{{exception_message}}</div>
        <br>
        <input type=button value="Back" onClick="javascript:history.go(-1);" class="btn btn-info">
    </div>


{% endblock %}
