<html lang="en">

{% load custom_tags %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'management_app.css' %}">

	<title>{% block title %}{% endblock %}</title>
</head>

<body>
    <script src="{% static 'jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    <script>
    	$(document).ready(function () {
			$("#d_error").dialog({
                autoOpen: false,
                height: 300,
                width: $(window).width()*0.6,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons: {
					Ok: function() {
          				$( this ).dialog( "close" );
        			}
                }
            });
        });


        function handleError(request, status, error) {
            // hiding the loading DIV
            $("#loadingDiv").hide();
            // displaying the error
            var errorMessage;
            if (request.readyState == 0) {
                errorMessage = 'Network error occurred!';
            }
            // error occurred
            else if (request.status >= 400) {
                errorMessage = request.responseJSON;
                try {
                    ttemp = JSON.parse(request.responseJSON).errorMessage;
                    if (ttemp) {
                    	errorMessage = ttemp;
                    }
                } catch(e) { }
            }
            $("#l_error_message").html(error + '<br><br>' + buildErrorMessage(errorMessage));
            $("#d_error").removeClass("hide");
            $("#d_error").dialog( "open" )
        }

		function buildErrorMessage(errorMessage) {
			try {
				let errorMap = errorMessage;
				if (errorMessage.constructor == String) {
					errorMap = JSON.parse(errorMessage);
				}
				let errorDisplay = "";
				for (let key in errorMap) {
					errorDisplay += "<tr><td style='padding-right: 20px; padding-left: 10px;font-weight: bold;'>" + key + "</td><td>" + errorMap[key] + "</td></tr>";
				}
				return "<table>" + errorDisplay + "</table>";
			} catch(err) {
				console.log(err);
				return errorMessage;
			}
		}

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function buildTooltipForFlowNodes() {
			// building the tooltip for the command
            {% for key, value in tooltip_loop.items %}
                $("#execution_flow_node_{{key}}").attr('data-tooltip', '{% autoescape off %}{{value}}{% endautoescape %}');
            {% endfor %}

            $('[id^=flowchart-execution_flow_node_]').each(function( i ) {
                $(this).attr('data-tooltip', $(this).attr('title') );
                $(this).attr('title', '' );
            });
            $( function() {
                $(document).tooltip({
                    items: "[data-tooltip]",
                    content: function () {
                        return $(this).attr("data-tooltip");
                    }
                });
            });
        }
    </script>


	<!-- --------------------------- HEADER --------------------------- -->
	<div class="container-fluid header">
		<span class="brand_name">Reaction Engine Administration Web Interface</span>
		<span class="pull-right header_icon">
		{% if request.user.is_authenticated %}
			<span style="padding-right: 30px;"><span class="glyphicon glyphicon-user"></span>: {% firstof request.user.get_full_name request.user.get_username %}</span>
			<a href="/admin" title="User Admin" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-cog"></span></a>
			<a href="{% url 'helpp'%}" title="Help" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-question-sign"></span></a>
		{% endif %}
		{% if request.user.is_authenticated %}
			{% read_settings_value "REACTION_AUTH_TYPE" as reaction_auth_type %}
			{% if reaction_auth_type == "SAML" %}
			<a href="{% url 'saml2_logout'%}" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a>
			{% else %}
			<a href="{% url 'logout'%}" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a>
			{% endif %}
		{% else %}
			<a href="{% url 'login'%}?next={{request.path}}" title="Login"><span class="glyphicon glyphicon-log-in"></span></a>
		{% endif %}
		</span>
	</div>
    <hr class="header_separator"/>


	<!-- --------------------------- CONTENT --------------------------- -->
	<div class="container-fluid content" >
		<script>
		function openNav(x) {
			x.classList.toggle("sidenav-change");
			if (document.getElementById("d_sidenav").style.width == "250px") {
				document.getElementById("d_sidenav").style.width = "0";
			} else {
				document.getElementById("d_sidenav").style.width = "250px";
			}
		}
		</script>
		<!-- ----------- side menu ----------- -->
		<!-- the menu, dashboard, monitoring icons -->
		{% if request.user.is_authenticated %}
		<div class="sidenav">
			<div style="padding-bottom: 25px; width: 35px;" class="sidenav-icon" title="Open/close menu" onclick="openNav(this)">
				<div class="sidenav-bar1"></div>
				<div class="sidenav-bar2"></div>
				<div class="sidenav-bar3"></div>
			</div>
			{% if perms.auth.can_use_monitoring %}
			<div class="sidenav-icon">
				<a href="{% url 'dashboard'%}" title="Dashboard"><span class="glyphicon glyphicon-dashboard"></span></a>
			</div>
			<div class="sidenav-icon">
				<a href="{% url 'monitoring_list'%}?by_date=STARTED_TODAY&nr_future_events=2" title="Monitoring"><span class="glyphicon glyphicon-list-alt"></span></a>
			</div>
			{% endif %}
			{% if perms.auth.can_use_executor %}
			<div class="sidenav-icon">
				<a href="{% url 'executor' %}" title="Executor"><span class="glyphicon glyphicon-expand"></span></a>
			</div>
			{% endif %}
			{% if perms.auth.can_use_approval %}
			<div class="sidenav-icon">
				<a href="{% url 'approval_list' %}" title="Approval"><span class="glyphicon glyphicon-ok-circle"></span></a>
			</div>
			{% endif %}
		</div>
		<!-- the whole menu -->
		<div id="d_sidenav" class="menunav">
			<div class="text-center" style="background-color: gray; width: 100%; height: 35px; font-size: 25px;"></div>
			{% if perms.auth.can_use_admin_errordetector or perms.auth.can_use_admin_execution_flow or perms.auth.can_use_admin_event_source or perms.auth.can_use_admin_event_source_type %}
				<div class="menu_h1">Administration</div>
				{% if perms.auth.can_use_admin_event_source_type %}
				<div class="menu-item menu-sub-item">
					<a href="{% url 'admin_event_source_type_list' %}"><span class="glyphicon glyphicon-record"></span>Event source type</a>
				</div>
				{% endif %}
				{% if perms.auth.can_use_admin_event_source %}
				<div class="menu-item menu-sub-item">
					<a href="{% url 'admin_event_source_list' %}"><span class="glyphicon glyphicon-knight"></span>Event source</a>
				</div>
				{% endif %}
				{% if perms.auth.can_use_admin_execution_flow %}
				<div class="menu-item menu-sub-item">
					<a href="{% url 'admin_execution_flow_list' %}"><span class="glyphicon glyphicon-bishop"></span>Execution flow</a>
				</div>
				{% endif %}
				{% if perms.auth.can_use_admin_errordetector %}
				<div class="menu-item menu-sub-item">
					<a href="{% url 'admin_errordetector_list' %}"><span class="glyphicon glyphicon-king"></span>Error detector</a>
				</div>
				{% endif %}
			{% endif %}
			{% if perms.auth.can_use_monitoring %}
			<div class="menu-item">
				<a href="{% url 'dashboard'%}"><span class="glyphicon glyphicon-dashboard"></span>Dashboard</a>
			</div>
			<div class="menu-item">
				<a href="{% url 'monitoring_list'%}?by_date=STARTED_TODAY&nr_future_events=2"><span class="glyphicon glyphicon-list-alt"></span>Monitoring</a>
			</div>
			{% endif %}
			{% if perms.auth.can_use_scheduler %}
			<div class="menu-item">
				<a href="{% url 'scheduler_list' %}"><span class="glyphicon glyphicon-hourglass"></span>Scheduler</a>
			</div>
			{% endif %}
			{% if perms.auth.can_use_executor %}
			<div class="menu-item">
				<a href="{% url 'executor' %}"><span class="glyphicon glyphicon-expand"></span>Executor</a>
			</div>
			{% endif %}
			{% if perms.auth.can_use_approval %}
			<div class="menu-item">
				<a href="{% url 'approval_list' %}"><span class="glyphicon glyphicon-ok-circle"></span>Approval</a>
			</div>
			{% endif %}
			{% if perms.auth.can_use_worker_status %}
			<div class="menu-item">
				<a href="{% url 'worker_status' %}"><span class="glyphicon glyphicon-globe"></span>Worker status</a>
			</div>
			{% endif %}
			{% if perms.auth.can_use_statistics %}
				<div class="menu_h1">Statistics</div>
				<div class="menu-item menu-sub-item">
					<a href="{% url 'stat_by_flow' %}"><span class="glyphicon glyphicon-object-align-horizontal"></span>Incidents by flow</a>
				</div>
				<div class="menu-item menu-sub-item">
					<a href="{% url 'stat_by_event_source' %}"><span class="glyphicon glyphicon-object-align-vertical"></span>Incidents by event source</a>
				</div>
			{% endif %}
		</div>
		{% endif %}
		<!-- main content-->
		<div style="position:relative;" >
			<div id="loadingDiv" class="loadingDiv" style="display:none;">
				<div style="padding-top: 180px;"></div>
				<div class="loader center-block"></div>
				<h1 style="color:black; ">Please wait...</h1>
			</div>
			<div>
				{% block content %}{% endblock %}
			</div>
		</div>

	</div>

	<!-- --------------------------- FOOTER --------------------------- -->
	<footer class="footer">
		<hr class="footer_separator"/>
		<div class="container-fluid">
			<div class="row" style="padding-top:8px; padding-left: 45px;">
  				<div class="col-md-12"><p class="pull-right"><b>Last refresh:</b> {% now "jS F Y H:i:s" %}</p></div>
			</div>
		</div>
	</footer>

<div id="d_error" title="Error occured!" class="hide">
	<p>
		<span class="glyphicon glyphicon-warning-sign" style="float:left; margin:0 7px 50px 0;"></span>
		<label style="color:red;">Warning! Error occurred when trying to execute the operation!</label>
	</p>
	<p>
	  <label id="l_error_message"/>
	  <div id="d_error_message"/>
	</p>
</div>

</body>

</html>