{% extends "base.html" %}

{% block title %}Error occurred{% endblock %}

{% block content %}

    {% load static %}

    <div class="heading1"><b>Error occurred!</b></div>

    <div style="padding: 30px;">
        <h4>The operation cannot be executed as it breaks the following rule:</h4>
        <br>
        <div><b>{{message}}</b></div>
        <br>
        <input type=button value="Back" onClick="javascript:history.go(-1);" class="btn btn-info">
    </div>

{% endblock %}
