{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}

    {% load static %}

    <h2>You successfully logged out from the Reaction Management Web Application</h2>
    <p>To log back in please click on <a href="{% url 'main' %}">LINK</a> .</p>

{% endblock %}
