{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}

    {% load static %}

    <div class="heading1"><b>Welcome in the Reaction Management Web Application</b></div>

{% endblock %}
