{% extends "base.html" %}

{% block title %} {% if form_operation == "update" %}Edit an existing execution flow{% else %}Create a new execution flow{% endif %} {% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'switch.css' %}" />
    <link rel="stylesheet" href="{% static 'select2/select2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/css/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/css/solid.min.css' %}" />

    {% if form_operation == 'update' %}
        <script src="{% static 'mermaid/mermaid.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'select2/select2.full.min.js' %}"></script>

    <!-- only for hidden the div of the dialog -->
    <style>
        /* changing bootstrap CSS classes to make it condensed */
        .form-group {
            margin-bottom: 1px;
        }
        input[type=text]{
            margin-bottom:1px;
            margin-top:1px;
        }
        .tight-hr {
            margin-bottom:8px;
            margin-top:8px;
        }
        textarea:disabled {
            background:#dddddd;
        }
        .disabled_label {
            color:#ccc;
        }
        .label {
            font-size: 85%;
            font-weight: 400;
        }
    </style>

    <script>
        var task;
        var tasks;
        var expression;
        var isHoverActive = true;
        var isResetPassword = false;
        var isResetEncrValueList1 = false;
        var isResetEncrValueList2 = false;
        var isResetEncrValueList3 = false;
        var isResetEncrValueList4 = false;

        // ---------------------- mermaid initialization ----------------------
        var config = {
            startOnLoad: true,
            theme: 'forest',
            logLevel: 4,
            securityLevel: 'loose',
            flowchart: {
                useMaxWidth: false,
                curve: 'basis',
                htmlLabels: true
            }
        };

        {% if form_operation == 'update' %}
            mermaid.initialize(config);
        {% endif %}

        $(document).ready(function () {
            // the mermaid flow used sometimes too much space (the height was much bigger than was needed) -> set the height of flow to the DIV container
            $("#flowDiv > svg").height( $("#flowDiv > svg > g").height() + 50 );

            buildTooltipForCommand();
            buildTooltipForFlowNodes();

            // ---------------------- jQuery for configuring the task details dialog ----------------------
            $("#execution_flow_task_details_dialog").dialog({
                autoOpen: false,
                width: '98%',
                modal: true,
                position: { my: 'top', at: 'top+50' },
                open: function( event, ui ) {
                        isResetPassword = false;
                        $("#b_pwd_reset").removeClass("hide");
                        $("#i_os_password").addClass("hide");
                        $("#i_os_password").val('');
                        isResetEncrValueList1 = false;
                        isResetEncrValueList2 = false;
                        isResetEncrValueList3 = false;
                        isResetEncrValueList4 = false;
                        buildTooltipForCommand();
                },
                buttons: {
                    "Save": saveTask,
                    Cancel: function() {
                        isHoverActive = true;
                        $('[id^=flowchart-execution_flow_node_'+task.id+']').css('color', '');
                        $('[id^=execution_flow_node_'+task.id+']').css('color', '');
                        $("#execution_flow_task_details_dialog").dialog("close");
                    }
                }
            });

            // ---------------------- jQuery for configuring the new task data dialog ----------------------
            $("#execution_flow_task_insert_dialog").dialog({
                autoOpen: false,
                width: 950,
                modal: true,
                position: { my: 'top', at: 'top+70' },
                buttons: {
                    "Insert it!": saveNewTask,
                    Cancel: function() {
                        $("#execution_flow_task_insert_dialog").dialog("close");
                    }
                }
            });

            // ---------------------- jQuery for specifying the value of $COMMANDOUTPUT dialog ----------------------
            $("#spec_command_output_dialog").dialog({
                autoOpen: false,
                height: 180,
                width: 700,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons: {
                    "Check": function() { callCheckExpressionService(expression, $("#i_command_output").val()); },
                    Cancel: function() {
                        $("#spec_command_output_dialog").dialog("close");
                    }
                }
            });
            $("#check_expression_result_dialog").dialog({
                autoOpen: false,
                height: 300,
                width: 700,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons: {
                    "Close": function() {
                        $("#check_expression_result_dialog").dialog("close");
                    }
                }
            });

            // ---------------------- jQuery for specifying the values of 1st task dialog ----------------------
            $("#specify_first_task_dialog").dialog({
                autoOpen: false,
                height: 200,
                width: 700,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons: {
                    "Insert": function() {
                        task = {id:-1};
                        $("#s_insert_after_task").append('<option value="START_'+getExecutionFlowId()+'">Start [START]</option>');
                        $("#s_insert_after_task").val('START_'+getExecutionFlowId());
                        $("#s_insert_new_task_type").val( $("#s_insert_1st_task").val() );
                        buildTooltipForCommand();
                        insertTask();
                    },
                    Cancel: function() {
                        $("#specify_first_task_dialog").dialog("close");
                    }
                }
            });

            // ---------------------- handling the click events on the execution_flow nodes ----------------------
            // change the mouse to pointer when moving to the label
            if ("{{object.status}}" != "FROZEN") {
                $('[id^=flowchart-execution_flow_node] > .label, .cluster-label').css('cursor', 'pointer');
                $('[id^=flowchart-execution_flow_start] > .label, .cluster-label').css('cursor', 'pointer');
                $('[id^=flowchart-execution_flow] > .label, .cluster-label').hover(
                    function() {
                        if (isHoverActive)
                            $( this ).css('color', 'red');
                    }, function() {
                        if (isHoverActive)
                            $( this ).css('color', '');
                    }
                );
                // handling the left and right click
                $('[id^=flowchart-execution_flow_node], [id^=execution_flow_node]').mousedown(function(event) {
                    switch (event.which) {
                        case 1:
                            $( event.currentTarget ).css('color', 'red');
                            isHoverActive = false;
                            var pattern = /^flowchart\-execution\_flow\_node\_([0-9]+)\-[0-9]+$/;
                            var result = event.currentTarget.id.match(pattern);
                            if (result == null) {
                                const pattern2 = /^execution\_flow\_node\_([0-9]+)$/;
                                result = event.currentTarget.id.match(pattern2);
                            }
                            open_details_dialog(result[1]);
                            break;
                    }
                });
                $('[id^=flowchart-execution_flow_start]').mousedown(function(event) {
                    switch (event.which) {
                        case 1:
                            $( event.currentTarget ).css('color', 'red');
                            isHoverActive = false;
                            $( "#specify_first_task_dialog" ).dialog( "open" );
                            $( "#specify_first_task_dialog" ).removeClass("hide");
                            break;
                    }
                });
            }

            // ---------------------- adding the select2 to support access group ----------------------
            // the filtered_initiated_by contains the previously chosen initiated_by entries
            var access_group = [{% for f in access_group %}'{{f}}',{% endfor %}];
            // all the access_groups that have to be displayed
            var access_groups = {% autoescape off %} {{access_groups}} {% endautoescape %};
            // building the select2 drop down
            $('#id_access_group').select2({
                closeOnSelect: false,
                data: access_groups,
                dropdownAutoWidth : true,
                placeholder: "Click..."
            });
            // adding the previously chosen entries
            if (access_group.length > 0) {
                $('#id_access_group').val(access_group).trigger('change');
            }

            // ---------------------- handling the change event on the 's_insert_new_task_type' dropdown ----------------------
            $("#s_insert_new_task_type").change(function() {
                if ($(this).val() == "IF_ELSE") {
                    $("#s_insert_if_else_type").removeClass("hide");
                } else {
                    $("#s_insert_if_else_type").addClass("hide");
                }
            });            

            // ---------------------- handling the change event on the 's_ssh_auth_type' dropdown ----------------------
            $("#s_ssh_auth_type").change(function() {
                $("#tr_os_password").toggle($(this).val() == "USER_PASSWORD");
                $("#tr_ssh_key_path").toggle($(this).val() == "SSH_KEY");
            });

            // ---------------------- handling the change event on the 's_new_ssh_auth_type' dropdown ----------------------
            $("#s_new_ssh_auth_type").change(function() {
                $("#tr_new_os_password").toggle($(this).val() == "USER_PASSWORD");
                $("#tr_new_ssh_key_path").toggle($(this).val() == "SSH_KEY");
            });

            // ---------------------- handling the change event on the 's_move_where' dropdown ----------------------
            $("#s_move_where").change(function() {
                var options = buildTaskDropDown(getExecutionFlowId(), $(this).val());
                $("#s_move_after_task").empty();
                $("#s_move_after_task").append(options);
            });

            // ---------------------- handling the change event on the 's_insert_where' dropdown ----------------------
            $("#s_insert_where").change(function() {
                var options = buildTaskDropDown(getExecutionFlowId(), $(this).val());
                $("#s_insert_after_task").empty();
                $("#s_insert_after_task").append(options);
            });

            // ---------------------- handling the change event on the 's_copy_where' dropdown ----------------------
            $("#s_copy_where").change(function() {
                var options = buildTaskDropDown(getExecutionFlowId(), $(this).val());
                $("#s_copy_after_task").empty();
                $("#s_copy_after_task").append(options);
            });

            // ---------------------- handling the change event on the radio button of os_password ----------------------
            $('input[type=radio][name=os-password-how-to-set]').change(function() {
                if (this.value == 'os-password-set-manually') {
                    set_os_pwd_fields(true);
                } else if (this.value == 'os-password-set-from-placeholder-variable') {
                    set_os_pwd_fields(false);
                } else {
                    alert("Ok, it is weird, I cannot recognise the '"+this.value+"' value...");
                }
            });
        });

        function set_os_pwd_fields(isManually) {
            $("#b_pwd_reset").prop('disabled', !isManually);
            $("#i_os_password").prop('disabled', !isManually);
            $("#i_os_password2").prop('disabled', isManually);
            $("#os-password-set-manually").prop("checked", true);
            $("#os-password-set-from-placeholder-variable").prop("checked", !isManually);
        }

        function dummyFunc(nodeId) { }

        // ---------------------- opening the details dialog and call the REST to get the details ----------------------
        function open_details_dialog(taskId) {
            // displaying the loading DIV
            $("#loadingDiv").show();
            // resetting the copy/move/insert values
            $("#s_move_where").val($("#s_move_where option:first").val());
            $("#s_copy_where").val($("#s_copy_where option:first").val());
            $("#s_insert_where").val($("#s_insert_where option:first").val());
            $("#s_insert_new_task_type").val($("#s_insert_new_task_type option:first").val());
            $("#s_insert_if_else_type").val($("#s_insert_if_else_type option:first").val());
            $("#s_insert_if_else_type").addClass("hide");
            // calling the REST service to fill the textfields for the task
            var url = '{% url "admin_execution_flow_task" pk="972563956385638462754839" %}';
            $.ajax({
                type: 'GET',
                url: url = url.replace('972563956385638462754839', taskId),
                timeout: 20000,
                accepts: {
                    text: "application/json"
                },
                success: function (_data, text) {
                    task = _data[0];
                    let sshAuthTypes = _data[1];
                    // hiding the loading DIV
                    $("#loadingDiv").hide();
                    // opening the dialog
                    $( "#execution_flow_task_details_dialog" ).dialog( "open" );
                    $( "#execution_flow_task_details_dialog" ).removeClass("hide");
                    // populating SSH auth type drop-down
                    populateSSHAuthType(sshAuthTypes, 's_ssh_auth_type');
                    // based on the task type the info of the other task type has to be hidden and fill the textboxes
                    $("#i_name").val(task.name);
                    if (task.internal_task == 'EMAIL_SENDING') {
                        $("#l_internal_task").html("Sending an email");
                    } else if (task.internal_task == 'COMMAND_BY_WORKER') {
                        $("#l_internal_task").html("Executing a command by the Reaction Worker");
                    } else if (task.internal_task == 'COMMAND_USING_SSH') {
                        $("#l_internal_task").html("Executing a command using SSH");
                    } else if (task.internal_task == 'FAILURE') {
                        $("#l_internal_task").html("Failing the flow");
                    } else if (task.internal_task == 'LOOP') {
                        $("#l_internal_task").html("Loop");
                    } else {
                        $("#l_internal_task").html("Evaluating an IF-ELSE condition");
                    }
                    // hiding / showing the necessary fields
                    $("#tr_command").toggle(task.internal_task == "COMMAND_BY_WORKER" || task.internal_task == "COMMAND_USING_SSH");
                    $("#tr_os_user").toggle(task.internal_task == "COMMAND_BY_WORKER" || task.internal_task == "COMMAND_USING_SSH");
                    $("#tr_os_password").toggle(task.internal_task == "COMMAND_USING_SSH");
                    $("#tr_ssh_auth_type").toggle(task.internal_task == "COMMAND_USING_SSH");
                    $("#tr_ssh_key_path").toggle(task.internal_task == "COMMAND_USING_SSH");
                    $("#tr_host").toggle(task.internal_task == "COMMAND_BY_WORKER" || task.internal_task == "COMMAND_USING_SSH");
                    $("#tr_execution_timeout").toggle(task.internal_task == "COMMAND_USING_SSH");
                    $("#tr_output_pattern").toggle(task.internal_task == "COMMAND_BY_WORKER" || task.internal_task == "COMMAND_USING_SSH");
                    $("#tr_if").toggle(task.internal_task == "IF_ELSE");
                    $("#tr_mail_recipients").toggle(task.internal_task == "EMAIL_SENDING");
                    $("#tr_mail_subject").toggle(task.internal_task == "EMAIL_SENDING");
                    $("#tr_mail_content").toggle(task.internal_task == "EMAIL_SENDING");
                    $("#tr_loop_value_list_1").toggle(task.internal_task == "LOOP");
                    $("#tr_loop_value_list_2").toggle(task.internal_task == "LOOP");
                    $("#tr_loop_value_list_3").toggle(task.internal_task == "LOOP");
                    $("#tr_loop_value_list_4").toggle(task.internal_task == "LOOP");
                    // showing the copy task option
                    $("#div_copy_task").toggle(task.internal_task != "IF_ELSE" && task.internal_task != "LOOP");
                    $("#hr_copy_task").toggle(task.internal_task != "IF_ELSE" && task.internal_task != "LOOP");
                    $("#stp_host").addClass("hide");
                    $(".hr-loop-value-list").addClass("hide");
                    $("#tr_os_password").toggle(false);
                    $("#tr_ssh_key_path").toggle(false);
                    // setting the textfields
                    if (task.internal_task == "IF_ELSE") {
                        $("#i_if_expression").val(task.if_expression);
                    } else if (task.internal_task == "COMMAND_BY_WORKER") {
                        $("#i_command").val(task.command);
                        $("#i_os_user").val(task.os_user);
                        $("#i_host").val(task.host);
                        $("#i_output_pattern").val(task.output_pattern);
                        // displaying star icon for mandatory fields
                        $("#tr_os_user > label > span").removeClass("glyphicon-asterisk");
                    } else if (task.internal_task == "COMMAND_USING_SSH") {
                        $("#i_command").val(task.command);
                        $("#i_os_user").val(task.os_user);
                        if (task.is_pwd_set_manually) {
                            $("#i_os_password").val(task.os_password);
                        } else {
                            $("#i_os_password2").val(task.os_password);
                            isResetPassword = true;
                        }
                        set_os_pwd_fields(task.is_pwd_set_manually);
                        $("#i_host").val(task.host);
                        $("#i_execution_timeout").val(task.execution_timeout);
                        $("#i_output_pattern").val(task.output_pattern);
                        if (task.ssh_auth_type) {
                            $("#s_ssh_auth_type").val(task.ssh_auth_type);
                        }
                        $("#i_ssh_key_path").val(task.ssh_key_path);
                        // displaying star icon for mandatory fields
                        $("#tr_os_user > label > span").addClass("glyphicon-asterisk");
                        $("#stp_host").removeClass("hide");
                        $("#tr_os_password").toggle($("#s_ssh_auth_type").val() == "USER_PASSWORD");
                        $("#tr_ssh_key_path").toggle($("#s_ssh_auth_type").val() == "SSH_KEY");
                    } else if (task.internal_task == "EMAIL_SENDING") {
                        $("#i_mail_recipients").val(task.mail_recipients);
                        $("#i_mail_subject").val(task.mail_subject);
                        $("#i_mail_content").val(task.mail_content);
                    } else if (task.internal_task == "LOOP") {
                        $("#i_loop_value_list_1").val(task.loop_value_list_1);
                        $("#i_loop_separator_1").val(task.loop_separator_1);
                        $("#i_loop_value_list_2").val(task.loop_value_list_2);
                        $("#i_loop_separator_2").val(task.loop_separator_2);
                        $("#i_loop_value_list_3").val(task.loop_value_list_3);
                        $("#i_loop_separator_3").val(task.loop_separator_3);
                        $("#i_loop_value_list_4").val(task.loop_value_list_4);
                        $("#i_loop_separator_4").val(task.loop_separator_4);
                        $("#i_loop_placeholder_var_1").val(task.loop_placeholder_var_1);
                        $("#i_loop_placeholder_var_2").val(task.loop_placeholder_var_2);
                        $("#i_loop_placeholder_var_3").val(task.loop_placeholder_var_3);
                        $("#i_loop_placeholder_var_4").val(task.loop_placeholder_var_4);
                        $("#i_loop_requires_encryption_1").prop( "checked", task.loop_requires_encryption_1);
                        $("#i_loop_requires_encryption_2").prop( "checked", task.loop_requires_encryption_2);
                        $("#i_loop_requires_encryption_3").prop( "checked", task.loop_requires_encryption_3);
                        $("#i_loop_requires_encryption_4").prop( "checked", task.loop_requires_encryption_4);
                        for (let ind = 1; ind < 5; ind++) {
                            if (task['loop_requires_encryption_'+ind]) {
                                $("#b_loop_value_list_"+ind+"_reset").removeClass("hide");
                                $("#i_loop_value_list_"+ind).css('visibility', 'hidden');
                                $("#i_loop_value_list_"+ind).height(1);
                                $("#i_loop_separator_"+ind).css('visibility', 'hidden');
                                $("#l_loop_separator_"+ind).css('visibility', 'hidden');
                                $("#i_loop_requires_encryption_"+ind).attr("disabled", true);
                            } else {
                                window['isResetEncrValueList'+ind] = true;
                            }
                        }
                        $(".hr-loop-value-list").removeClass("hide");
                    }
                    // showing the warning message that belongs to IF-ELSE
                    $(".del_ifelse_warning").removeClass("hide");
                    // populating the tasks drop-down
                    var url = '{% url "admin_execution_flow_tasks" pk="972563956385638462754838" %}';
                    var execution_flowId = getExecutionFlowId();
                    $.ajax({
                        type: 'GET',
                        url: url = url.replace('972563956385638462754838', execution_flowId),
                        timeout: 20000,
                        accepts: {
                            text: "application/json"
                        },
                        success: function (_tasks, text) {
                            tasks = _tasks;
                            var options = buildTaskDropDown(execution_flowId, "AFTER");
                            $("#s_move_after_task").empty();
                            $("#s_move_after_task").append(options);
                            $("#s_insert_after_task").empty();
                            $("#s_insert_after_task").append(options);
                            $("#s_copy_after_task").empty();
                            $("#s_copy_after_task").append(options);
                        },
                        error: function (request, status, error) {
                            handleError(request, status, error);
                        }
                    });
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
            });
        }

        function buildTaskDropDown(execution_flowId, where) {
            if (where == "AFTER") {
                var options = '<option value="START_'+execution_flowId+'">Start [START]</option>';
            }
            var arrayLength = tasks.length;
            for (var i = 0; i < arrayLength; i++) {
                var _task = tasks[i];
                if (where == "AFTER" || ((where == "TO_TRUE" || where == "TO_FALSE") && _task.internal_task == 'IF_ELSE') ||
                            (where == "INTO_LOOP" && _task.internal_task == 'LOOP')) {
                    options += '<option ' + (_task.id==task.id ? 'selected':'') +' value="'+ _task.id + '">' + _task.name+' ['+ _task.internal_task+']' + '</option>';
                }
            }
            return options;
        }

        function populateSSHAuthType(sshAuthTypes, idDropDown) {
            $("#"+idDropDown).empty();
            $.each(sshAuthTypes, function(i, rec) {
                $("#"+idDropDown).append(
                    $('<option></option>').val(rec[0]).html(rec[1])
                );
            });
             $("#"+idDropDown+" option:not([disabled]):first").attr('selected','selected')
        }

        function getExecutionFlowId() {
            var str = document.documentURI;
            var matches = str.match('administration/execution_flow/([0-9]+)/update$');
            if (matches) {
                return matches[1];
            } else {
                alert('There is a problem with the URL to be called! The pattern is "administration/execution_flow/([0-9]+)/update$"');
            }
        }


        // ---------------------- calling the REST to save the task ----------------------
        function saveTask() {
            // building the task to be saved
            task['name'] = $("#i_name").val();
            if (task.internal_task == "IF_ELSE") {
                task['if_expression'] = $("#i_if_expression").val();
            } else if (task.internal_task == "COMMAND_BY_WORKER") {
                task['host'] = $("#i_host").val();
                task['command'] = $("#i_command").val();
                task['os_user'] = $("#i_os_user").val();
                task['output_pattern'] = $("#i_output_pattern").val();
            } else if (task.internal_task == "COMMAND_USING_SSH") {
                task['host'] = $("#i_host").val();
                task['execution_timeout'] = $("#i_execution_timeout").val();
                task['command'] = $("#i_command").val();
                task['os_user'] = $("#i_os_user").val();
                if ($('#os-password-set-manually').is(':checked')) {
                    task['os_password'] = $("#i_os_password").val();
                    task['is_pwd_set_manually'] = true;
                } else {
                    task['os_password'] = $("#i_os_password2").val();
                    task['is_pwd_set_manually'] = false;
                }
                task['output_pattern'] = $("#i_output_pattern").val();
                task['is_reset_password'] = isResetPassword;
                task['ssh_auth_type'] = $("#s_ssh_auth_type").val();
                task['ssh_key_path'] = $("#i_ssh_key_path").val();
            } else if (task.internal_task == "EMAIL_SENDING") {
                task['mail_recipients'] = $("#i_mail_recipients").val();
                task['mail_subject'] = $("#i_mail_subject").val();
                task['mail_content'] = $("#i_mail_content").val();
            } else if (task.internal_task == "LOOP") {
                task['loop_value_list_1'] = $("#i_loop_value_list_1").val();
                task['loop_separator_1'] = $("#i_loop_separator_1").val();
                task['loop_value_list_2'] = $("#i_loop_value_list_2").val();
                task['loop_separator_2'] = $("#i_loop_separator_2").val();
                task['loop_value_list_3'] = $("#i_loop_value_list_3").val();
                task['loop_separator_3'] = $("#i_loop_separator_3").val();
                task['loop_value_list_4'] = $("#i_loop_value_list_4").val();
                task['loop_separator_4'] = $("#i_loop_separator_4").val();
                task['loop_placeholder_var_1'] = $("#i_loop_placeholder_var_1").val();
                task['loop_placeholder_var_2'] = $("#i_loop_placeholder_var_2").val();
                task['loop_placeholder_var_3'] = $("#i_loop_placeholder_var_3").val();
                task['loop_placeholder_var_4'] = $("#i_loop_placeholder_var_4").val();
                task['loop_requires_encryption_1'] = $("#i_loop_requires_encryption_1").is(":checked");
                task['loop_requires_encryption_2'] = $("#i_loop_requires_encryption_2").is(":checked");
                task['loop_requires_encryption_3'] = $("#i_loop_requires_encryption_3").is(":checked");
                task['loop_requires_encryption_4'] = $("#i_loop_requires_encryption_4").is(":checked");
                task['is_reset_encr_value_list_1'] = isResetEncrValueList1;
                task['is_reset_encr_value_list_2'] = isResetEncrValueList2;
                task['is_reset_encr_value_list_3'] = isResetEncrValueList3;
                task['is_reset_encr_value_list_4'] = isResetEncrValueList4;
            }
            doAnOperationAndRefreshPage('PUT', '{% url "admin_execution_flow_task" pk="972563956385638462754839" %}', task);
        }

        function saveNewTask() {
            var taskType = $("#s_insert_new_task_type").val();
            // building the task to be saved
            var data = {
                newTask : {
                    name : $("#i_new_name").val(),
                    internal_task : taskType,
                    if_expression : taskType == "IF_ELSE" ? $("#i_new_if_expression").val() : null,
                    host : taskType == "COMMAND_BY_WORKER" || taskType == "COMMAND_USING_SSH" ? $("#i_new_host").val() : null,
                    execution_timeout : taskType == "COMMAND_USING_SSH" ? $("#i_new_execution_timeout").val() : null,
                    command : taskType == "COMMAND_BY_WORKER" || taskType == "COMMAND_USING_SSH" ? $("#i_new_command").val() : null,
                    os_user : taskType == "COMMAND_BY_WORKER" || taskType == "COMMAND_USING_SSH" ? $("#i_new_os_user").val() : null,
                    ssh_auth_type : taskType == "COMMAND_USING_SSH" ? $("#s_new_ssh_auth_type").val() : null,
                    os_password : taskType == "COMMAND_USING_SSH" ? $("#i_new_os_password").val() : null,
                    ssh_key_path : taskType == "COMMAND_USING_SSH" ? $("#i_new_ssh_key_path").val() : null,
                    is_pwd_set_manually : taskType == "COMMAND_USING_SSH" ? true : null,
                    output_pattern : taskType == "COMMAND_BY_WORKER" || taskType == "COMMAND_USING_SSH" ? $("#i_new_output_pattern").val() : null,
                    mail_recipients : taskType == "EMAIL_SENDING" ? $("#i_new_mail_recipients").val() : null,
                    mail_subject : taskType == "EMAIL_SENDING" ? $("#i_new_mail_subject").val() : null,
                    mail_content : taskType == "EMAIL_SENDING" ? $("#i_new_mail_content").val() : null,
                    loop_value_list_1 : taskType == "LOOP" ? $("#i_new_loop_value_list_1").val() : null,
                    loop_separator_1 : taskType == "LOOP" ? $("#i_new_loop_separator_1").val() : null,
                    loop_value_list_2 : taskType == "LOOP" ? $("#i_new_loop_value_list_2").val() : null,
                    loop_separator_2 : taskType == "LOOP" ? $("#i_new_loop_separator_2").val() : null,
                    loop_value_list_3 : taskType == "LOOP" ? $("#i_new_loop_value_list_3").val() : null,
                    loop_separator_3 : taskType == "LOOP" ? $("#i_new_loop_separator_3").val() : null,
                    loop_value_list_4 : taskType == "LOOP" ? $("#i_new_loop_value_list_4").val() : null,
                    loop_separator_4 : taskType == "LOOP" ? $("#i_new_loop_separator_4").val() : null,
                    loop_placeholder_var_1 : taskType == "LOOP" ? $("#i_new_loop_placeholder_var_1").val() : null,
                    loop_placeholder_var_2 : taskType == "LOOP" ? $("#i_new_loop_placeholder_var_2").val() : null,
                    loop_placeholder_var_3 : taskType == "LOOP" ? $("#i_new_loop_placeholder_var_3").val() : null,
                    loop_placeholder_var_4 : taskType == "LOOP" ? $("#i_new_loop_placeholder_var_4").val() : null,
                }
            };
            data.if_else_type = $("#s_insert_if_else_type").val();
            data.where = $("#s_insert_where").val();
            data.task_destination = $("#s_insert_after_task").val();
            data.operation = "INSERT";

            doAnOperationAndRefreshPage('POST', '{% url "admin_execution_flow_insert_task" %}', data);
        }

        // ---------------------- node operations ----------------------
        function deleteTask() {
            if (confirm('Are you sure to delete the task?')) {
                doAnOperationAndRefreshPage('DELETE', '{% url "admin_execution_flow_task" pk="972563956385638462754839" %}', {});
            }
        }


        function unfreezeHistory() {
            if (confirm('WARNING!!! Are you sure to delete the FULL history of the execution flow?')) {
                $("#loadingDiv").show();
                link = '{% url 'admin_execution_flow_unfreeze' pk=object.id %}';
                window.location = link;
            }
        }


        function moveTask() {
            if (confirm('Are you sure to move the task?')) {
                var data = new Object();
                data.where = $("#s_move_where").val();
                data.task_destination = $("#s_move_after_task").val();
                data.operation = "MOVE";
                doAnOperationAndRefreshPage('PUT', '{% url "admin_execution_flow_move_task" pk="972563956385638462754839" %}', data);
            }
        }


        function copyTask() {
            if (confirm('Are you sure to copy the task?')) {
                var data = new Object();
                data.where = $("#s_copy_where").val();
                data.task_destination = $("#s_copy_after_task").val();
                data.operation = "COPY";
                doAnOperationAndRefreshPage('PUT', '{% url "admin_execution_flow_copy_task" pk="972563956385638462754839" %}', data);
            }
        }


        function insertTask() {
            // calling the REST service to get the SSH auth types
            var url = '{% url "admin_execution_flow_ssh_auth_types" %}';
            $.ajax({
                type: 'GET',
                url: url = url,
                timeout: 20000,
                accepts: { text: "application/json" },
                success: function (_data, text) {
                    populateSSHAuthType(_data, 's_new_ssh_auth_type');
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
            });
            // opening the dialog
            $( "#execution_flow_task_insert_dialog" ).dialog( "open" );
            $( "#execution_flow_task_insert_dialog" ).removeClass("hide");
            // as per the chosen task type the data of the other task type has to be hidden
            $( "#sp_new_task_display" ).html( $("#s_insert_new_task_type").val() );
            // hiding / showing the necessary fields
            var taskType = $("#s_insert_new_task_type").val();
            $("#tr_new_command").toggle(taskType == "COMMAND_BY_WORKER" || taskType == "COMMAND_USING_SSH");
            $("#tr_new_os_user").toggle(taskType == "COMMAND_BY_WORKER" || taskType == "COMMAND_USING_SSH");
            $("#tr_new_os_password").toggle(taskType == "COMMAND_USING_SSH");
            $("#tr_new_host").toggle(taskType == "COMMAND_BY_WORKER" || taskType == "COMMAND_USING_SSH");
            $("#tr_new_execution_timeout").toggle(taskType == "COMMAND_USING_SSH");
            $("#tr_new_output_pattern").toggle(taskType == "COMMAND_BY_WORKER" || taskType == "COMMAND_USING_SSH");
            $("#tr_new_if").toggle(taskType == "IF_ELSE");
            $("#tr_new_mail_recipients").toggle(taskType == "EMAIL_SENDING");
            $("#tr_new_mail_subject").toggle(taskType == "EMAIL_SENDING");
            $("#tr_new_mail_content").toggle(taskType == "EMAIL_SENDING");
            $("#tr_new_loop_value_list_1").toggle(taskType == "LOOP");
            $("#tr_new_loop_separator_1").toggle(taskType == "LOOP");
            $("#tr_new_loop_value_list_2").toggle(taskType == "LOOP");
            $("#tr_new_loop_separator_2").toggle(taskType == "LOOP");
            $("#tr_new_loop_value_list_3").toggle(taskType == "LOOP");
            $("#tr_new_loop_separator_3").toggle(taskType == "LOOP");
            $("#tr_new_loop_value_list_4").toggle(taskType == "LOOP");
            $("#tr_new_loop_separator_4").toggle(taskType == "LOOP");
            $("#tr_new_ssh_auth_type").toggle(taskType == "COMMAND_USING_SSH");
            $("#tr_new_ssh_key_path").toggle(false);
            // cleaning the text fields
            $("#i_new_name").val("");
            $("#i_new_command").val("");
            $("#i_new_os_user").val("");
            $("#i_new_os_password").val("");
            $("#i_new_host").val("");
            $("#i_new_ssh_key_path").val("");
            $("#i_new_execution_timeout").val("");
            $("#i_new_output_pattern").val("");
            $("#i_new_if_expression").val("");
            $("#i_new_mail_recipients").val("");
            $("#i_new_mail_subject").val("");
            $("#i_new_mail_content").val("");
            $("#i_new_loop_value_list_1").val("");
            $("#i_new_loop_separator_1").val("");
            $("#i_new_loop_value_list_2").val("");
            $("#i_new_loop_separator_2").val("");
            $("#i_new_loop_value_list_3").val("");
            $("#i_new_loop_separator_3").val("");
            $("#i_new_loop_value_list_4").val("");
            $("#i_new_loop_separator_4").val("");
            $("#i_new_loop_placeholder_var_1").val("");
            $("#i_new_loop_placeholder_var_2").val("");
            $("#i_new_loop_placeholder_var_3").val("");
            $("#i_new_loop_placeholder_var_4").val("");
            // displaying star icon for mandatory fields
            $("#stp_new_host").addClass("hide");
            if (taskType == "COMMAND_USING_SSH") {
                $("#tr_new_os_user > label > span").addClass("glyphicon-asterisk");
                $("#stp_new_host").removeClass("hide");
            } else {
                $("#tr_new_os_user > label > span").removeClass("glyphicon-asterisk");
            }
        }


        function doAnOperationAndRefreshPage(operation, reverseUrl, data) {
            // getting the CSRF token (see https://docs.djangoproject.com/en/1.11/ref/csrf/)
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            // displaying the loading DIV
            $("#loadingDiv").show();
            // calling the REST service
            $.ajax({
                type: operation,
                url: reverseUrl.replace('972563956385638462754839', task.id),
                data: JSON.stringify(data),
                timeout: 20000,
                contentType: "application/json; charset=utf-8",
                accepts: {
                    text: "application/json"
                },
                success: function (_task, text) {
                    // refreshing the execution_flow
                    location.reload();
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
            });
        }


        function insertExtractionExpr(elid) {
            var el = $(elid);
            var extr = "(?<COMMANDOUTPUT>[0-9a-zA-Z]*)";
            var cursor = el.getCursorPosition();
            var pattern = el.val();
            if (pattern) {
                el.val(pattern.substr(0,cursor) + extr + pattern.substr(cursor));
            } else {
                el.val(extr);
            }
        }


        function checkExpression(elExpressionId) {
            expression = $("#"+elExpressionId).val();
            if (expression.includes("$COMMANDOUTPUT")) {
                $( "#spec_command_output_dialog" ).dialog( "open" );
                $( "#spec_command_output_dialog" ).removeClass("hide");
            } else {
                callCheckExpressionService(expression);
            }
        }


        function callCheckExpressionService(expression, commandOutput) {
            $("#loadingDiv").show();
            // getting the CSRF token (see https://docs.djangoproject.com/en/1.11/ref/csrf/)
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.ajax({
                type: 'POST',
                url: '{% url "admin_execution_flow_check_expr" %}',
                data: {'expression':expression, 'commandOutput':commandOutput},
                timeout: 20000,
                accepts: {
                    text: "application/json"
                },
                success: function (response) {
                    $("#loadingDiv").hide();
                    $("#spec_command_output_dialog").dialog("close");
                    $( "#check_expression_result_dialog" ).dialog( "open" );
                    $( "#check_expression_result_dialog" ).removeClass("hide");
                    $( "#d_check_expr_valid" ).show();
                    $( "#d_check_expr_invalid" ).hide();
                    $( "#l_check_expr_valid" ).text(response);
                },
                error: function (response, status, error) {
                    $("#loadingDiv").hide();
                    if (response.status == 500) {
                        $("#spec_command_output_dialog").dialog("close");
                        $( "#check_expression_result_dialog" ).dialog( "open" );
                        $( "#check_expression_result_dialog" ).removeClass("hide");
                        $( "#d_check_expr_valid" ).hide();
                        $( "#d_check_expr_invalid" ).show();
                        $( "#l_check_expr_invalid" ).text(JSON.parse(response.responseText));
                    } else {
                        handleError(response, status, error);
                    }
                }
            });
        }

        function insertOutputVariable(elid) {
            var el = $(elid);
            var extr = "$COMMANDOUTPUT";
            var cursor = el.getCursorPosition();
            var pattern = el.val();
            if (pattern) {
                el.val(pattern.substr(0,cursor) + extr + pattern.substr(cursor));
            } else {
                el.val(extr);
            }
        }

        function buildTooltipForCommand() {
            let taskType = task == null || task.id == -1 ? $("#s_insert_new_task_type").val() : task.internal_task;
            let tooltipText = taskType == "COMMAND_BY_WORKER" ?
                "The command will be executed by the root user (or with the user that is started the executor -> see in reaction_executor.sh) by default.\n"+
                "If the command has to be executed by a different operating event source user then please specify one in the OS user field. Be aware that the root user (or whatever is defined) must be able to log in to the specific user seamlessly (eg. root -> [other user]). If a user is set then the following OS command will be executed:\n"+
                "sudo -u [user] bash -c \"[command]\"\n"+
                "Please be aware that on Windows if the command to be executed doesn't give the control back after being executed (e.g. the command is to start an application server which keeps waiting for requests so it won't end) then the command won't finish i.e. the flow won't fail but won't finish either but it will be stuck...\n"+
                "The recommendation is to use Windows service in this case.\n"+
                "If Linux shell built-in command has to be used (like [ -d /tmp/reactionflow ] && echo ...) then please always specify the OS user (even if it is not different from the user who runs the worker; e.g. root user)! If the OS user is set then the command will be executed with bash -c so the shell built-in will be interpreted correctly. Also if you want to execute nested command (with the backquote character, like echo \"Current time:`date +%Y%m%d%H%M%S`\") then also recommended to use the bash -c (i.e. specifying the OS user).\n"
                :
                "The command will be executed by the OS user set below using SSH.";
            tooltipText += "\nThe loop variable can be used by adding ##{[loop variable name]}## to the command. For example: 'touch /tmp/##{var_loop_1}##' where the var_loop_1 is the loop variable name.";
            $( '#icon_question_command' ).attr('title', tooltipText);
            $( '#icon_question_new_command' ).attr('title', tooltipText);
        }

        function resetPassword() {
            $("#b_pwd_reset").addClass("hide");
            $("#i_os_password").removeClass("hide");
            $("#i_os_password").val('');
            isResetPassword = true;
        }

        function resetEncrValueList(ind) {
            window['isResetEncrValueList'+ind] = true;
            $("#b_loop_value_list_"+ind+"_reset").addClass("hide");
            $("#i_loop_value_list_"+ind).val('');
            $("#i_loop_separator_"+ind).val('');
            $("#i_loop_value_list_"+ind).css("visibility" , "");
            $("#i_loop_separator_"+ind).css("visibility" , "");
            $("#l_loop_separator_"+ind).css("visibility" , "");
            $("#i_loop_value_list_"+ind).height(40);
            $("#i_loop_requires_encryption_"+ind).removeAttr("disabled");
        }

        new function ($) {
            $.fn.getCursorPosition = function () {
                var pos = 0;
                var el = $(this).get(0);
                // IE Support
                if (document.selection) {
                    el.focus();
                    var Sel = document.selection.createRange();
                    var SelLength = document.selection.createRange().text.length;
                    Sel.moveStart('character', -el.value.length);
                    pos = Sel.text.length - SelLength;
                }
                // Firefox support
                else if (el.selectionStart || el.selectionStart == '0')
                    pos = el.selectionStart;
                return pos;
            }
        } (jQuery);
    </script>

    <div class="heading1">Execution Flow administration - {% if form_operation == "update" %}Edit{% else %}Create{% endif %}</div>

    <div class="container-fluid" style="padding: 30px;">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {% if object.status != 'FROZEN' %}
                            <label for="{{ form.name.id_for_label }}">Name :</label> <span class="glyphicon glyphicon-asterisk"></span>
                            {{ form.name }}
                            {{ form.name.errors }}
                        {% else %}
                            <label >Name :</label>
                            {{ object.name }}
                            <input type="hidden" name="name" value="{{object.name}}" >
                        {% endif %}
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5 .col-md-offset-1">
                            <div class="form-group">
                                <label for="{{ form.time_between_exec.id_for_label }}">Period between executions (sec): <span class="glyphicon glyphicon-question-sign" title="How many seconds does the engine have to wait to run the same flow again. Sometimes it is not recommended to execute the same flow in every minute..."></span> </label>
                                {{ form.time_between_exec }}
                                {{ form.time_between_exec.errors }}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="{{ form.multiple_events_cnt.id_for_label }}">Approximate execution time (min): <span class="glyphicon glyphicon-question-sign" title="The approximate execution time of the flow.&#10;If it is long running flow then it shouldn't be executed just before the end of the maintenance window (i.e. the execution time is 60 min, the maintenance window is between 19:00 and 23:30 and the event occurred at 22:50 then it won't be executed).&#10;If it cannot be executed on a specific day then it will be rescheduled."></span> </label>
                                {{ form.execution_time }}
                                {{ form.execution_time.errors }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="{{ form.access_group.id_for_label }}">Access group :</label>
                        {{ form.access_group }}
                        {{ form.access_group.errors }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ form.error_mail_sending_recipients.id_for_label }}">If an error occurs then send mail to the following email address(es) :</label>
                        <span class="glyphicon glyphicon-question-sign" title="More email adresses can be specified separated by comma.&#10;If the field is left empty then mail will be sent to all the users that have the access groups that are assigned to the execution flow (e.g. the DBA access groups is assigned to the X flow then all the users will receive mail that are in the DBA group in Django authentication)."></span>
                        {{ form.error_mail_sending_recipients }}
                        {{ form.error_mail_sending_recipients.errors }}
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="{{ form.start_mail_sending_recipients.id_for_label }}">If the flow is started (automatically) by a log event then send mail to the following email address(es) :</label>
                        <span class="glyphicon glyphicon-question-sign" title="More email adresses can be specified separated by comma.&#10;If the field is left empty then mail will be sent to all the users that have the access groups that are assigned to the execution flow (e.g. the DBA access groups is assigned to the X flow then all the users will receive mail that are in the DBA group in Django authentication)."></span>
                        {{ form.start_mail_sending_recipients }}
                        {{ form.start_mail_sending_recipients.errors }}
                    </div>
                </div>
            </div>

            <br>
            <input type="submit" value="Save" class="btn btn-primary"/>
            <a href="{% url 'admin_execution_flow_list' %}" class="btn btn-primary">Cancel</a>
            {% if object.status == 'FROZEN' %}
                <a href="#" class="btn btn-danger pull-right" onclick="unfreezeHistory()" title="The flow can be unfrozen by removing its full event history. (However I recommend to copy this flow and name it like &#10;'<flow name> - version XX'&#10; and use this new flow). If the history is big (i.e. lots of events are created) then the operation can last long (it might be worth to remove the records in database shell).">Unfreeze it by deleting its history</a>
            {% endif %}
        </form>
    </div>

    <div class="container-fluid">
        <h3>Building the execution flow</h3>
    </div>
    <div class="container-fluid">
        <div class="mermaid mermaid-container" id="flowDiv">
            {% if form_operation == 'update' %}
                {% autoescape off %} {{ mermaid_flow }} {% endautoescape %}
            {% else %}
                <b>The execution flow can be started to build only if it is saved already! Please save it first and come back to edit it.</b>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 20px;">
        {% if form_operation == 'update' %}
            {% csrf_token %}
            {% if object.status == 'VALID' %}
                <div class="alert alert-success" role="alert">
                    <label>The execution flow is valid.</label>
                </div>
            {% elif object.status == 'FROZEN' %}
                <div class="alert alert-warning" role="alert">
                    <label>The execution flow is frozen.</label>
                </div>
            {% else %}
                <label style="color:brown;">The execution flow is INVALID! It cannot be used to add to an error detector and it cannot be started.</label>
                {% if validation_error %}
                    <div class="alert alert-danger" role="alert">
                        <label style="color:red">{{validation_error}}</label>
                    </div>
                {% endif %}
                {% if deactivated_error_detectors %}
                    <div class="alert alert-warning" role="alert">
                        <label>Warning! As the execution flow is invalid the following error detectors got deactivated:</label>
                        <ul>
                            {% for deactivated_error_detector in deactivated_error_detectors %}
                            <li> <a class="alert-link" href="{% url 'admin_errordetector_update' pk=deactivated_error_detector.id %}">{{deactivated_error_detector.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <!-------------------------------------------- the div element for displaying the details dialog of execution_flow task -------------------------------------------->
    <div id="execution_flow_task_details_dialog" title="Execution flow task details" class="hide">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Task type:</label>
                <div class="col-md-10">
                    <spam id="l_internal_task" class="col-md-10" style="padding-top: 7px; text-align: left;"/>
                </div>
            </div>
            <div class="form-group" id="tr_name">
                <label class="control-label col-md-2">Name:<span class="glyphicon glyphicon-asterisk"></span></label>
                <div class="col-md-10">
                    <input type="text" id="i_name" class="form-control" maxlength="200">
                </div>
            </div>
            <div class="form-group" id="tr_command">
                <label class="control-label col-md-2">
                    Command:
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <span id="icon_question_command" class="glyphicon glyphicon-question-sign" style="white-space: pre-line;"></span>
                </label>
                <div class="col-md-10">
                    <input type="text" id="i_command" class="form-control" required="true">
                </div>
            </div>
            <div class="form-group" id="tr_ssh_auth_type">
                <label class="control-label col-md-2">
                    SSH authentication type:
                    <span class="glyphicon glyphicon-asterisk"></span>
                </label>
                <div class="col-md-10">
                    <select id="s_ssh_auth_type" class="form-control-static"></select>
                </div>
            </div>
            <div class="form-group" id="tr_os_user">
                <label class="control-label col-md-2">
                    OS user:
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <span id="icon_question_os_user" class="glyphicon glyphicon-question-sign" title="The operation system user that will execute the command (see more at the command).&#10;The loop variable can be used by adding ##{[loop variable name]}##."></span>
                </label>
                <div class="col-md-10">
                    <input type="text" id="i_os_user" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_ssh_key_path">
                <label class="control-label col-md-2">
                    Path to the SSH key:
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <span class="glyphicon"></span><span class="glyphicon glyphicon-question-sign" title="The path to the private key that is used to connect to the server via SSH."></span></label>
                <div class="col-md-10">
                    <input type="text" id="i_ssh_key_path" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_os_password">
                <label class="control-label col-md-2">OS password:<span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-question-sign" title="The password of the operation event source user that will execute the command using SSH.&#10;The password can be set manually or it can come from a placeholder variable set in a parent loop command (don't use the full placeholder variable name, e.g. NOT ##{XXX}### but XXX)."></span> </label>
                <div class="col-md-10">
                    <div class="row">
                        <span class="col-md-3">
                            <input type="radio" name="os-password-how-to-set" id="os-password-set-manually" value="os-password-set-manually" checked>
                            <label for="os-password-set-manually">set manually</label>
                        </span>
                        <span class="col-md-9">
                            <input id="b_pwd_reset" type="button" value="Reset" onclick="resetPassword();" class="btn btn-secondary" />
                            <input id="i_os_password" type="text" class="form-control hide">
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-3">
                            <input type="radio" name="os-password-how-to-set" id="os-password-set-from-placeholder-variable" value="os-password-set-from-placeholder-variable">
                            <label for="os-password-set-from-placeholder-variable">coming from placeholder variable</label>
                        </span>
                        <span class="col-md-9">
                            <input id="i_os_password2" type="text" class="form-control" disabled>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="tr_host">
                <label class="control-label col-md-2">Host:<span class="glyphicon glyphicon-asterisk"></span> <span id="stp_host" class="glyphicon glyphicon-question-sign hide" title="The port number can be set by putting it at the end of the host name separated by colon. For example: acme.com:26. If nothing is set then port 22 will be used.&#10;The loop variable can be used by adding ##{[loop variable name]}##. For example: '##{var_loop_1}##.group.net' where the var_loop_1 is the loop variable name."></span> </label>
                <div class="col-md-10">
                    <input type="text" id="i_host" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_execution_timeout">
                <label class="control-label col-md-2">Execution timeout: <span id="stp_execution_timeout" class="glyphicon glyphicon-question-sign hide" title="After the execution timeout value the command execution will be interrupted. If no value is set then the default timeout value (set in 'reaction-engine-application.yml / reaction.commands.using-ssh.default-execution-timeout' will be used. The '-1' value means that the command won't be interrupted (even by the default-execution-timeout value!). "></span> </label>
                <div class="col-md-5">
                    <input type="text" id="i_execution_timeout" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_output_pattern">
                <label class="control-label col-md-2">Output pattern:<span class="glyphicon glyphicon-question-sign" title="The value to be extracted from the output of the command.&#10;Regular expression can be used but the following named capturing group has to be specified: &#10;?<COMMANDOUTPUT>.&#10;For example:   .* [a-zA-Z0-9]* (?<COMMANDOUTPUT>[0-9]*) - [a-zA-Z0-9]* .*    =>  the COMMANDOUTPUT has to be a number.&#10;The loop variable can be used by adding ##{[loop variable name]}##. For example: '##{var_loop_1}##Exception' where the var_loop_1 is the loop variable name."></span> </label>
                <div class="col-md-8">
                    <input type="text" id="i_output_pattern" class="form-control">
                </div>
                <div class="col-md-2">
                    <input type="button" value="Insert extraction expr" title="Insert the extraction regular expression -> (?<COMMANDOUTPUT>[0-9a-zA-Z]*)" onclick="insertExtractionExpr('#i_output_pattern');" class="btn btn-primary pull-right" />
                </div>
            </div>
            <div class="form-group" id="tr_if">
                <label class="control-label col-md-2">
                    Condition: <span class="glyphicon glyphicon-asterisk"/>
                    <a href="{% url 'helpp'%}#2_2_3_3_1_condition_of_if_else" target="_blank" rel="noopener noreferrer" title="Click on the icon to open the help!" style="text-decoration: none;">
                        <span class="glyphicon glyphicon-question-sign" style="display:inline;"></span>
                    </a>
                </label>
                <div class="col-md-10">
                    <input type="text" id="i_if_expression" class="form-control" required="true" style="width: 100%;"></input>
                    <input type="button" value="Check the expression" onclick="checkExpression('i_if_expression');" class="btn btn-primary btn-xs pull-right" style="margin-top: 10px;"/>
                    <input type="button" value="Insert the output variable" onclick="insertOutputVariable('#i_if_expression');" class="btn btn-info btn-xs pull-right" style="margin-top: 10px; margin-right: 10px;"
                           title="Inserting the '$COMMANDOUTPUT' variable into the condition expression"/>
                </div>
            </div>
            <div class="form-group" id="tr_mail_recipients">
                <label class="control-label col-md-2">Recipients: <span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-question-sign" title="Multiple email addresses can be specified separated by comma.&#10;The loop variable can be used by adding ##{[loop variable name]}##. For example: '##{var_loop_1}##@acme.com' where the var_loop_1 is the loop variable name."></span></label>
                <div class="col-md-10">
                    <input type="text" id="i_mail_recipients" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_mail_subject">
                <label class="control-label col-md-2">Subject: <span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-question-sign" title="The loop variable can be used by adding ##{[loop variable name]}##. For example: 'Important - ##{var_loop_1}##' where the var_loop_1 is the loop variable name."></span></label>
                <div class="col-md-10">
                    <input type="text" id="i_mail_subject" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_mail_content">
                <label class="control-label col-md-2">Content: <span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-question-sign" title="The loop variable can be used by adding ##{[loop variable name]}##."></span></label>
                <div class="col-md-10">
                    <textarea type="text" id="i_mail_content" class="form-control"></textarea>
                </div>
            </div>
            <hr class="hr-loop-value-list hide"/>
            <div class="form-group" id="tr_loop_value_list_1">
                <label class="control-label col-md-2">Value list 1: <span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-question-sign" title="The loop goes through this value list and processes the elements in the list one by one.&#10;The number of the cycles in the loop is determined by the number of the values separated by the separator.&#10;For example: 'ACME452,ACME650,ACME233' -> the number of the cycles is 3 and the separator is comma"></span></label>
                <div class="col-md-5">
                    <input id="b_loop_value_list_1_reset" type="button" value="Reset" onclick="resetEncrValueList(1);" class="btn btn-secondary hide" />
                    <textarea type="text" id="i_loop_value_list_1" style="resize: vertical;" class="form-control"></textarea>
                </div>
                <div class="form-inline col-md-5">
                    <div class="form-group">
                        <label id="l_loop_separator_1" class="col-form-label d-inline loop_separator_label">Separator 1: </label>
                        <input type="text" id="i_loop_separator_1" class="form-control d-inline loop_separator_textfield">
                        <label class="col-form-label d-inline loop_separator_placeholder_var_label">Placeholder var. name 1: <span class="glyphicon glyphicon-asterisk"/><span class="glyphicon glyphicon-question-sign" title="The values in the value list can be used under this placeholder variable name in the different tasks in the loop.&#10;For example: if 2 files have to be downloaded from the same host then add the file paths to the value list, name the placeholder variable like 'FTP_PATH' and the command in the SSH command should be like 'WGET ftp://ftp.mydomain.com/##{FTP_PATH}##'."></span></label>
                        <input type="text" id="i_loop_placeholder_var_1" class="form-control d-inline loop_separator_placeholder_var_textfield">
                        <label class="col-form-label d-inline loop_req_encryption_label">Requires encryption?<span class="glyphicon glyphicon-question-sign" title="The values in the value list will be encrypted.&#10;Sensitive data (like password, etc.) can be stored in the list without exposing them. When the value list is encrypted then it cannot be edited but reset the whole list and define it again."></span></label>
                        <input type="checkbox" id="i_loop_requires_encryption_1" class="form-control d-inline loop_req_encryption_checkbox">
                    </div>
                </div>
            </div>
            <hr class="hr-loop-value-list hide"/>
            <div class="form-group" id="tr_loop_value_list_2">
                <label class="control-label col-md-2">Value list 2: <span class="glyphicon glyphicon-question-sign" title="The loop goes through this value list and processes the elements in the list one by one.&#10;The number of the cycles in the loop is determined by the number of the values separated by the separator.&#10;For example: 'ACME452,ACME650,ACME233' -> the number of the cycles is 3 and the separator is comma"></span></label>
                <div class="col-md-5">
                    <input id="b_loop_value_list_2_reset" type="button" value="Reset" onclick="resetEncrValueList(2);" class="btn btn-secondary hide" />
                    <textarea type="text" id="i_loop_value_list_2" style="resize: vertical;" class="form-control"></textarea>
                </div>
                <div class="form-inline col-md-5">
                    <div class="form-group">
                        <label id="l_loop_separator_2" class="col-form-label d-inline loop_separator_label">Separator 2: </label>
                        <input type="text" id="i_loop_separator_2" class="form-control d-inline loop_separator_textfield">
                        <label class="col-form-label d-inline loop_separator_placeholder_var_label">Placeholder var. name 2: <span class="glyphicon glyphicon-question-sign" title="The values in the value list can be used under this placeholder variable name in the different tasks in the loop.&#10;For example: if 2 files have to be downloaded from the same host then add the file paths to the value list, name the placeholder variable like 'FTP_PATH' and the command in the SSH command should be like 'WGET ftp://ftp.mydomain.com/##{FTP_PATH}##'."></span></label>
                        <input type="text" id="i_loop_placeholder_var_2" class="form-control d-inline loop_separator_placeholder_var_textfield">
                        <label class="col-form-label d-inline loop_req_encryption_label">Requires encryption?<span class="glyphicon glyphicon-question-sign" title="The values in the value list will be encrypted.&#10;Sensitive data (like password, etc.) can be stored in the list without exposing them. When the value list is encrypted then it cannot be edited but reset the whole list and define it again."></span></label>
                        <input type="checkbox" id="i_loop_requires_encryption_2" class="form-control d-inline loop_req_encryption_checkbox">
                    </div>
                </div>
            </div>
            <hr class="hr-loop-value-list hide"/>
            <div class="form-group" id="tr_loop_value_list_3">
                <label class="control-label col-md-2">Value list 3: <span class="glyphicon glyphicon-question-sign" title="The loop goes through this value list and processes the elements in the list one by one.&#10;The number of the cycles in the loop is determined by the number of the values separated by the separator.&#10;For example: 'ACME452,ACME650,ACME233' -> the number of the cycles is 3 and the separator is comma"></span></label>
                <div class="col-md-5">
                    <input id="b_loop_value_list_3_reset" type="button" value="Reset" onclick="resetEncrValueList(3);" class="btn btn-secondary hide" />
                    <textarea type="text" id="i_loop_value_list_3" style="resize: vertical;" class="form-control"></textarea>
                </div>
                <div class="form-inline col-md-5">
                    <div class="form-group">
                        <label id="l_loop_separator_3" class="col-form-label d-inline loop_separator_label">Separator 3: </label>
                        <input type="text" id="i_loop_separator_3" class="form-control d-inline loop_separator_textfield">
                        <label class="col-form-label d-inline loop_separator_placeholder_var_label">Placeholder var. name 3: <span class="glyphicon glyphicon-question-sign" title="The values in the value list can be used under this placeholder variable name in the different tasks in the loop.&#10;For example: if 2 files have to be downloaded from the same host then add the file paths to the value list, name the placeholder variable like 'FTP_PATH' and the command in the SSH command should be like 'WGET ftp://ftp.mydomain.com/##{FTP_PATH}##'."></span></label>
                        <input type="text" id="i_loop_placeholder_var_3" class="form-control d-inline loop_separator_placeholder_var_textfield">
                        <label class="col-form-label d-inline loop_req_encryption_label">Requires encryption?<span class="glyphicon glyphicon-question-sign" title="The values in the value list will be encrypted.&#10;Sensitive data (like password, etc.) can be stored in the list without exposing them. When the value list is encrypted then it cannot be edited but reset the whole list and define it again."></span></label>
                        <input type="checkbox" id="i_loop_requires_encryption_3" class="form-control d-inline loop_req_encryption_checkbox">
                    </div>
                </div>
            </div>
            <hr class="hr-loop-value-list hide"/>
            <div class="form-group" id="tr_loop_value_list_4">
                <label class="control-label col-md-2">Value list 4: <span class="glyphicon glyphicon-question-sign" title="The loop goes through this value list and processes the elements in the list one by one.&#10;The number of the cycles in the loop is determined by the number of the values separated by the separator.&#10;For example: 'ACME452,ACME650,ACME233' -> the number of the cycles is 3 and the separator is comma"></span></label>
                <div class="col-md-5">
                    <input id="b_loop_value_list_4_reset" type="button" value="Reset" onclick="resetEncrValueList(4);" class="btn btn-secondary hide" />
                    <textarea type="text" id="i_loop_value_list_4" style="resize: vertical;" class="form-control"></textarea>
                </div>
                <div class="form-inline col-md-5">
                    <div class="form-group">
                        <label id="l_loop_separator_4" class="col-form-label d-inline loop_separator_label">Separator 4: </label>
                        <input type="text" id="i_loop_separator_4" class="form-control d-inline loop_separator_textfield">
                        <label class="col-form-label d-inline loop_separator_placeholder_var_label">Placeholder var. name 4: <span class="glyphicon glyphicon-question-sign" title="The values in the value list can be used under this placeholder variable name in the different tasks in the loop.&#10;For example: if 2 files have to be downloaded from the same host then add the file paths to the value list, name the placeholder variable like 'FTP_PATH' and the command in the SSH command should be like 'WGET ftp://ftp.mydomain.com/##{FTP_PATH}##'."></span></label>
                        <input type="text" id="i_loop_placeholder_var_4" class="form-control d-inline loop_separator_placeholder_var_textfield">
                        <label class="col-form-label d-inline loop_req_encryption_label">Requires encryption?<span class="glyphicon glyphicon-question-sign" title="The values in the value list will be encrypted.&#10;Sensitive data (like password, etc.) can be stored in the list without exposing them. When the value list is encrypted then it cannot be edited but reset the whole list and define it again."></span></label>
                        <input type="checkbox" id="i_loop_requires_encryption_4" class="form-control d-inline loop_req_encryption_checkbox">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <hr class="tight-hr" style="border-width:4px; border-color:#68686;">
            </div>

            <div class="form-group" style="padding-left: 30px; padding-right: 30px;">
                <span class="glyphicon glyphicon-remove-sign" style="padding-right: 10px;"></span>
                <label>Delete the current task:&nbsp;</label> <label class="del_ifelse_warning hide">Warning! All the child elements will be removed!</label>
                <input id="b_delete" type="button" value="Delete" onclick="deleteTask();" class="btn btn-primary pull-right" />
            </div>
            <div>
                <hr class="tight-hr">
            </div>
            <div class="form-group" style="padding-left: 30px; padding-right: 30px;">
                <span class="glyphicon glyphicon-move" style="padding-right: 10px;"></span>
                <label>Move the current task
                    <select id="s_move_where" class="form-control-static">
                        <option value="AFTER">after</option>
                        <option value="TO_TRUE">to TRUE branch of</option>
                        <option value="TO_FALSE">to FALSE branch of</option>
                        <option value="INTO_LOOP">to the beginning of</option>
                    </select> the following task
                    <select id="s_move_after_task" class="form-control-static" style="width: 310px;"></select>&nbsp;:&nbsp;
                </label>&nbsp;
                <input id="b_move" type="button" value="Move " onclick="moveTask();" class="btn btn-primary pull-right" />
            </div>
            <div>
                <hr class="tight-hr">
            </div>
            <div class="form-group" style="padding-left: 30px; padding-right: 30px;">
                <span class="glyphicon glyphicon-import" style="padding-right: 10px;"></span>
                <label style="display:inline;">Insert a new
                    <select id="s_insert_new_task_type" class="form-control-static">
                        <option value="COMMAND_BY_WORKER">Command executed by the the Reaction Worker</option>
                        <option value="COMMAND_USING_SSH">Command executed using SSH</option>
                        <option value="LOOP">Loop</option>
                        <option value="IF_ELSE">If-Else</option>
                        <option value="EMAIL_SENDING">Email sending</option>
                        <option value="FAILURE">Failure</option>
                    </select> task &nbsp;
                    <select id="s_insert_if_else_type" class="hide form-control-static">
                        <option value="WITH_TRUE_AND_FALSE" title="Creating a new IF-ELSE task with empty TRUE and FALSE branches">with empty TRUE and FALSE branches</option>
                        <option value="ADD_TO_TRUE" title="Creating a new IF-ELSE task and all the subsequent tasks after the new IF-ELSE task will be added to the TRUE branch of the new task">and add the subsequent existing tasks to the TRUE branch</option>
                        <option value="ADD_TO_FALSE" title="Creating a new IF-ELSE task and all the subsequent tasks after the new IF-ELSE task will be added to the FALSE branch of the new task">and add the subsequent existing tasks to the FALSE branch</option>
                    </select>
                    <select id="s_insert_where" class="form-control-static" style="margin-top: 5px; margin-left: 15px;">
                        <option value="AFTER">after</option>
                        <option value="TO_TRUE">to the beginning of the TRUE branch of</option>
                        <option value="TO_FALSE">to the beginning of the FALSE branch of</option>
                        <option value="INTO_LOOP">to the beginning of</option>
                    </select> the following task
                    <select id="s_insert_after_task" class="form-control-static" style="width: 310px; margin-top: 5px; margin-left: 15px;"></select>&nbsp;:&nbsp;
                </label>&nbsp;
                <input id="b_insert" type="button" value="Insert" onclick="insertTask();" class="btn btn-primary pull-right" style="display:inline;"/> <br>
            </div>
            <div id="hr_copy_task">
                <hr class="tight-hr">
            </div>
            <div id="div_copy_task" class="form-group" style="padding-left: 30px; padding-right: 30px;">
                <span class="glyphicon glyphicon-copy" style="padding-right: 10px;"></span>
                <label style="display:inline;">Copy and insert the current task &nbsp;
                    <select id="s_copy_where" class="form-control-static" style="margin-top: 5px; margin-left: 15px;">
                        <option value="AFTER">after</option>
                        <option value="TO_TRUE">to the beginning of the TRUE branch of</option>
                        <option value="TO_FALSE">to the beginning of the FALSE branch of</option>
                        <option value="INTO_LOOP">to the beginning of</option>
                    </select> the following task
                    <select id="s_copy_after_task" class="form-control-static" style="width: 310px; margin-top: 5px; margin-left: 15px;"></select>&nbsp;:&nbsp;
                </label>&nbsp;
                <input id="b_copy" type="button" value="Copy" onclick="copyTask();" class="btn btn-primary pull-right" style="display:inline;"/> <br>
            </div>
        </div>
    </div>


    <!-------------------------------------------- the div element for displaying the dialog to insert a new task -------------------------------------------->
    <div id="execution_flow_task_insert_dialog" title="New execution flow task data" class="hide">
        <label>Inserting a new <span id="sp_new_task_display"></span> task</label>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3">Name:<span class="glyphicon glyphicon-asterisk"></span></label>
                <div class="col-md-9">
                    <input type="text" id="i_new_name" class="form-control" maxlength="200" required="true">
                </div>
            </div>
            <div class="form-group" id="tr_new_command">
                <label class="control-label col-md-3">Command:<span class="glyphicon glyphicon-asterisk"></span><span id="icon_question_new_command" class="glyphicon glyphicon-question-sign" style="white-space: pre-line;" title=""></span></label>
                <div class="col-md-9">
                    <input type="text" id="i_new_command" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_ssh_auth_type">
                <label class="control-label col-md-3">
                    SSH authentication type:
                    <span class="glyphicon glyphicon-asterisk"></span>
                </label>
                <div class="col-md-9">
                    <select id="s_new_ssh_auth_type" class="form-control-static"></select>
                </div>
            </div>
            <div class="form-group" id="tr_new_os_user">
                <label class="control-label col-md-3">OS user:<span class="glyphicon"></span><span class="glyphicon glyphicon-question-sign" title="The operation event source user that will execute the command (see more at the command).&#10;The loop variable can be used by adding ##{[loop variable name]}##."></span> </label>
                <div class="col-md-9">
                    <input type="text" id="i_new_os_user" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_ssh_key_path">
                <label class="control-label col-md-3">
                    Path to the SSH key:
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <span class="glyphicon glyphicon-question-sign" title="The path to the private key that is used to connect to the server via SSH."></span>
                </label>
                <div class="col-md-9">
                    <input type="text" id="i_new_ssh_key_path" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_os_password">
                <label class="control-label col-md-3">OS password:<span class="glyphicon glyphicon-asterisk"><span class="glyphicon glyphicon-question-sign" title="The password of the operation event source user that will execute the command using SSH.The password can be set manually or it can come from a placeholder variable set in a parent loop command (don't use the full placeholder variable name, e.g. NOT ##{XXX}### but XXX)."></span> </label>
                <div class="col-md-9">
                    <input type="text" id="i_new_os_password" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_host">
                <label class="control-label col-md-3">Host: <span class="glyphicon glyphicon-asterisk"></span> <span id="stp_new_host" class="glyphicon glyphicon-question-sign hide" title="The port number can be set by putting it at the end of the host name separated by colon. For example: acme.com:26. If no port is set then port 22 will be used.&#10;The loop variable can be used by adding ##{[loop variable name]}##. For example: '##{var_loop_1}##.group.net' where the var_loop_1 is the loop variable name."></span> </label>
                <div class="col-md-9">
                    <input type="text" id="i_new_host" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_execution_timeout">
                <label class="control-label col-md-3">Execution timeout: <span id="stp_new_execution_timeout" class="glyphicon glyphicon-question-sign hide" title="After the execution timeout value the command execution will be interrupted. If no value is set then the default timeout value (set in 'reaction-engine-application.yml / reaction.commands.using-ssh.default-execution-timeout' will be used. The '-1' value means that the command won't be interrupted (even by the default-execution-timeout value!). "></span> </label>
                <div class="col-md-9">
                    <input type="text" id="i_new_execution_timeout" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_output_pattern">
                <label class="control-label col-md-3">Output pattern:<span class="glyphicon glyphicon-question-sign" title="The value to be extracted from the output of the command.&#10;Regular expression can be used but the following named capturing group has to be specified: &#10;?<COMMANDOUTPUT>.&#10;For example:   .* [a-zA-Z0-9]* (?<COMMANDOUTPUT>[0-9]*) - [a-zA-Z0-9]* .*    =>  the COMMANDOUTPUT has to be a number. &#10;The loop variable can be used by adding ##{[loop variable name]}##. For example: '##{var_loop_1}##Exception' where the var_loop_1 is the loop variable name."></span></label>
                <div class="col-md-7">
                    <input type="text" id="i_new_output_pattern" class="form-control">
                </div>
                <div class="col-md-2">
                    <input type="button" value="Insert extraction expr" title="Insert the extraction regular expression -> (?<COMMANDOUTPUT>[0-9a-zA-Z]*)" onclick="insertExtractionExpr('#i_new_output_pattern');" class="btn btn-primary pull-right" />
                </div>
            </div>
            <div class="form-group" id="tr_new_if">
                <label class="control-label col-md-3">
                    Condition: <span class="glyphicon glyphicon-asterisk"/>
                    <a href="{% url 'helpp'%}#2_2_3_3_1_condition_of_if_else" target="_blank" rel="noopener noreferrer" title="Click on the icon to open the help!" style="text-decoration: none;">
                        <span class="glyphicon glyphicon-question-sign" style="display:inline;"></span>
                    </a>
                </label>
                <div class="col-md-9">
                    <input type="text" id="i_new_if_expression" class="form-control" required="true" style="width: 100%;"></input>
                    <input type="button" value="Check the expression" onclick="checkExpression('i_new_if_expression');" class="btn btn-primary btn-xs pull-right" style="margin-top: 10px;"/>
                    <input type="button" value="Insert the output variable" onclick="insertOutputVariable('#i_new_if_expression');" class="btn btn-info btn-xs pull-right" style="margin-top: 10px; margin-right: 10px;"
                           title="Inserting the '$COMMANDOUTPUT' variable into the condition expression"/>

                </div>
            </div>
            <div class="form-group" id="tr_new_mail_recipients">
                <label class="control-label col-md-3">Recipients: <span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-question-sign" title="More email addresses can be specified separated by comma.&#10;The loop variable can be used by adding ##{[loop variable name]}##. For example: '##{var_loop_1}##@acme.com' where the var_loop_1 is the loop variable name."></span> </label>
                <div class="col-md-9">
                    <input type="text" id="i_new_mail_recipients" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_mail_subject">
                <label class="control-label col-md-3">Subject: <span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-question-sign" title="The loop variable can be used by adding ##{[loop variable name]}##. For example: 'Important - ##{var_loop_1}##' where the var_loop_1 is the loop variable name."></span></label>
                <div class="col-md-9">
                    <input type="text" id="i_new_mail_subject" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_mail_content">
                <label class="control-label col-md-3">Content: <span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-question-sign" title="The loop variable can be used by adding ##{[loop variable name]}##."></span></label>
                <div class="col-md-9">
                    <textarea type="text" id="i_new_mail_content" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group" id="tr_new_loop_value_list_1">
                <label class="control-label col-md-3">Value list 1: <span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-question-sign" title="The loop goes through this value list and processes the elements in the list one by one.&#10;The number of the cycles in the loop is determined by the number of the values separated by the separator.&#10;For example: 'ACME452,ACME650,ACME233' -> the number of the cycles is 3 and the separator is comma"></span></label>
                <div class="col-md-9">
                    <textarea type="text" id="i_new_loop_value_list_1" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group" id="tr_new_loop_separator_1">
                <label class="control-label col-md-3">Separator 1: </label>
                <div class="col-md-1">
                    <input type="text" id="i_new_loop_separator_1" class="form-control">
                </div>
                <label class="control-label col-md-3">Placeholder var. name 1: <span class="glyphicon glyphicon-asterisk"></span></label>
                <div class="col-md-2">
                    <input type="text" id="i_new_loop_placeholder_var_1" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_loop_value_list_2">
                <label class="control-label col-md-3">Value list 2: <span class="glyphicon glyphicon-question-sign" title="The loop goes through this value list and processes the elements in the list one by one.&#10;The number of the cycles in the loop is determined by the number of the values separated by the separator.&#10;For example: 'ACME452,ACME650,ACME233' -> the number of the cycles is 3 and the separator is comma"></span></label>
                <div class="col-md-9">
                    <textarea type="text" id="i_new_loop_value_list_2" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group" id="tr_new_loop_separator_2">
                <label class="control-label col-md-3">Separator 2: </label>
                <div class="col-md-1">
                    <input type="text" id="i_new_loop_separator_2" class="form-control">
                </div>
                <label class="control-label col-md-3">Placeholder var. name 2: </label>
                <div class="col-md-2">
                    <input type="text" id="i_new_loop_placeholder_var_2" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_loop_value_list_3">
                <label class="control-label col-md-3">Value list 3: <span class="glyphicon glyphicon-question-sign" title="The loop goes through this value list and processes the elements in the list one by one.&#10;The number of the cycles in the loop is determined by the number of the values separated by the separator.&#10;For example: 'ACME452,ACME650,ACME233' -> the number of the cycles is 3 and the separator is comma"></span></label>
                <div class="col-md-9">
                    <textarea type="text" id="i_new_loop_value_list_3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group" id="tr_new_loop_separator_3">
                <label class="control-label col-md-3">Separator 3: </label>
                <div class="col-md-1">
                    <input type="text" id="i_new_loop_separator_3" class="form-control">
                </div>
                <label class="control-label col-md-3">Placeholder var. name 3: </span></label>
                <div class="col-md-2">
                    <input type="text" id="i_new_loop_placeholder_var_3" class="form-control">
                </div>
            </div>
            <div class="form-group" id="tr_new_loop_value_list_4">
                <label class="control-label col-md-3">Value list 4: <span class="glyphicon glyphicon-question-sign" title="The loop goes through this value list and processes the elements in the list one by one.&#10;The number of the cycles in the loop is determined by the number of the values separated by the separator.&#10;For example: 'ACME452,ACME650,ACME233' -> the number of the cycles is 3 and the separator is comma"></span></label>
                <div class="col-md-9">
                    <textarea type="text" id="i_new_loop_value_list_4" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group" id="tr_new_loop_separator_4">
                <label class="control-label col-md-3">Separator 4: </label>
                <div class="col-md-1">
                    <input type="text" id="i_new_loop_separator_4" class="form-control">
                </div>
                <label class="control-label col-md-3">Placeholder var. name 4: </span></label>
                <div class="col-md-2">
                    <input type="text" id="i_new_loop_placeholder_var_4" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <!-- the div element for displaying a dialog to specify the value of $COMMANDOUTPUT to check the expression -->
    <div id="spec_command_output_dialog" title="Specify the value of $COMMANDOUTPUT!" class="hide">
        <div class="form-group" class="hide">
            <label>Please specify the value of $COMMANDOUTPUT to check the expression!</label>
            <input type="text" id="i_command_output" class="form-control" style="width: 100%">
        </div>
    </div>

    <!-- the div element for displaying a dialog to display the expression check result -->
    <div id="check_expression_result_dialog" title="The result of checking the expression" class="hide">
        <div class="form-group">
            <div id="d_check_expr_valid" style="color:green">
                The expression is VALID!<br>
                The result of the evaluation is <strong><label id="l_check_expr_valid"/></strong>.
            </div>
            <div id="d_check_expr_invalid" style="color:red">
                Warning, the expression is INVALID!<br>
                <label id="l_check_expr_invalid"/>
            </div>
        </div>
    </div>

    <!-- the div element for displaying a dialog to specify the value of $COMMANDOUTPUT to check the expression -->
    <div id="specify_first_task_dialog" title="Starting to craft the execute flow" class="hide">
        <div class="form-group" class="hide">
            <label>Please specify the first task of the execution flow!</label>
                <div>It will be a(n)
                <select id="s_insert_1st_task" class="form-control-static">
                    <option value="COMMAND_BY_WORKER">Command executed by Worker</option>
                    <option value="COMMAND_USING_SSH">Command executed using SSH</option>
                    <option value="LOOP">Loop</option>
                    <option value="IF_ELSE">IF-ELSE expression</option>
                    <option value="EMAIL_SENDING">Email sending</option>
                    <option value="FAILURE">Failure</option>
                </select> task.
            </div>
        </div>
    </div>

{% endblock %}