{% extends "base.html" %}

{% block title %}Execution flow administration{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>

	<script>
        $(document).ready(function () {
            // ---------------------- jQuery for configuring the new exec flow dialog ----------------------
            $("#d_copy_execution_flow").dialog({
                autoOpen: false,
                height: 200,
                width: 800,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons: {
                    "Copy": saveExecutionFlow,
                    Cancel: function() {
                        $("#d_copy_execution_flow").dialog("close");
                    }
                }
            });
        });

        function copyExecutionFlow(name, id) {
            // opening the dialog
            $( "#d_copy_execution_flow" ).data("id",id).dialog( "open" );
            $( "#d_copy_execution_flow" ).removeClass("hide");
            // creating the name of the execution flow
            $("#i_name").val(name + " - copy");
        }

        function saveExecutionFlow() {
            // setting the hidden parameter of form
            $("#orig_id").val($("#d_copy_execution_flow").data('id'));
            // submitting the form
            $("#f_copy_exec_flow").submit();
        }
    </script>


    <!-------------------------------------- MAIN CONTENT -------------------------------------------->
    <div class="heading1">Execution Flow administration</div>

    <div class="container">
        <table class="data_table table-hover">
            <tr>
                <th class="data_table_header">
                    <a href="?{% url_replace order='name' filter_name=filter_name filter_status=filter_status %}">Name</a>
                    {% autoescape off %}{% table_header_sort_icon 'name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='status' filter_name=filter_name filter_status=filter_status %}">Status</a>
                    {% autoescape off %}{% table_header_sort_icon 'status' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    Hosts
                </th>
                <th class="data_table_header">
                    Access groups
                </th>

                <th colspan="3"/>
            </tr>
            <tr>
                <form method="get" action="{% url 'admin_execution_flow_list' %}">

                <td>
                    <input type="text" value="{{filter_name}}" name="filter_name" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_status}}" name="filter_status" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_hosts}}" name="filter_hosts" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_access_group}}" name="filter_access_group" style="width: 100%;"/>
                </td>
                <td colspan="3" style="width: 110px;">
                    <input type="submit" name="submit" value="Filter!" class="btn btn-info"/>
                </td>
                </form>
            </tr>
        {% for execution_flow in object_list %}
            <tr class="{% cycle 'data_table_event_odd' 'data_table_even_line' %}">
                <td>{{ execution_flow.name }}</td>
                <td {% if execution_flow.status == 'VALID' %}style="color:green"{% elif execution_flow.status == 'INVALID' %}style="color:red"{% else %}style="color:gray"{% endif %}>
                    {{ execution_flow.status }}
                </td>
                <td>{{ execution_flow.hosts|default_if_none:"" }}</td>
                <td>{{ execution_flow.access_group|default_if_none:"" }}</td>
                <td style="text-align: center;">
                    <a href="{% url 'admin_execution_flow_update' pk=execution_flow.id %}">
                        {% if execution_flow.status == 'FROZEN' %}<span class="glyphicon glyphicon-sunglasses" title="View"></span>{% else %}<span class="glyphicon glyphicon-pencil" title="Edit"></span>{% endif %}
                    </a>
                </td>
                <td style="text-align: center;">
                    {% if execution_flow.status != 'FROZEN' %}
                    <a href="{% url 'admin_execution_flow_delete' pk=execution_flow.id %}" onclick="return confirm('Are you sure to delete the execution flow?')"><span class="glyphicon glyphicon-trash" title="Delete"></a>
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if execution_flow.status != "INVALID" %}
                    <a href="#" title="Copy the execution flow" onclick="copyExecutionFlow('{{execution_flow.name}}', {{execution_flow.id}})"><span class="glyphicon glyphicon-plus"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
            <tr>
                {# .... **Now the pagination section** .... #}
                <td colspan="8">
                {% if is_paginated %}
                    <span class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="?{% url_replace page=page_obj.previous_page_number %}" class="btn btn-info">&#60;&#60; Previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?{% url_replace page=page_obj.next_page_number %}" class="btn btn-info">Next &#62;&#62;</a>
                            {% endif %}
                        </span>
                    </span>
                {% endif %}
                </td>
            </tr>
            {# .... **the Create,... buttons** .... #}
            <tr>
                <td colspan="8">
                    <a href="{% url 'admin_execution_flow_create'%}" class="btn btn-primary">Create</a>
                </td>
            </tr>
        </table>

    </div>

    <form>

    </form>

    <!-------------------------------------------- the div element for displaying the dialog to specify the name of the new execution flow -------------------------------------------->
    <div id="d_copy_execution_flow" title="Specify the name of the new execution flow" class="hide">
        <div class="form-horizontal">
            <div class="form-group" id="tr_name">
                <form method="post" action="{% url 'admin_execution_flow_copy' %}" id="f_copy_exec_flow">
                    {% csrf_token %}
                    <input type="hidden" id="orig_id" name="orig_id" value="" />
                    <label class="control-label col-md-2">Name:</label>
                    <div class="col-md-10">
                        <input type="text" id="i_name" name="new_name" class="form-control" maxlength="200">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}