{% extends "base.html" %}

{% block title %}Worker status{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <div class="heading1">Worker status</div>

    <div class="container" style="padding-top: 30px;">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2" style="text-align:center;vertical-align:middle;">Reader Worker activities</th>
                    <th colspan="2" style="text-align:center;vertical-align:middle;">Executor Worker activities</th>
                </tr>
                <tr>
                    <th>Host</th>
                    <th>Refreshing the event source list</th>
                    <th>Reporting an event</th>
                    <th>Checking the commands</th>
                    <th>Sending back a command result</th>
                </tr>
            </thead>
            {% for rec in result %}
                <tr>
                    <td>{{rec.0}}</td>
                    <td {% if rec.1.is_reader_old %}style="color:red"{% endif %}>{{rec.1.refresh_event_sources.0|date:'Y-m-d H:i:s'}}<br>{{rec.1.refresh_event_sources.1}}</td>
                    <td>{{rec.1.report_event.0|date:'Y-m-d H:i:s'}}<br>{{rec.1.report_event.1}}</td>
                    <td {% if rec.1.is_executor_old %}style="color:red"{% endif %}>{{rec.1.check_commands.0|date:'Y-m-d H:i:s'}}<br>{{rec.1.check_commands.1}}</td>
                    <td>{{rec.1.send_command_result.0|date:'Y-m-d H:i:s'}}<br>{{rec.1.send_command_result.1}}</td>
                    <td>
                        <a href="{% url 'worker_status_delete' pk=rec.2 %}" onclick="return confirm('Are you sure to delete this record from Worker Status statistics?')" >
                            <span class="glyphicon glyphicon-trash" title="Delete the record from Worker Status statistics" style="padding-top: 10px;"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tbody>

        </table>

    </div>

{% endblock %}