{% extends "base.html" %}

{% block title %}Approval - event life details{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/css/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/css/solid.min.css' %}" />

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
    <script src="{% static 'mermaid/mermaid.min.js' %}"></script>


    <div class="heading1">Approval - details</div>

    <div class="container-fluid" style="padding-top: 30px;">
        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary pull-right" style="margin-top:15px; margin-left: 25px;">Back</a>

        <a onclick="openOperationDialog('Reject')" class="pull-right" title="Reject it." style="padding: 10px">
            <span class="glyphicon glyphicon-remove" style="font-size: 40px"/>
        </a>
        {% if is_in_maintenance_window == 'true' or is_in_maintenance_window == 'false' %}
            {% if is_in_maintenance_window == 'false' %}
            <a onclick="openOperationDialog('Approve and force to start')" class="pull-right" title="Approve and force start it!&#10;Warning! The flow will be started immediately regardless of the maintenance window! (i.e. if the current time is 10AM and the maintenance window is 20:00-23:30 then the flow will be executed now)&#10;This option appears only in that case if a event source assigned to the event and it has maintenance window to be set! (or its parent has i.e. it will appear in that case too if the event's event source doesn't have maintenance window but one of its parent has)" style="padding: 10px; color:red;">
                <span class="glyphicon glyphicon-ok-sign" style="font-size: 40px"/>
            </a>
            {% endif %}
            <a onclick="openOperationDialog('Approve')" class="pull-right" title="Approve it!" style="padding: 10px">
                <span class="glyphicon glyphicon-ok" style="font-size: 40px"/>
            </a>
        {% else %}
            <span class="pull-right" style="border: 1px solid red; padding: 10px;">
                <label>{{is_in_maintenance_window|default_if_none:"Cannot call the 'is_in_maintenance_window' backend service!"}}</label>
            </span>
        {% endif %}

        <table class="table table-condensed table-striped">
            <tr>
                <td>
                    <label>Identifier:</label>
                    {{ event.identifier }}
                </td>
                <td>
                    <label>Log level:</label>
                    {{ event.log_level|default_if_none:"" }}
                </td>
                <td>
                    <label>Initiated by:</label>
                    {{ event.initiated_by }}
                </td>
                <td>
                    <label>Start date:</label>
                    {{ event.start_date|date:'Y-m-d H:i:s'|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Event source type:</label>
                    {% if event.event_source_type %}
                        {% ifequal event.event_source_type.code 'REACTION-WORKER'%}
                            {{ event.event_source_type.name|default_if_none:""|truncatechars:35 }}
                        {% else %}
                            <a href="{% url 'admin_event_source_type_update' pk=event.event_source_type.pk %}" target="_blank" rel="noopener noreferrer">{{ event.event_source_type.name|default_if_none:"" }}</a>
                        {% endifequal %}
                    {% endif %}
                </td>
                <td>
                    <label>Event source:</label>
                    {% if event.event_source %}
                        <a href="{% url 'admin_event_source_update' pk=event.event_source.pk %}" target="_blank" rel="noopener noreferrer">{{ event.event_source.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
                <td>
                    <label>Execution flow:</label>
                    {% if event.execution_flow %}
                        <a href="{% url 'admin_execution_flow_update' pk=event.execution_flow.pk %}" target="_blank" rel="noopener noreferrer">{{ event.execution_flow.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
                <td>
                    <label>Error detector:</label>
                    {% if event.error_detector %}
                        <a href="{% url 'admin_errordetector_update' pk=event.error_detector.pk %}" target="_blank" rel="noopener noreferrer">{{ event.error_detector.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <label>The counter of multiple events:</label>
                    {{ event.multiple_events_counter|default_if_none:"" }}
                </td>
                <td>
                    <label>First event arrived on:</label>
                    {{ event.first_event_arrived|date:'Y-m-d H:i:s'|default_if_none:"" }}
                </td>
                <td colspan="2">
                    <label>Reason:</label>
                    {{ event.reason|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label>Log entry: <span id="icon_question_os_user" class="glyphicon glyphicon-question-sign" title="The log entry coming from worker that is initialized the event"></span> </label>
                    {{ event.message|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>Scheduler:</label>
                    {% if event.scheduled_execution_flow %}
                        <a href="{% url 'admin_execution_flow_update' pk=event.scheduled_execution_flow.pk %}" target="_blank" rel="noopener noreferrer">{{ event.scheduled_execution_flow.name|default_if_none:"" }}</a>
                    {% endif %}
                </td>
                <td colspan="4">
                    <label>If the event has to be scheduled (due to its maintenance window) then it will be started on:</label>
                    {{ next_in_maintenance_window|default_if_none:"" }}
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="vertical-align: top; padding: 0px 60px 0px 20px">
                    {% if event.query_parameters %}
                        <div style="padding-bottom: 15px;"><b>Identifier values from the query parameters of URL</b></div>
                        <table class="table table-condensed table-striped" >
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                            {% for query_parameter in query_parameters %}
                            <tr>
                                <td>{{ query_parameter.0 }}</td>
                                <td>{{ query_parameter.1 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </td>
                <td style="vertical-align: top; padding: 0px 20px 0px 60px;">
                    {% if event.payload_values %}
                        <div style="padding-bottom: 15px;"><b>Identifier values from the payload of the message</b></div>
                        <table class="table table-condensed table-striped" >
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                            {% for payload_value in payload_values %}
                            <tr>
                                <td>{{ payload_value.0 }}</td>
                                <td>{{ payload_value.1 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </td>
            </tr>
        </table>


        <b>The tasks of the flow that will be executed after the confirmation</b>
        <div class="mermaid mermaid-container" id="flowDiv">
            {% autoescape off %} {{ mermaid_flow }} {% endautoescape %}
        </div>

    </div>


    <script>
   		// ---------------------- mermaid initialization ----------------------
        var config = {
            startOnLoad: true,
            theme: 'forest',
            logLevel: 4,
            securityLevel: 'loose',
            flowchart: {
                useMaxWidth: false,
                curve: 'basis',
                htmlLabels: true
            }
        };

        mermaid.initialize(config);

        $(document).ready(function () {
            // the mermaid flow used sometimes too much space (the height was much bigger than was needed) -> set the height of flow to the DIV container
            $("#flowDiv > svg").height( $("#flowDiv > svg > g").height() + 50 );

            buildTooltipForFlowNodes();

            // ---------------------- jQuery for configuring the operation (approve / reject) dialog ----------------------
            $("#operation_dialog").dialog({
                autoOpen: false,
                height: 270,
                width: 700,
                modal: true,
                position: { my: 'top', at: 'top+100' },
                buttons:[
                    {id: 'b_cancel',
                     text: 'Cancel',
                     click: function() {
                        $("#operation_dialog").dialog("close");
                     }
                    }
                ]
            })
            .parent()
            .find('.ui-dialog-buttonset')
            .prepend('<a href="{% url 'approval_reject' pk=event.id reason='43659387ghfu478gj438hf874hf64j3498r' %}" onclick="replaceUrl()" class="ui-button ui-corner-all ui-widget" style="margin-right:10px;" id="b_reject">Reject</a>')
            .prepend('<a href="{% url 'approval_approve_and_forced_start' pk=event.id %}" class="ui-button ui-corner-all ui-widget" style="margin-right:10px;" id="b_approve_and_forced_start">Approve and force to start</a>')
            .prepend('<a href="{% url 'approval_approve' pk=event.id %}" class="ui-button ui-corner-all ui-widget" style="margin-right:10px;" id="b_approve">Approve</a>');

            // displaying an error dialog if error occurred during the REST call
            {% if successful %}
                $("#l_error_message").html('{{errorMessage}}');
                $("#d_error").removeClass("hide");
                $("#d_error").dialog( "open" )
            {% endif %}
        });


        function openOperationDialog(operation) {
            $("#operation_dialog").dialog("option", "height", 270);
            // opening the dialog
            $( "#operation_dialog" ).dialog( "open" );
            $( "#operation_dialog" ).removeClass("hide");
            // hide the reason DIV at rejection
            $("#d_reason").show();
            if (operation == 'Approve and force to start') {
                $("#d_reason").hide();
                $("#operation_dialog").dialog("option", "height", 200);
                $("#b_reject").hide();
                $("#b_approve").hide();
                $("#b_approve_and_forced_start").show();
            } else if (operation == 'Approve') {
                $("#d_reason").hide();
                $("#operation_dialog").dialog("option", "height", 200);
                $("#b_reject").hide();
                $("#b_approve").show();
                $("#b_approve_and_forced_start").hide();
            } else {
                $("#b_reject").show();
                $("#b_approve").hide();
                $("#b_approve_and_forced_start").hide();
            }
            $("#l_replace_it").text(operation.toLowerCase());
        }


        function replaceUrl() {
            var href = $("#b_reject").attr('href');
            var reason = $("#i_reason").val() ? $("#i_reason").val() : "None";
            href = href.replace('43659387ghfu478gj438hf874hf64j3498r', reason);
            $("#b_reject").attr("href", href);
            return true;
        }
    </script>


    <div id="operation_dialog" title="Approve or reject the flow!" class="hide">
        <div class="form-group">
            <span>Are you sure you want to </span>
            <label id="l_replace_it"></label>
            <span> it?</span>
        </div>
        <div class="form-group" id="d_reason">
            <label >Reason of rejection:</label>
            <input type="text" id="i_reason" class="form-control" style="width: 100%"></textfield>
        </div>
    </div>

{% endblock %}