{% extends "base.html" %}

{% block title %}Approval{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}


    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'select2/select2.min.css' %}" />

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
    <script src="{% static 'datetimepicker/jquery.datetimepicker.full.js' %}"></script>
    <script src="{% static 'select2/select2.min.js' %}"></script>


    <div class="heading1">Approval</div>

    <div class="container-fluid">
        <table class="data_table table-hover">
            <tr>

            <form method="get" action="{% url 'approval_list' %}">
            <tr style="background-color: #ddd">
                <td colspan="13">
                    Events started
                    <select id="s_filter_date" name="by_date" class="form-control-static">
                        <option value="NULL" {% if by_date == 'NULL' %}selected="true"{% endif %} ></option>
                        <option value="LAST_5MINS" {% if by_date == 'LAST_5MINS' %}selected="true"{% endif %} >in the last 5 mins</option>
                        <option value="LAST_30MINS" {% if by_date == 'LAST_30MINS' %}selected="true"{% endif %} >in the last 30 mins</option>
                        <option value="LAST_1HOUR" {% if by_date == 'LAST_1HOUR' %}selected="true"{% endif %} >in the last one hour</option>
                        <option value="LAST_3HOURS" {% if by_date == 'LAST_3HOURS' %}selected="true"{% endif %} >in the last 3 hours</option>
                        <option value="LAST_24HOURS" {% if by_date == 'LAST_24HOURS' %}selected="true"{% endif %} >in the last 24 hours</option>
                        <option value="LAST_3DAYS" {% if by_date == 'LAST_3DAYS' %}selected="true"{% endif %} >in the last 3 days</option>
                        <option value="LAST_7DAYS" {% if by_date == 'LAST_7DAYS' %}selected="true"{% endif %} >in the last 7 days</option>
                        <option value="BETWEEN" {% if by_date == 'BETWEEN' %}selected="true"{% endif %} >between</option>
                    </select>
                    <span id="sp_date_period" class="hide"><input id="dtp_start_date" name="start_date" value="{{start_date}}" type="text"> and <input id="dtp_end_date" name="end_date" value="{{end_date}}" type="text"></span>
                </td>
            </tr>
            <tr style="background-color: #ddd">
                <td></td>
                <td>
                    <input type="text" value="{{filter_identifier}}" name="filter_identifier" class="form-control" style="width: 100%;"/>
                </td>
                <td>
                    <select value="{{filter_log_level}}" name="filter_log_level" id="filter_log_level" class="js-example-basic-multiple" multiple="multiple" style="width: 100%;"></select>
                </td>
                <td>
                    <input type="text" value="{{filter_execution_flow__name}}" name="filter_execution_flow__name" class="form-control" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_error_detector__name}}" name="filter_error_detector__name" class="form-control" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_event_source__name}}" name="filter_event_source__name" class="form-control" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_hosts}}" name="filter_hosts" class="form-control" style="width: 100%;"/>
                </td>
                <td style="width: 20px;" colspan="3">
                    <input type="submit" name="submit" value="Filter!" class="btn btn-info"/>
                </td>
            </tr>
            </form>
            <tr>
                <th class="data_table_header">
                    <a href="?{% url_replace order='start_date' filter_start_date=filter_start_date filter_identifier=filter_identifier filter_log_level=filter_log_level filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_hosts=filter_hosts %}">Start date</a>
                    {% autoescape off %}{% table_header_sort_icon 'start_date' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='identifier' filter_start_date=filter_start_date filter_identifier=filter_identifier filter_log_level=filter_log_level filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_hosts=filter_hosts %}">Identifier</a>
                    {% autoescape off %}{% table_header_sort_icon 'identifier' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='log_level' filter_start_date=filter_start_date filter_identifier=filter_identifier filter_log_level=filter_log_level filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_hosts=filter_hosts %}">Log level</a>
                    {% autoescape off %}{% table_header_sort_icon 'log_level' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='execution_flow__name' filter_start_date=filter_start_date filter_identifier=filter_identifier filter_log_level=filter_log_level filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_hosts=filter_hosts %}">Execution Flow</a>
                    {% autoescape off %}{% table_header_sort_icon 'execution_flow__name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='error_detector__name' filter_start_date=filter_start_date filter_identifier=filter_identifier filter_log_level=filter_log_level filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_hosts=filter_hosts %}">Error Detector</a>
                    {% autoescape off %}{% table_header_sort_icon 'error_detector__name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='event_source__name' filter_start_date=filter_start_date filter_identifier=filter_identifier filter_log_level=filter_log_level filter_execution_flow__name=filter_execution_flow__name filter_error_detector__name=filter_error_detector__name filter_event_source__name=filter_event_source__name filter_hosts=filter_hosts %}">Event source</a>
                    {% autoescape off %}{% table_header_sort_icon 'event_source__name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    Hosts
                </th>
                <th/>
            </tr>
        {% for event in object_list %}
            <tr class="{% cycle 'data_table_event_odd' 'data_table_even_line' %}">
                <td style="width: 165px;">{{ event.start_date|date:'Y-m-d H:i:s'|default_if_none:"" }}</td>
                <td>{{ event.identifier }}</td>
                <td>{{ event.log_level|default_if_none:"" }}</td>
                <td title="{% if event.execution_flow %} {{ event.execution_flow|default_if_none:"" }} {% else %} {{ event.error_detector.execution_flow|default_if_none:"" }} {% endif %}">
                    {% if event.execution_flow %} {{ event.execution_flow.name|truncatechars:50 }} {% else %} {{ event.error_detector.execution_flow.name|truncatechars:50 }} {% endif %}
                </td>
                <td title="{{ event.error_detector|default_if_none:"" }}">{{ event.error_detector.name|truncatechars:50 }}</td>
                <td title="{{ event.event_source|default_if_none:"" }}">{{ event.event_source.name|truncatechars:40 }}</td>
                <td>{% if event.execution_flow %} {{ event.execution_flow.hosts}} {% else %} {{ event.error_detector.execution_flow.hosts }} {% endif %}</td>
                <td><a href="{% url 'approval_details' pk=event.id %}">Details</a></td>
            </tr>
        {% endfor %}
            <tr>
                {# .... **Now the pagination section** .... #}
                <td colspan="14">
                {% if is_paginated %}
                    <span class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="?{% url_replace page=page_obj.previous_page_number %}" class="btn btn-info">&#60;&#60; Previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?{% url_replace page=page_obj.next_page_number %}" class="btn btn-info">Next &#62;&#62;</a>
                            {% endif %}
                        </span>
                    </span>
                {% endif %}
                </td>
            </tr>
        </table>

    </div>

    <script>
        $("#loadingDiv").show();
        $.datetimepicker.setLocale('en');

        $('#dtp_start_date').datetimepicker({
            format:'Y.m.d H:i:s',
            lang:'en'
        });
        $('#dtp_end_date').datetimepicker({
            format:'Y.m.d H:i:s',
            lang:'en'
        });


        $(document).ready(function () {
            if ($("#s_filter_date").val() == "BETWEEN") {
                $("#sp_date_period").removeClass("hide");
            }

            // ---------------------- handling the change event on the 's_insert_new_task_type' dropdown ----------------------
            $("#s_filter_date").change(function() {
                if ($(this).val() == "BETWEEN") {
                    $("#sp_date_period").removeClass("hide");
                } else {
                    $("#sp_date_period").addClass("hide");
                }
            });

            // ---------------------- adding the select2 to support log level ----------------------
            // the filtered_initiated_by contains the previously chosen initiated_by entries
            var filtered_log_levels = [{% for f in filter_log_level %}'{{f}}',{% endfor %}];
            // all the log levels that have to be displayed
            var log_levels = [{
                id: 'TRACE',
                text: "TRACE"
            }, {
                id: 'DEBUG',
                text: "DEBUG"
            }, {
                id: 'INFO',
                text: "INFO"
            }, {
                id: 'WARN',
                text: "WARN"
            }, {
                id: 'ERROR',
                text: "ERROR"
            }, {
                id: 'FATAL',
                text: "FATAL"
            }, {
            }];
            // building the select2 drop down
            buildSelect2(filtered_log_levels, log_levels, 'log_level');

            // ---------------------- adding the select2 to support initiated_by ----------------------
            // the filtered_initiated_by contains the previously chosen initiated_by entries
            var filtered_initiated_by = [{% for f in filter_initiated_by %}'{{f}}',{% endfor %}];
            // all the initiated_by entries that have to be displayed
            var initiated_by = [{
                id: 'BY_LOG',
                text: "BY_LOG"
            }, {
                id: 'MANUALLY',
                text: "MANUALLY"
            }, {
                id: 'BY_SCHEDULER',
                text: "BY_SCHEDULER"
            }, {
            }];
            // building the select2 drop down
            buildSelect2(filtered_initiated_by, initiated_by, 'initiated_by');

            $("#loadingDiv").hide();
        });


        function buildSelect2(filtered, all, type) {
            // building the select2 drop down
            $('#filter_'+type).select2({
                closeOnSelect: false,
                data: all,
                dropdownAutoWidth : true,
                placeholder: "Click..."
            });
            // adding the previously chosen entries
            if (filtered.length > 0) {
                $('#filter_'+type).val(filtered).trigger('change');
            }
        }
    </script>

{% endblock %}