{% extends "base.html" %}

{% block title %}{% if form_operation == "update" %}Edit an existing event source{% else %}Create a new event source{% endif %}{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}" />

    <script src="{% static 'js/event_source_form.js' %}"></script>
    <script src="{% static 'js/building_identifiers.js' %}"></script>


    <!-- only for hidden the div of the dialog -->
    <style>
        #build_log_header_pattern_dialog {
            display: none;
        }
        #check_log_header_pattern_dialog {
            display: none;
        }
        #accordion-resizer {
            padding: 10px;
            width: 830px;
            height: 400px;
        }
    </style>

    <script>
        var eventSourceId = {% if object.pk is None%}null{% else %}{{object.pk}}{% endif %};
        var accordion_active = {% if form.errors.log_header_pattern or form.errors.log_level %}true{% else %}false{% endif %};
        var urlForRebuildIdentifiers = "{% url 'admin_event_source_event_source_type' pk='43957793052297457' %}";

        $(document).ready(function() {
            init();
            loadIdentifierTable({% autoescape off %} {{object.identifiers|default_if_none:"[]"|default:"[]"}}, {{object.event_source_type.path_to_identifiers|default_if_none:"[]"|default:"[]"}} {% endautoescape %});
        });

        function call_check_header_pattern(eventSourceId, logEntry) {
            // displaying the loading DIV
            $("#loadingDiv").show();
			// calling the REST service to fill the textfields for the task
			var url = '{% url "admin_event_source_check_header_pattern" pk="972563956385638462754839" logentry="fjnd84hgghg34hg9384gh344j34sdf34l8bn85cx4h6h" %}';
			$.ajax({
			    type: 'GET',
				url: url = url.replace('972563956385638462754839', eventSourceId).replace('fjnd84hgghg34hg9384gh344j34sdf34l8bn85cx4h6h', logEntry),
				timeout: 20000,
				accepts: {
					text: "application/json"
				},
                success: function (_result, text) {
                    // hiding the loading DIV
                    $("#loadingDiv").hide();
                    var result = JSON.parse(_result);
                    if (result.found) {
                        var html = "<b style='color:green'>The following values were found:</b><br>";
                        html += "<table><tr><td>DATE:</td><td>"+result.date+"</td></tr><tr><td>LOG LEVEL:</td><td>"+result.logLevel+"</td></tr><tr><td>UNKNOWN:</td><td>"+result.unknown+"</td></tr></table>";
                        $("#d_check_log_header_pattern_status").html(html);
                    } else {
                        $("#d_check_log_header_pattern_status").html("<b style='color:red'>Nothing was found...</b>");
                    }
                },
                error: function (request, status, error) {
                    handleError(request, status, error);
                }
			});
        }

        function removeRelatedEvents() {
            if (confirm('!!!! WARNING !!!!\nAre you sure that you want to remove the full history (i.e. all the events) of this event source?')) {
                $("#loadingDiv").show();
                link = '{% url 'admin_event_source_remove_history' pk=object.id %}';
                window.location = link;
            }
        }

    </script>

    <div class="heading1">Event source administration - {% if form_operation == "update" %}Edit{% else %}Create{% endif %}</div>

    <div class="container" style="padding-top: 30px;">
        <form method="post" id="f_event_source_update" onsubmit="return convertIdentifiersToJSON(document.forms.f_event_source_update)">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Name :</label> <span class="glyphicon glyphicon-asterisk"></span>
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.type.id_for_label }}">Hierarchy type :</label> <span class="glyphicon glyphicon-asterisk"></span>
                        {{ form.type }}
                        {{ form.type.errors }}
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="{{ form.parent.id_for_label }}">Parent event source:</label>
                        {{ form.parent }}
                        {{ form.parent.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ form.event_source_type.id_for_label }}">Event source type:</label>
                        {{ form.event_source_type }}
                        {{ form.event_source_type.errors }}
                        {% autoescape off %}{% event_source_set_in_parent set_in_parent.event_source_type %}{% endautoescape %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="div_host" class="form-group{% if object.event_source_type.code != 'REACTION-WORKER' %} make_it_disappear{% endif %}">
                        <label for="{{ form.host.id_for_label }}">Host:</label>
                        {{ form.host }}
                        {{ form.host.errors }}
                        {% autoescape off %}{% event_source_set_in_parent set_in_parent.host %}{% endautoescape %}
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom: 10px;" id="div_identifiers">
                <div class="col-md-12">
                    <label style="padding-top: 8px;">Identifiers</label>
                </div>
                <div class="col-md-12">
                    <table class="data_table" id="table_identifiers" style="margin-top: 5px">
                        <tr>
                            <th class="data_table_header">Name</th>
                            <th class="data_table_header">Source</th>
                            <th class="data_table_header">Value <span class="glyphicon glyphicon-asterisk"></span></th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="loadingDiv" class="loadingDivPanel" style="display:none; height: 97%; padding: 10px;">
                <div style="padding-top: 50px;"></div>
                <div class="loader_small center-block"></div>
                <h1 style="color:black;">Please wait...</h1>
            </div>


            <div id="div_log_path" class="form-group{% if object.event_source_type.code != 'REACTION-WORKER' %} make_it_disappear{% endif %}">
                <label for="{{ form.log_path.id_for_label }}">Log file path: <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="The OS (e.g. UNIX) user that runs the reader worker (usually it is the 'root' user) must be able to read the file and the parent folders of the file must have read+execute permission!"></span></label>
                {{ form.log_path }}
                {{ form.log_path.errors }}
                {% autoescape off %}{% event_source_set_in_parent set_in_parent.log_path %}{% endautoescape %}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                {{ form.description }}
                {{ form.description.errors }}

            </div>
            <div class="form-group">
                <label for="{{ form.maintenance_window.id_for_label }}">Maintenance window: <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter date range like 20:00-23:00, 23:30-06:00.&#10;More date ranges can be set separated by comma.&#10;The date ranges can overflow to the following day. Eg. Mon: 23:00-04:00&#10;If no maintenance window is set for a day then no execution flow can run on that day. If you set the '00:00-24:00' for one day then the window is open on the whole day for that day. The '19:00-23:59' means that the maintenance window is open between 7PM and the end of the day (i.e. it is open at 23:59:59,999 too).&#10;WARNING! If you don't specify any date range (for none of the days) then the window is open on each day all day!&#10;If you define the following time ranges for Monday '23:00-02:00, 04:00-05:30' then it means that the maintenance window will be open on Monday morning between 04:00 and 05:30 and on Monday night between 23:00-24:00 and on Tuesday morning between 00:00-02:00!"></span></label>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="input-group">
                    <span class="input-group-addon">Monday</span>
                    <input id="i_maint_w_monday" type="text" class="form-control" name="maint_w_monday" value="{{maint_w_monday|default_if_none:''}}" placeholder="Please define the time range(s)!">
                </div>
                <label id="l_maint_w_monday_error" style="color: red;"/>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="input-group">
                    <span class="input-group-addon">Tuesday</span>
                    <input id="i_maint_w_tuesday" type="text" class="form-control" name="maint_w_tuesday" value="{{maint_w_tuesday|default_if_none:''}}"  placeholder="Please define the time range(s)!">
                </div>
                <label id="l_maint_w_tuesday_error" style="color: red;"/>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="input-group">
                    <span class="input-group-addon">Wednesday</span>
                    <input id="i_maint_w_wednesday" type="text" class="form-control" name="maint_w_wednesday" value="{{maint_w_wednesday|default_if_none:''}}"  placeholder="Please define the time range(s)!">
                </div>
                <label id="l_maint_w_wednesday_error" style="color: red;"/>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="input-group">
                    <span class="input-group-addon">Thursday</span>
                    <input id="i_maint_w_thursday" type="text" class="form-control" name="maint_w_thursday" value="{{maint_w_thursday|default_if_none:''}}"  placeholder="Please define the time range(s)!">
                </div>
                <label id="l_maint_w_thursday_error" style="color: red;"/>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="input-group">
                    <span class="input-group-addon">Friday</span>
                    <input id="i_maint_w_friday" type="text" class="form-control" name="maint_w_friday" value="{{maint_w_friday|default_if_none:''}}"  placeholder="Please define the time range(s)!">
                </div>
                <label id="l_maint_w_friday_error" style="color: red;"/>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="input-group">
                    <span class="input-group-addon">Saturday</span>
                    <input id="i_maint_w_saturday" type="text" class="form-control" name="maint_w_saturday" value="{{maint_w_saturday|default_if_none:''}}"  placeholder="Please define the time range(s)!">
                </div>
                <label id="l_maint_w_saturday_error" style="color: red;"/>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="input-group">
                    <span class="input-group-addon">Sunday</span>
                    <input id="i_maint_w_sunday" type="text" class="form-control" name="maint_w_sunday" value="{{maint_w_sunday|default_if_none:''}}"  placeholder="Please define the time range(s)!">
                </div>
                <label id="l_maint_w_sunday_error" style="color: red;"/>
            </div>

            <div id="d_advanced_settings" style="padding-bottom: 30px;" {% if object.event_source_type.code != 'REACTION-WORKER' %}class="make_it_disappear"{% endif %}>
                <h3>Advanced settings</h3>
                <div class="form-group">
                    <label for="{{ form.log_header_pattern.id_for_label }}">Log header pattern:</label> <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Please DON'T use regular expression in the log header pattern as they won't be processed as regular expressions!&#10;You mustn't mix the '.' (matching almost any single character) and other regular expression as only the '.' will be taken into account (for example: [~UNKNOWN:.0-9]  ->  only the '.' will be used here)!&#10;If the length of a character (i.e. space) can vary then you can use the ~UNKNOWN there (e.g. [~UNKNOWN: ])."></span>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="checkbox" style="position:relative; top:-10px; color:#555;">
                                <label class="pull-right">Enabled</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            {{ form.log_header_pattern_enabled }}
                        </div>
                        <div class="col-md-10">
                            {{ form.log_header_pattern }}
                            {{ form.log_header_pattern.errors }}
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5px; padding-bottom: 10px;">
                        <div class="col-md-2">
                            <button id="b_open_build_pattern" type="button" class="btn btn-info" style="width:100%">Build</button>
                        </div>
                        <div class="col-md-2">
                            <button id="b_open_check_pattern" type="button" class="btn btn-info" style="width:100%">Check</button>
                        </div>
                        <div class="col-md-1">
                            <p class="glyphicon glyphicon-exclamation-sign" style="position:relative; top:12px;" data-toggle="tooltip" title="Before checking the log header pattern save it first!"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="{{ form.log_level.id_for_label }}">Log level:</label><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="With the log header pattern (see above) the level (INFO,ERROR,etc.) of the log entry in the log file can be extracted. The minimum log level can be defined here that will be taken into account when the reader worker examines the log (i.e. if WARN is defined here then no TRACE, DEBUG, INFO will be examined even if the pattern in the error detector would match)."></span>
                            {{ form.log_level }}
                            {{ form.log_level.errors }}
                            {% autoescape off %}{% event_source_set_in_parent set_in_parent.log_level %}{% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <input type="submit" value="Save" class="btn btn-primary"/>
            <a href="{% url 'admin_event_source_list' %}" class="btn btn-primary">Cancel</a>
            <a href="#" class="btn btn-danger pull-right" onclick="removeRelatedEvents()" title="All the events will be deleted that are connected to this event source.">Remove all related events!</a>
        </form>
    </div>


    <!-- the div element for displaying the dialog to specify the log header patter -->
    <div id="build_log_header_pattern_dialog" title="Log header pattern dialog">
        <div id="accordion-resizer">
        <div id="accordion_log_header_pattern">
            <h3>Select the log header!</h3>
            <div>
                <div class="row">
                    <div class="col-md-12" style="padding: 15px;">
                        <b>Please copy&paste the log to the text area, select the log header and click on the 'Next' button!</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="ta_log" class="log_header_pattern_textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-10 col-md-2">
                        <button id="b_to_sec_accord" type="button" class="btn btn-info">Next</button>
                    </div>
                </div>
            </div>
            <h3>Specify the parts of the log header!</h3>
            <div>
                <b>Please specify the parts of the log header pattern by selecting the text and clicking on a button!</b>
                <pre id="i_log_header" style="width: 100%;"></pre>
                <table class="log_header_pattern_this_is" style="width: 100%;">
                    <tr>
                        <td style="width: 55px;white-space: nowrap ;">This is a</td>
                        <td style="width: 85px;"> <button id="b_p_date" type="button" class="btn btn-success">DATE</button></td>
                        <td style="width: 98%;" class=".form-inline">
                            <label>Date pattern:</label>
                            <span id="icon_question_dateformat" class="glyphicon glyphicon-question-sign" title=""></span>
                            <input id="i_date_pattern" type="text" style="width: 70%;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 55px;white-space: nowrap ;">This is a</td>
                        <td> <button id="b_p_loglevel" type="button" class="btn btn-success">LOGLEVEL *</button></td>
                        <td/>
                    </tr>
                    <tr>
                        <td style="width: 55px;white-space: nowrap ;">This is an</td>
                        <td> <button id="b_p_unknown" type="button" class="btn btn-success">UNKNOWN</button></td>
                        <td style="width: 98%;" class=".form-inline">
                            <label >Accepted characters:</label>
                            <span id="icon_question_acc_chars" class="glyphicon glyphicon-question-sign" title="Please specify the characters that are string can contains! For example:&#10;a-zA-Z : any alphabetical upper/lower case characters&#10;0-9 : any number&#10;^a-zA-Z0-9: NOT letter or number&#10;Regular expression can be used but specify only character that has to be in the text (ie. without '*' - match zero or more times, '+', etc.)!&#10;The '.' (matches anything) and similar metacharacters can be used too. If you need the '.' (or other metacharacter) as a character you have to escape it (e.g. '\.'). The following characters have to be escaped: <([{^-=$!]})?+>.*|"></span>
                            <input id="i_unknown_acc_chars" type="text" style="width: 58%;"/>
                        </td>
                    </tr>
                </table>
                <button id="b_to_first_accord" type="button" class="btn btn-info" style="margin-top: 20px;">Reset & Go back</button>
            </div>
        </div>
        </div>
    </div>

    <!-- the div element for displaying the dialog to check the log header patter -->
    <div id="check_log_header_pattern_dialog" title="Check the pattern">
        <div class="col-md-12">
            <div class="form-group">
                <label>Please specify the log entry to check the pattern!</label>
                <input id="i_check_pattern" type="text" style="width: 100%;"/>
            </div>
        </div>
        <div class="col-md-12">
            <input id="b_check_pattern" type="submit" value="Check" class="btn btn-info pull-right" disabled="disabled">
        </div>
        <div class="col-md-12" id="d_check_log_header_pattern_status">
        </div>
    </div>


<!-- TOOLTIP for date pattern: the table is for displaying when defining the log header pattern -->
<div id="t_dateFormat"  style="width: 900px; display:none">
 <table summary="Chart shows pattern letters, date/time component, presentation, and examples." cellpadding="0" cellspacing="3" border="0">
     <tbody><tr bgcolor="#ccccff">
         <th align="left">Letter
         </th><th align="left">Date or Time Component
         </th><th align="left">Presentation
         </th><th align="left">Examples
     </th></tr><tr>
         <td><code>G</code>
         </td><td>Era designator
         </td><td><a href="#text">Text</a>
         </td><td><code>AD</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>y</code>
         </td><td>Year
         </td><td><a href="#year">Year</a>
         </td><td><code>1996</code>; <code>96</code>
     </td></tr><tr>
         <td><code>M</code>
         </td><td>Month in year
         </td><td><a href="#month">Month</a>
         </td><td><code>July</code>; <code>Jul</code>; <code>07</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>w</code>
         </td><td>Week in year
         </td><td><a href="#number">Number</a>
         </td><td><code>27</code>
     </td></tr><tr>
         <td><code>W</code>
         </td><td>Week in month
         </td><td><a href="#number">Number</a>
         </td><td><code>2</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>D</code>
         </td><td>Day in year
         </td><td><a href="#number">Number</a>
         </td><td><code>189</code>
     </td></tr><tr>
         <td><code>d</code>
         </td><td>Day in month
         </td><td><a href="#number">Number</a>
         </td><td><code>10</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>F</code>
         </td><td>Day of week in month
         </td><td><a href="#number">Number</a>
         </td><td><code>2</code>
     </td></tr><tr>
         <td><code>E</code>
         </td><td>Day in week
         </td><td><a href="#text">Text</a>
         </td><td><code>Tuesday</code>; <code>Tue</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>a</code>
         </td><td>Am/pm marker
         </td><td><a href="#text">Text</a>
         </td><td><code>PM</code>
     </td></tr><tr>
         <td><code>H</code>
         </td><td>Hour in day (0-23)
         </td><td><a href="#number">Number</a>
         </td><td><code>0</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>k</code>
         </td><td>Hour in day (1-24)
         </td><td><a href="#number">Number</a>
         </td><td><code>24</code>
     </td></tr><tr>
         <td><code>K</code>
         </td><td>Hour in am/pm (0-11)
         </td><td><a href="#number">Number</a>
         </td><td><code>0</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>h</code>
         </td><td>Hour in am/pm (1-12)
         </td><td><a href="#number">Number</a>
         </td><td><code>12</code>
     </td></tr><tr>
         <td><code>m</code>
         </td><td>Minute in hour
         </td><td><a href="#number">Number</a>
         </td><td><code>30</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>s</code>
         </td><td>Second in minute
         </td><td><a href="#number">Number</a>
         </td><td><code>55</code>
     </td></tr><tr>
         <td><code>S</code>
         </td><td>Millisecond
         </td><td><a href="#number">Number</a>
         </td><td><code>978</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>z</code>
         </td><td>Time zone
         </td><td><a href="#timezone">General time zone</a>
         </td><td><code>Pacific Standard Time</code>; <code>PST</code>; <code>GMT-08:00</code>
     </td></tr><tr>
         <td><code>Z</code>
         </td><td>Time zone
         </td><td><a href="#rfc822timezone">RFC 822 time zone</a>
         </td><td><code>-0800</code>
 </td></tr></tbody></table>
<b>Examples</b>

 <table summary="Examples of date and time patterns interpreted in the U.S. locale" cellpadding="0" cellspacing="3" border="0">
     <tbody><tr bgcolor="#ccccff">
         <th align="left">Date and Time Pattern
         </th><th align="left">Result
     </th></tr><tr>
         <td><code>"yyyy.MM.dd G 'at' HH:mm:ss z"</code>
         </td><td><code>2001.07.04 AD at 12:08:56 PDT</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>"EEE, MMM d, ''yy"</code>
         </td><td><code>Wed, Jul 4, '01</code>
     </td></tr><tr>
         <td><code>"h:mm a"</code>
         </td><td><code>12:08 PM</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>"hh 'o''clock' a, zzzz"</code>
         </td><td><code>12 o'clock PM, Pacific Daylight Time</code>
     </td></tr><tr>
         <td><code>"K:mm a, z"</code>
         </td><td><code>0:08 PM, PDT</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>"yyyyy.MMMMM.dd GGG hh:mm aaa"</code>
         </td><td><code>02001.July.04 AD 12:08 PM</code>
     </td></tr><tr>
         <td><code>"EEE, d MMM yyyy HH:mm:ss Z"</code>
         </td><td><code>Wed, 4 Jul 2001 12:08:56 -0700</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>"yyMMddHHmmssZ"</code>
         </td><td><code>010704120856-0700</code>
     </td></tr><tr>
         <td><code>"yyyy-MM-dd'T'HH:mm:ss.SSSZ"</code>
         </td><td><code>2001-07-04T12:08:56.235-0700</code>
     </td></tr><tr bgcolor="#eeeeff">
         <td><code>"yyyy-MM-dd'T'HH:mm:ss.SSSXXX"</code>
         </td><td><code>2001-07-04T12:08:56.235-07:00</code>
     </td></tr><tr>
         <td><code>"YYYY-'W'ww-u"</code>
         </td><td><code>2001-W27-3</code>
 </td></tr></tbody></table>
 </div>

{% endblock %}