{% extends "base.html" %}

{% block title %}Event source administration{% endblock %}

{% block content %}

    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" />
    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>


    <!-- only for hidden the div of the dialog -->
    <style>
        #tree_dialog {
            display: none;
        }

        ul li:after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            margin: 1px;
        }
    </style>


    <script>
        $( function() {
            // ---------------------- jQuery for configuring the event source tree dialog ----------------------
            $("#tree_dialog").dialog({
                autoOpen: false,
                height: $(window).height()*0.9,
                width: $(window).width()*0.5,
                modal: true,
                position: { my: 'top', at: 'top+60' },
                buttons: [{
                    id: 'b_expand_all',
                    text: 'Expand all',
                    click: function() {
                        $( '.tree li' ).each( function() {
                            $( this ).addClass( 'active' );
                            $( this ).children( 'ul' ).slideDown( 'fast' );
                        });
                    }
                },
                {
                    text: 'Close',
                    click: function() {
                        $("#tree_dialog").dialog("close");
                    }
                }]
            });

            // ---------------------- jQuery for opening the event source tree dialog ----------------------
            $("#button_open_tree").on( "click", function(e) {
                // displaying the loading DIV
                $("#loadingDiv").show();
                // calling the REST service to populate the tree
                $.ajax({
                    type: 'GET',
                    url: "{% url 'admin_event_source_tree' %}",
                    timeout: 20000,
                    accepts: {
                        text: "application/json"
                    },
                    success: function (eventSources, text) {
                        // building the HTML for the event source tree
                        html = "";
                        html += buildTreeContent(eventSources);
                        $("#tree_dialog").html( html );
                        buildTree();
                        // hiding the loading DIV
                        $("#loadingDiv").hide();
                        // opening the dialog
                        $( "#tree_dialog" ).dialog( "open" );
                    },
                    error: function (request, status, error) {
                        handleError(request, status, error);
                    }
                });
            });
        } );


        function buildTreeContent(eventSources) {
            var treeHtml = "<ul style='width:100%;padding-right:12px;'>";
            eventSources.forEach(function(eventSource) {
                var liClass = eventSource.children.length > 0 ? "" : "active";
                treeHtml += "<li class='" + liClass  + "' style='padding-top: 5px;'><a title='" + getTooltip(eventSource) + "' class='tree_node_" + eventSource.type.toLowerCase()+ "' style='padding-top: 5px;'>" + eventSource.name + " [" + eventSource.type + "]</a>";
                // build the edit button
                var edit_url = '{% url 'admin_event_source_update' pk="64938391150638675342432874674848" %}';
                edit_url = edit_url.replace('64938391150638675342432874674848', eventSource.id);
                treeHtml += "&nbsp;<button type='button' onclick='location.href=&apos;" + edit_url + "&apos;;' class='btn btn-default btn-sm pull-right' style='margin-left: 20px; padding-top: 5px;' title='Edit the ["+eventSource.name+"] event source'><span class='glyphicon glyphicon-pencil'></span></button>";
                // build the jump button
                if (eventSource.type != 'ITEM') {
                    var jump_url = '{% url 'admin_event_source_list' parent_id="972563956385638462754839" %}';
                    jump_url = jump_url.replace('972563956385638462754839', eventSource.id);
                    treeHtml += "&nbsp;<button type='button' onclick='location.href=&apos;" + jump_url + "&apos;;' class='btn btn-default btn-sm pull-right' style='margin-left: 10px; padding-top: 5px;' title='Jump to the children of the ["+eventSource.name+"] event source'><span class='glyphicon glyphicon-send'></span></button>";
                }
                treeHtml += buildTreeContent(eventSource.children);
            });
            treeHtml += "</ul>";
            return treeHtml;
        }

        function getTooltip(eventSource) {
            tooltip = eventSource.name ? "Name:  " + escapeHtml(eventSource.name) + "&#10;" : "";
            tooltip += eventSource.type ? "Type:  " + escapeHtml(eventSource.type) + "&#10;" : "";
            tooltip += eventSource.host ? "Host:  " + escapeHtml(eventSource.host) + "&#10;" : "";
            tooltip += eventSource.log_path ? "Log file path:  " + escapeHtml(eventSource.log_path) + "&#10;" : "";
            tooltip += eventSource.log_header_pattern ? "Log header pattern:  " + escapeHtml(eventSource.log_header_pattern) + "&#10;" : "";
            tooltip += eventSource.description ? "Description:  " + escapeHtml(eventSource.description) + "&#10;" : "";
            tooltip += eventSource.log_level ? "Log level:  " + escapeHtml(eventSource.log_level) + "&#10;" : "";
            tooltip += eventSource.maintenance_window && eventSource.maintenance_window != '{}' ? "Maintenance window:  " + escapeHtml(eventSource.maintenance_window) + "&#10;" : "";
            return tooltip;
        }

        function escapeHtml(text) {
            if (text) {
                var map = {
                    '&': '&amp;',
                    '<': '&lt;',
                    '>': '&gt;',
                    '"': '&quot;',
                    "'": '&#039;'
                };
                return text.replace(/[&<>"']/g, function(m) { return map[m]; });
            } else {
                return text;
            }
        }

        function buildTree() {
            $( '.tree li' ).each( function() {
                if ( $( this ).children( 'ul' ).length > 0 ) {
                    $( this ).addClass( 'parent' );
                }
            });

            $( '.tree li.parent > a' ).click( function( ) {
                $( this ).parent().toggleClass( 'active' );
                $( this ).parent().children( 'ul' ).slideToggle( 'fast' );
            });
        }

    </script>


    <!-------------------------------------- MAIN CONTENT -------------------------------------------->
    <div class="heading1">Event source administration</div>

    <div class="container" style="padding-top: 30px;">
        <div class="path_at_event_source">
            <strong>Path</strong>: <a href="{% url 'admin_event_source_list' %}"><span class="glyphicon glyphicon-home"></span></a> <b>/</b>
            {% for station in path %}
                <a href="{% url 'admin_event_source_list' parent_id=station.id %}">{{ station.name }}</a>
                 <b>/</b>
            {% endfor %}
        </div>

        <table class="data_table table-hover">
            <tr>
                <th class="data_table_header">
                    <a href="?{% url_replace order='name' filter_name=filter_name filter_type=filter_type filter_event_source_type__name=filter_event_source_type__name filter_status=filter_status %}">Name</a>
                    {% autoescape off %}{% table_header_sort_icon 'name' %}{% endautoescape %}
                </th>
                <th class="data_table_header">
                    <a href="?{% url_replace order='type' filter_name=filter_name filter_type=filter_type filter_event_source_type__name=filter_event_source_type__name filter_status=filter_status %}">Type</a>
                    {% autoescape off %}{% table_header_sort_icon 'type' %}{% endautoescape %}
                </th>

                <th class="data_table_header">
                    <a href="?{% url_replace order='event_source_type' filter_name=filter_name filter_type=filter_type filter_event_source_type__name=filter_event_source_type__name filter_status=filter_status %}">Event source type</a>
                    {% autoescape off %}{% table_header_sort_icon 'event_source_type' %}{% endautoescape %}
                </th>

                <th class="data_table_header">
                    <a href="?{% url_replace order='event_source_type' filter_name=filter_name filter_type=filter_type filter_event_source_type__name=filter_event_source_type__name filter_status=filter_status %}">Status</a>
                    {% autoescape off %}{% table_header_sort_icon 'event_source_type' %}{% endautoescape %}
                </th>

                <th colspan="2"/>
            </tr>
            <tr>
                <form method="get" action="{% url 'admin_event_source_list' parent_id=parent_id %}">

                <td>
                    <input type="text" value="{{filter_name}}" name="filter_name" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_type}}" name="filter_type" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_event_source_type__name}}" name="filter_event_source_type__name" style="width: 100%;"/>
                </td>
                <td>
                    <input type="text" value="{{filter_status}}" name="filter_status" style="width: 100%;"/>
                </td>
                <td colspan="2">
                    <input type="submit" name="submit" value="Filter!" class="btn btn-info"/>
                </td>
                </form>
            </tr>
        {% for eventSource in object_list %}
            <tr class="{% cycle 'data_table_event_odd' 'data_table_even_line' %}">
                <td>{{ eventSource.name|truncatechars:55 }}</td>
                <td>{{ eventSource.type }}</td>
                <td>
                    {% if eventSource.event_source_type %}
                        {% ifequal eventSource.event_source_type.code 'REACTION-WORKER'%}
                            {{ eventSource.event_source_type.name|default_if_none:""|truncatechars:35 }}
                        {% else %}
                            <a href="{% url 'admin_event_source_type_update' pk=eventSource.event_source_type.pk %}" target="_blank" rel="noopener noreferrer">{{ eventSource.event_source_type.name|default_if_none:""|truncatechars:35 }}</a>
                        {% endifequal %}
                    {% endif %}
                </td>
                <td {% ifequal eventSource.status 'VALID' %}style="color:green"{% else %}style="color:red"{% endifequal %}>{{ eventSource.status }}</td>
                <td style="text-align: center"><a href="{% url 'admin_event_source_update' pk=eventSource.id %}"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a></td>
                <td>
                    <a href="{% url 'admin_event_source_delete' pk=eventSource.id %}" onclick="return confirm('Are you sure to delete the event source?')" style="padding-left: 10px;"><span class="glyphicon glyphicon-trash" title="Delete"></span></a>
                    {% if eventSource.type != 'ITEM' %}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'admin_event_source_list' parent_id=eventSource.id %}" title="Jump to the children">...</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if is_paginated %}
            <tr>
                {# .... **Now the pagination section** .... #}
                <td colspan="6">
                    <span class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="?{% url_replace page=page_obj.previous_page_number %}" class="btn btn-info">&#60;&#60; Previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?{% url_replace page=page_obj.next_page_number %}" class="btn btn-info">Next &#62;&#62;</a>
                            {% endif %}
                        </span>
                    </span>
                </td>
            </tr>
        {% endif %}
        </table>
        {# .... **the Create,... buttons** .... #}
        {% if parent_id == None %}
            <a href="{% url 'admin_event_source_create'%}" class="btn btn-primary">Create</a>
        {% else %}
            <a href="{% url 'admin_event_source_create' parent_id=parent_id %}" class="btn btn-primary">Create</a>
        {% endif %}
        <button id="button_open_tree" class="btn btn-primary">Tree</button>
    </div>


    <!-- the div element for displaying the event source tree dialog -->
    <div id="tree_dialog" title="Event source tree dialog" class="tree">
    </div>

{% endblock %}